Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: java-format
        name: java-format
        entry: ./tools/fix_java_format.sh --replace
        language: script
        files: '\.java$'
        require_serial: true
        pass_filenames: true
      - id: buildifier
        name: buildifier
        entry: bazel --noblock_for_lock run //:buildifier.fix
        language: system
        require_serial: true
        pass_filenames: false # this is a global check, only run it once
      - id: validate-grammar-rules
        name: validate-grammar-rules
        entry: ./tools/validate_grammar_rules.py --changed-only
        language: python
        files: '\.g4$'
        require_serial: true
        pass_filenames: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
          ]

sros: address PR review feedback (more warnings, fewer silent skips)
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/FromProtocol.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PolicyStatementEntry.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosExtractionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/warnings.txt
Due: java-format

sros: add warnf format helper and link deferred bugs to issues
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
Due: java-format

sros: model ECMP static routes and prefix-list to/address-mask bounds
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PrefixListEntry.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosExtractionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/policy_set_clauses.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/static_routes.txt
Due: java-format

sros: parse empty same-line blocks ({ })
  projects/batfish/src/main/antlr4/org/batfish/vendor/sros/grammar/SrosParser.g4
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/inline_empty_block.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/policy_set_clauses.txt
Due: java-format, validate-grammar-rules

sros: model IS-IS (single-area, levels)
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/IsisProcess.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/IsisProcessInterface.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/Router.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosExtractionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/isis.txt
  projects/common/src/main/java/org/batfish/datamodel/RoutingProtocol.java
Due: java-format

sros: extract VPRN bgp-ipvpn RD/route-targets; convert RD to VRF
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/BgpIpvpn.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/Router.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosExtractionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/vprn.txt
Due: java-format

docs: SR-OS P9 follow-ups (ECMP, prefix-list bounds, communities, IS-IS, L3VPN)
  docs/parsing/vendors/sros.md
Due: none

sros: address review feedback
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
Due: java-format

sros: model aggregate routes, LAG, multi-area OSPF, and richer policy
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/Aggregate.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/AsPathList.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/Lag.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PolicyStatementEntry.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/Router.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosExtractionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/aggregate.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/lag.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/ospf_multiarea.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/policy_comprehensive.txt
Due: java-format

docs: SR-OS P10 rungs (aggregate, LAG, multi-area OSPF, policy depth)
  docs/parsing/vendors/sros.md
Due: none

docs: rewrite the adding-a-vendor tutorial around the full pipeline
  docs/tutorials/README.md
  docs/tutorials/adding_vendor_support.md
Due: none

docs: rewrite the adding-a-vendor tutorial around the full pipeline (#9994)
  docs/tutorials/README.md
  docs/tutorials/adding_vendor_support.md
Due: none

sros: derive IS-IS system-id, honor OSPF preference and IS-IS interface metric
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/IsisProcessInterface.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/OspfProcess.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/isis_derived_system_id.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/ospf.txt
Due: java-format

sros: derive IS-IS system-id, honor OSPF preference and IS-IS interface metric
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/IsisProcessInterface.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/OspfProcess.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/isis_derived_system_id.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/isis_per_level_metric.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/ospf.txt
Due: java-format

sros: derive IS-IS system-id, honor OSPF preference and IS-IS interface metric (#9997)
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/IsisProcessInterface.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/OspfProcess.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/isis_derived_system_id.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/isis_per_level_metric.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/ospf.txt
Due: java-format

sros: report silently-ignored statements in the annotate tool
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosSilentSyntax.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosStatementTree.java
  projects/batfish/src/test/java/org/batfish/main/annotate/AnnotateTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosSilentSyntaxTest.java
  projects/batfish/src/test/resources/org/batfish/main/annotate/testconfigs/annotate-sros-ignored-after
  projects/batfish/src/test/resources/org/batfish/main/annotate/testconfigs/annotate-sros-ignored-before
Due: java-format

sros: report silently-ignored statements in the annotate tool (#9998)
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosSilentSyntax.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosStatementTree.java
  projects/batfish/src/test/java/org/batfish/main/annotate/AnnotateTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosSilentSyntaxTest.java
  projects/batfish/src/test/resources/org/batfish/main/annotate/testconfigs/annotate-sros-ignored-after
  projects/batfish/src/test/resources/org/batfish/main/annotate/testconfigs/annotate-sros-ignored-before
Due: java-format

sros: qualify VPRN interface names with their VRF
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/vprn_reused_interface.txt
Due: java-format

sros: qualify VPRN interface names with their VRF (#9999)
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/vprn_reused_interface.txt
Due: java-format

docs: make the SR-OS vendor doc a standalone reference
  README.md
  docs/parsing/vendors/sros.md
  docs/tutorials/adding_vendor_support.md
  projects/batfish/src/main/antlr4/org/batfish/vendor/sros/grammar/SrosLexer.g4
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosPreprocessor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosStatementTree.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PolicyStatementEntry.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosExtractionTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosGrammarTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosPostProcessingTest.java
Due: java-format, validate-grammar-rules

docs: make the SR-OS vendor doc a standalone reference (#10000)
  README.md
  docs/parsing/vendors/sros.md
  docs/tutorials/adding_vendor_support.md
  projects/batfish/src/main/antlr4/org/batfish/vendor/sros/grammar/SrosLexer.g4
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosPreprocessor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosStatementTree.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PolicyStatementEntry.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosExtractionTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosGrammarTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosPostProcessingTest.java
Due: java-format, validate-grammar-rules

BgpTopologyUtils: allow source IP inference without a FIB
  projects/common/src/main/java/org/batfish/datamodel/bgp/BgpTopologyUtils.java
Due: java-format

BgpTopologyUtilsTest: added test case for SourceIpInference with no FIB
  projects/common/src/test/java/org/batfish/datamodel/bgp/BgpTopologyUtilsTest.java
Due: java-format

format: BgpTopologyUtilsTest
  projects/common/src/test/java/org/batfish/datamodel/bgp/BgpTopologyUtilsTest.java
Due: java-format

BgpTopologyUtils: allow source IP inference without a FIB (#10001)
  projects/common/src/main/java/org/batfish/datamodel/bgp/BgpTopologyUtils.java
  projects/common/src/test/java/org/batfish/datamodel/bgp/BgpTopologyUtilsTest.java
Due: java-format

nxos: model IS-IS (router isis, ip router isis, single instance)
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosParser.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_common.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_isis.g4
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosStructureUsage.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/Interface.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/IsisProcess.java
  projects/batfish/src/test/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/cisco_nxos/grammar/testconfigs/nxos_isis
Due: java-format, validate-grammar-rules

nxos: model IS-IS (router isis, ip router isis)
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosParser.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_common.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_isis.g4
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosStructureUsage.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/Interface.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/IsisProcess.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/IsisVrfConfiguration.java
  projects/batfish/src/test/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/cisco_nxos/grammar/testconfigs/nxos_isis
Due: java-format, validate-grammar-rules

nxos: model IS-IS (router isis, ip router isis, single instance) (#10004)
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosParser.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_common.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_isis.g4
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosStructureUsage.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/Interface.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/IsisProcess.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/IsisVrfConfiguration.java
  projects/batfish/src/test/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/cisco_nxos/grammar/testconfigs/nxos_isis
Due: java-format, validate-grammar-rules

Junos: warn when then add-path send-count lacks group add-path send
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_policy_options.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenAddPathSendCount.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThens.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/PsThensTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-policy-add-path-send-count
Due: java-format, validate-grammar-rules

Junos: warn when then add-path send-count lacks group add-path send (#10008)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_policy_options.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenAddPathSendCount.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThens.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/PsThensTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-policy-add-path-send-count
Due: java-format, validate-grammar-rules

build: add thin_jar rule and batfish_thin.jar target
  projects/allinone/BUILD.bazel
  skylark/thin_jar.bzl
Due: none

build: add thin_jar rule and batfish_thin.jar target (#10009)
  projects/allinone/BUILD.bazel
  skylark/thin_jar.bzl
Due: none
