Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

java-format:
  name: java-format
  entry: ./tools/fix_java_format.sh --replace
  language: script
  require_serial: true
  pass_filenames: true

validate-grammar-rules:
  name: validate-grammar-rules
  entry: ./tools/validate_grammar_rules.py --changed-only
  language: python
  require_serial: true
  pass_filenames: true

Junos: parse and retain LACP force-up
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Interface.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosLacpForceUpTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-lacp-force-up
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

Junos: parse BGP stale-label holddown (#10363)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-bgp-stale-label-holddown
Due: validate-grammar-rules

Junos: extract aggregate route large communities
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosAggregateRouteLargeCommunityTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/aggregate-route-large-community
Due: java-format, validate-grammar-rules

Junos: parse and retain LACP force-up (#10366)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Interface.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosLacpForceUpTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-lacp-force-up
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

Junos: extract aggregate and generated route large communities
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/AbstractAggregateRoute.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosRouteLargeCommunityTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/route-large-community
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

Junos: extract aggregate and generated route large communities (#10360)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/AbstractAggregateRoute.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosRouteLargeCommunityTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/route-large-community
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

Junos: parse legacy MPLS label spaces
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_mpls.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosMplsLabelSpaceTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/mpls-label-space
Due: java-format, validate-grammar-rules

Junos: parse legacy MPLS label spaces (#10368)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_mpls.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosMplsLabelSpaceTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/mpls-label-space
Due: java-format, validate-grammar-rules

Junos: extract BGP disable-linklocal-addr
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/BgpGroup.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosBgpDisableLinkLocalAddressTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/bgp-disable-linklocal-addr
Due: java-format, validate-grammar-rules

Junos: extract BGP disable-linklocal-addr (#10369)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/BgpGroup.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosBgpDisableLinkLocalAddressTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/bgp-disable-linklocal-addr
Due: java-format, validate-grammar-rules

Junos: model compare-cluster-length-before-originator-id
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/main/java/org/batfish/dataplane/rib/BgpRib.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/RoutingInstance.java
  projects/batfish/src/test/java/org/batfish/dataplane/rib/BgpRibTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosBgpPathSelectionTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/bgp-path-selection
Due: java-format, validate-grammar-rules

Junos: model compare-cluster-length-before-originator-id (#10371)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/main/java/org/batfish/dataplane/rib/BgpRib.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/RoutingInstance.java
  projects/batfish/src/test/java/org/batfish/dataplane/rib/BgpRibTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosBgpPathSelectionTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/bgp-path-selection
Due: java-format, validate-grammar-rules

BgpRib: preserve arrival time across duplicate merges
  projects/batfish/src/main/java/org/batfish/dataplane/rib/BgpRib.java
  projects/batfish/src/test/java/org/batfish/dataplane/rib/Bgpv4RibTest.java
Due: java-format

BgpRib: preserve arrival time across duplicate merges (#10372)
  projects/batfish/src/main/java/org/batfish/dataplane/rib/BgpRib.java
  projects/batfish/src/test/java/org/batfish/dataplane/rib/Bgpv4RibTest.java
Due: java-format

ibdp: canonicalize node-colored schedule graph
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/schedule/NodeColoredSchedule.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/schedule/NodeColoredScheduleTest.java
Due: java-format

ibdp: canonicalize node-colored schedule graph
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/schedule/NodeColoredSchedule.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/schedule/NodeColoredScheduleTest.java
  tests/basic/genDp.ref
Due: java-format

ibdp: canonicalize node-colored schedule graph (#10373)
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/schedule/NodeColoredSchedule.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/schedule/NodeColoredScheduleTest.java
  tests/basic/genDp.ref
Due: java-format

ibdp: add topology context modifier hook
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalBdpEngine.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/TopologyContextModifier.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/IncrementalBdpEngineTest.java
Due: java-format

Junos: extract BGP socket buffer sizes
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/BgpGroup.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosBgpSocketBuffersTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-bgp-socket-buffers
Due: java-format, validate-grammar-rules

Junos: extract BGP socket buffer sizes (#10376)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/BgpGroup.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosBgpSocketBuffersTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-bgp-socket-buffers
Due: java-format, validate-grammar-rules

Junos: avoid false undefined references for generic interfaces and local certificates
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosIkeCertificateTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosPolicyInterfaceNameTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/ike-certificate-policy
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/policy-statement-from-generic-interface-name
Due: java-format

Junos: avoid false undefined references for generic interfaces and local certificates (#10377)
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosIkeCertificateTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosPolicyInterfaceNameTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/ike-certificate-policy
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/policy-statement-from-generic-interface-name
Due: java-format

Junos: align OSPF topology parsing with device behavior
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_ospf.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosOspfTopologyTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-ospf-invalid-topology
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-ospf-topology
Due: java-format, validate-grammar-rules

Junos: align OSPF topology parsing with device behavior (#10378)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_ospf.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosOspfTopologyTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-ospf-invalid-topology
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-ospf-topology
Due: java-format, validate-grammar-rules

Junos: classify channelized physical interfaces
  projects/batfish/src/main/java/org/batfish/representation/juniper/Interface.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosChannelizedInterfaceTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-channelized-interface
Due: java-format

Junos: parse bare IS-IS interface flood-reflector
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_isis.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosIsisFloodReflectorTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-isis-flood-reflector
Due: java-format, validate-grammar-rules

Junos: parse empty DHCP relay option containers
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_forwarding_options.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-dhcp-relay-forwarding
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-dhcp-relay-options
Due: validate-grammar-rules

Junos: parse BGP output queue priority silently
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_policy_options.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
Due: java-format, validate-grammar-rules

Junos: classify channelized physical interfaces (#10379)
  projects/batfish/src/main/java/org/batfish/representation/juniper/Interface.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosChannelizedInterfaceTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-channelized-interface
Due: java-format

Junos: parse bare IS-IS interface flood-reflector (#10380)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_isis.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosIsisFloodReflectorTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-isis-flood-reflector
Due: java-format, validate-grammar-rules

Junos: parse BGP output queue priority silently (#10382)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_policy_options.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
Due: java-format, validate-grammar-rules

Junos: parse empty DHCP relay option containers (#10381)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_forwarding_options.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-dhcp-relay-forwarding
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-dhcp-relay-options
Due: validate-grammar-rules

Junos: parse chassis management Ethernet alarms
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosChassisAlarmTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/chassis-alarm
Due: java-format, validate-grammar-rules

Junos: parse chassis management Ethernet alarms (#10383)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosChassisAlarmTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/chassis-alarm
Due: java-format, validate-grammar-rules

Junos: parse chassis maximum-ecmp
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosChassisMaximumEcmpTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/chassis-maximum-ecmp
Due: java-format, validate-grammar-rules

Junos: parse chassis maximum-ecmp
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LogicalSystem.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosChassisMaximumEcmpTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/chassis-maximum-ecmp
Due: java-format, validate-grammar-rules

Junos: parse chassis maximum-ecmp (#10384)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LogicalSystem.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosChassisMaximumEcmpTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/chassis-maximum-ecmp
Due: java-format, validate-grammar-rules

Path conditions:
  java-format: any of: \.java$
  validate-grammar-rules: any of: \.g4$
