Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

java-format:
  name: java-format
  entry: ./tools/fix_java_format.sh --replace
  language: script
  require_serial: true
  pass_filenames: true

validate-grammar-rules:
  name: validate-grammar-rules
  entry: ./tools/validate_grammar_rules.py --changed-only
  language: python
  require_serial: true
  pass_filenames: true

Junos: parse interface family vpls
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-family-vpls
Due: java-format, validate-grammar-rules

Junos: parse forwarding-table traceoptions (#10029)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/forwarding-table-traceoptions
Due: java-format, validate-grammar-rules

Junos: parse more label-switched-path statements (#10028)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_mpls.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosMplsLspTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/mpls-lsp-comprehensive
Due: java-format, validate-grammar-rules

Junos: parse legacy security key-chain
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_security.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/security-key-chain
Due: java-format, validate-grammar-rules

Junos: parse unit-level vlan-tags outer/inner
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-vlan-tags
Due: java-format, validate-grammar-rules

Junos: parse legacy security key-chain (#10030)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_security.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/security-key-chain
Due: java-format, validate-grammar-rules

Junos: parse unit-level vlan-tags outer/inner (#10031)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-vlan-tags
Due: java-format, validate-grammar-rules

Junos: parse interface family vpls (#10032)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-family-vpls
Due: java-format, validate-grammar-rules

Junos: track switch-options vrf-import/vrf-export policy references
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_switch_options.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/switch-options-vrf-import-list
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

Junos: track switch-options vrf-import/vrf-export policy references (#10033)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_switch_options.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/switch-options-vrf-import-list
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

Junos: parse and track ieee-802.1 rewrite-rules import
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_class_of_service.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/class-of-service-comprehensive
Due: java-format, validate-grammar-rules

Junos: lex next-hop in route-filter inline then
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/route-filter-then-next-hop
Due: java-format, validate-grammar-rules

Junos: parse and track ieee-802.1 rewrite-rules import (#10034)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_class_of_service.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/class-of-service-comprehensive
Due: java-format, validate-grammar-rules

Junos: lex next-hop in route-filter inline then (#10035)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/route-filter-then-next-hop
Due: java-format, validate-grammar-rules

Junos: parse mpls path hops
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_mpls.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/mpls-lsp-comprehensive
Due: validate-grammar-rules

Junos: parse family bridge interface-mode access and vlan-id
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-family-bridge-switching
Due: java-format, validate-grammar-rules

Junos: parse isis per-level ipv6/ipv4 metric variants
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_isis.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/isis-level-ipv6-metric
Due: java-format, validate-grammar-rules

Junos: allow empty ether-options/gigether-options block
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-gigether-options-empty
Due: java-format, validate-grammar-rules

Junos: allow empty ether-options/gigether-options block (#10039)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-gigether-options-empty
Due: java-format, validate-grammar-rules

Junos: extract family bridge interface-mode and vlan-id
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-family-bridge-switching
Due: java-format, validate-grammar-rules

Junos: parse mpls path hops (#10036)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_mpls.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/mpls-lsp-comprehensive
Due: validate-grammar-rules

Junos: parse isis per-level ipv6/ipv4 metric variants
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_isis.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/isis-level-ipv6-metric
Due: java-format, validate-grammar-rules

Junos: parse isis per-level ipv6/ipv4 metric variants (#10038)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_isis.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/isis-level-ipv6-metric
Due: java-format, validate-grammar-rules

Junos: extract family bridge interface-mode and vlan-id
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/BridgeSwitching.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Interface.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-family-bridge-switching
Due: java-format, validate-grammar-rules

Junos: parse family bridge interface-mode access and vlan-id (#10037)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/BridgeSwitching.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Interface.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-family-bridge-switching
Due: java-format, validate-grammar-rules

BGP: drop non-transitive extended communities on eBGP export
  projects/batfish/src/main/java/org/batfish/dataplane/protocols/BgpProtocolHelper.java
  projects/batfish/src/test/java/org/batfish/dataplane/protocols/BgpProtocolHelperTest.java
Due: java-format

BGP: drop non-transitive extended communities on eBGP export
  projects/batfish/src/main/java/org/batfish/dataplane/protocols/BgpProtocolHelper.java
  projects/batfish/src/test/java/org/batfish/dataplane/protocols/BgpProtocolHelperTest.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/CommunitySet.java
  projects/common/src/test/java/org/batfish/datamodel/routing_policy/communities/CommunitySetTest.java
Due: java-format

BGP: drop non-transitive extended communities on eBGP export (#10040)
  projects/batfish/src/main/java/org/batfish/dataplane/protocols/BgpProtocolHelper.java
  projects/batfish/src/test/java/org/batfish/dataplane/protocols/BgpProtocolHelperTest.java
Due: java-format

pmd: adapt to 7.26.0's WrongTestAnnotation and AssertEqualsArgumentOrder
  projects/batfish/src/test/java/org/batfish/grammar/cumulus_interfaces/CumulusInterfacesGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/java/org/batfish/main/BatfishTest.java
  projects/batfish/src/test/java/org/batfish/representation/cumulus_concatenated/CumulusConcatenatedConfigurationTest.java
  projects/batfish/src/test/java/org/batfish/representation/cumulus_nclu/BgpNeighborIpv4UnicastAddressFamilyTest.java
  projects/batfish/src/test/java/org/batfish/representation/frr/BgpNeighborIpv4UnicastAddressFamilyTest.java
  projects/batfish/src/test/java/org/batfish/representation/palo_alto/PaloAltoConfigurationTest.java
  projects/common/src/test/java/org/batfish/common/bdd/BDDSourceManagerTest.java
  projects/common/src/test/java/org/batfish/datamodel/UseConstantIpTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/AsPathRegexAtomicPredicatesTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/ConfigAtomicPredicatesTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/RegexAtomicPredicatesTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/question/searchroutepolicies/SearchRoutePoliciesAnswererTest.java
  projects/question/src/test/java/org/batfish/question/testroutepolicies/TestRoutePoliciesAnswererTest.java
  skylark/pmd/pmd-ruleset.xml
Due: java-format

Redo MODULE.bazel.local after python upgrade
  MODULE.bazel.lock
Due: none

Redo MODULE.bazel.local after python upgrade (#10045)
  MODULE.bazel.lock
Due: none

BDDRoute: include communities and tracks in hashCode
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDRoute.java
Due: java-format

Path conditions:
  java-format: any of: \.java$
  validate-grammar-rules: any of: \.g4$
