Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

java-format:
  name: java-format
  entry: ./tools/fix_java_format.sh --replace
  language: script
  require_serial: true
  pass_filenames: true

validate-grammar-rules:
  name: validate-grammar-rules
  entry: ./tools/validate_grammar_rules.py --changed-only
  language: python
  require_serial: true
  pass_filenames: true

BDDRoute: include communities and tracks in hashCode (#10046)
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDRoute.java
Due: java-format

minesweeper: add veccompose for functional composition of symbolic routes
  projects/common/src/main/java/org/batfish/common/bdd/MutableBDDInteger.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDDomain.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDRoute.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDTunnelEncapsulationAttribute.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/BDDRouteTest.java
Due: java-format

BDDInteger: add symbolic integer-vs-integer comparisons
  projects/common/src/main/java/org/batfish/common/bdd/BDDInteger.java
  projects/common/src/test/java/org/batfish/common/bdd/BDDIntegerTest.java
Due: java-format

BDDInteger: add symbolic integer-vs-integer comparisons (#10047)
  projects/common/src/main/java/org/batfish/common/bdd/BDDInteger.java
  projects/common/src/test/java/org/batfish/common/bdd/BDDIntegerTest.java
Due: java-format

minesweeper: add veccompose for functional composition of symbolic routes (#10048)
  projects/common/src/main/java/org/batfish/common/bdd/MutableBDDInteger.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDDomain.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDRoute.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDTunnelEncapsulationAttribute.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/BDDRouteTest.java
Due: java-format

MODULE.bazel.lock: regenerate after python upgrade
  MODULE.bazel.lock
Due: none

MODULE.bazel.lock: regenerate after python upgrade (#10052)
  MODULE.bazel.lock
Due: none

tools: disable implicit __init__.py creation for py_binary targets
  tools/BUILD.bazel
  tools/profiling/BUILD.bazel
Due: none

tools: disable implicit __init__.py creation for py_binary targets (#10053)
  tools/BUILD.bazel
  tools/profiling/BUILD.bazel
Due: none

BDDInteger: add firstBitsEqual for symbolic subnet comparison
  projects/common/src/main/java/org/batfish/common/bdd/BDDInteger.java
  projects/common/src/test/java/org/batfish/common/bdd/BDDIntegerTest.java
Due: java-format

BDDInteger: add firstBitsEqual for symbolic subnet comparison (#10054)
  projects/common/src/main/java/org/batfish/common/bdd/BDDInteger.java
  projects/common/src/test/java/org/batfish/common/bdd/BDDIntegerTest.java
Due: java-format

minesweeper: add free() to BDDDomain and BDDTunnelEncapsulationAttribute
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDDomain.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDTunnelEncapsulationAttribute.java
Due: java-format

minesweeper: add free() to BDDDomain and BDDTunnelEncapsulationAttribute (#10055)
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDDomain.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDTunnelEncapsulationAttribute.java
Due: java-format

minesweeper: add free() to BDDRoute
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDRoute.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/BDDRouteTest.java
Due: java-format

minesweeper: add free() to BDDRoute (#10056)
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDRoute.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/BDDRouteTest.java
Due: java-format

BDDRoute: fix copy constructor to not alias COMMUNITIES/TRACKS
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDRoute.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/BDDRouteTest.java
Due: java-format

BDDRoute: fix copy constructor to not alias COMMUNITIES/TRACKS (#10057)
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDRoute.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/BDDRouteTest.java
Due: java-format

BDDRoute: fix stale copy-constructor comment
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDRoute.java
Due: java-format

BDDRoute: drop stale copy-constructor comment (#10058)
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDRoute.java
Due: java-format

minesweeper: BDDRoute support for relational image computation
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDRoute.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDRouteFactory.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/TransferBDD.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/BDDRouteFactoryTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/BDDRouteTest.java
Due: java-format

minesweeper: BDDRoute support for relational image computation
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDDomain.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDRoute.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDRouteFactory.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/TransferBDD.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/BDDRouteFactoryTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/BDDRouteTest.java
Due: java-format

Fix CommunityMatchExprVarCollector crash on SpecialCasesRendering
  projects/minesweeper/src/main/java/org/batfish/minesweeper/communities/CommunityMatchExprVarCollector.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/communities/CommunityMatchExprVarCollectorTest.java
Due: java-format

BDDRoute: support for relational image computation (#10059)
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDDomain.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDRoute.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/BDDRouteFactory.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/TransferBDD.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/BDDRouteFactoryTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/BDDRouteTest.java
Due: java-format

juniper: hand-write AsPathRegex and GroupWildcard, drop parboiled
  .bazelrc
  projects/batfish/src/main/java/org/batfish/representation/juniper/AsPathMatchExprParser.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/AsPathRegex.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/representation/juniper/GroupWildcard.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/parboiled/AsPathRegex.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/parboiled/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/representation/juniper/parboiled/GroupWildcard.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/AsPathMatchExprParserTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/AsPathRegexTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/parboiled/BUILD.bazel
Due: java-format

juniper: hand-write AsPathRegex and GroupWildcard, drop parboiled (#10064)
  .bazelrc
  projects/batfish/src/main/java/org/batfish/representation/juniper/AsPathMatchExprParser.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/AsPathRegex.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/representation/juniper/GroupWildcard.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/parboiled/AsPathRegex.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/parboiled/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/representation/juniper/parboiled/GroupWildcard.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/AsPathMatchExprParserTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/AsPathRegexTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/parboiled/BUILD.bazel
Due: java-format

Support SpecialCasesRendering in CommunityMatchExprVarCollector by resolving well-known community names to their numeric equivalents
  projects/minesweeper/src/main/java/org/batfish/minesweeper/communities/CommunityMatchExprVarCollector.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/communities/CommunityMatchExprVarCollectorTest.java
Due: java-format

xr: fix lexing of 32-bit ASNs after 'rd', extract rd under router bgp vrf
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXrLexer.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco_xr/CiscoXrControlPlaneExtractor.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_xr/GitHub10062Test.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_xr/testconfigs/gh10062
Due: java-format, validate-grammar-rules

address codecov: cover invalid-rd warn paths, drop unreachable guards
  projects/batfish/src/main/java/org/batfish/grammar/cisco_xr/CiscoXrControlPlaneExtractor.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_xr/GitHub10062Test.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_xr/testconfigs/gh10062
Due: java-format

check_point: hand-write service-other match parser, drop parboiled
  .bazelrc
  projects/batfish/src/main/java/org/batfish/vendor/check_point_management/parsing/parboiled/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/vendor/check_point_management/parsing/parboiled/ServiceOtherMatchExpr.java
  projects/batfish/src/test/java/org/batfish/vendor/check_point_management/parsing/parboiled/ServiceOtherMatchExprTest.java
Due: java-format

ios-xr: fix lexing of 32-bit ASNs after 'rd', extract rd under router bgp vrf (#10066)
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXrLexer.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco_xr/CiscoXrControlPlaneExtractor.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_xr/GitHub10062Test.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_xr/testconfigs/gh10062
Due: java-format, validate-grammar-rules

specifiers: map ANTLR rule indices to completion anchor types
  projects/common/src/main/java/org/batfish/specifier/parboiled/SpecifierRuleAnchors.java
  projects/common/src/test/BUILD.bazel
Due: java-format

specifiers: add antlr4-c3 core and c3-based completion engine
  projects/common/src/main/java/BUILD.bazel
  projects/common/src/main/java/org/batfish/common/util/antlr4c3/BUILD.bazel
  projects/common/src/main/java/org/batfish/common/util/antlr4c3/CodeCompletionCore.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/C3PotentialMatches.java
Due: java-format

specifiers: switch autocomplete to the antlr4-c3 engine
  projects/common/src/main/antlr4/org/batfish/specifier/parboiled/grammar/SpecifierParser.g4
  projects/common/src/main/java/org/batfish/specifier/parboiled/C3PotentialMatches.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/ParboiledAutoComplete.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/SpecifierAstBuilder.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParboiledAutoCompleteInterfaceNameTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParboiledAutoCompleteNodeRoleNameTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParboiledAutoCompleteReferenceBookEntityTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParboiledAutoCompleteTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserAppTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserEnumSetTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserFilterTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserInterfaceTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserIpProtocolTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserIpSpaceTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserLocationTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserNameSetTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserNodeTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserOneAppTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserRoutingPolicyTest.java
Due: java-format, validate-grammar-rules

specifiers: c3-based autocomplete engine reproducing parboiled completions
  projects/common/src/main/antlr4/org/batfish/specifier/parboiled/grammar/SpecifierLexer.g4
  projects/common/src/main/antlr4/org/batfish/specifier/parboiled/grammar/SpecifierParser.g4
  projects/common/src/main/java/org/batfish/common/util/antlr4c3/CodeCompletionCore.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/C3PotentialMatches.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/ParboiledAutoComplete.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/SpecifierAstBuilder.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/SpecifierRuleAnchors.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/grammar/SpecifierGrammarParseTest.java
Due: java-format, validate-grammar-rules

Path conditions:
  java-format: any of: \.java$
  validate-grammar-rules: any of: \.g4$
