Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: java-format
        name: java-format
        entry: ./tools/fix_java_format.sh --replace
        language: script
        files: '\.java$'
        require_serial: true
        pass_filenames: true
      - id: buildifier
        name: buildifier
        entry: bazel --noblock_for_lock run //:buildifier.fix
        language: system
        require_serial: true
        pass_filenames: false # this is a global check, only run it once
      - id: validate-grammar-rules
        name: validate-grammar-rules
        entry: ./tools/validate_grammar_rules.py --changed-only
        language: python
        files: '\.g4$'
        require_serial: true
        pass_filenames: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
          ]

Junos: model advertise-peer-as as EXCEPT_RECEIVED_FROM, not ALWAYS
  projects/batfish/src/main/java/org/batfish/dataplane/protocols/BgpProtocolHelper.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/dataplane/protocols/BgpProtocolHelperTest.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/AllowRemoteAsOutMode.java
Due: java-format

Junos: model advertise-peer-as as EXCEPT_RECEIVED_FROM, not ALWAYS (#9916)
  projects/batfish/src/main/java/org/batfish/dataplane/protocols/BgpProtocolHelper.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/dataplane/protocols/BgpProtocolHelperTest.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/AllowRemoteAsOutMode.java
Due: java-format

Docs: quick article on evpn-vxlan
  docs/evpn_vxlan/README.md
Due: none

Junos routing-instance vrf-export: additional tests
  projects/batfish/src/test/java/org/batfish/dataplane/EvpnType5JuniperTest.java
  projects/batfish/src/test/resources/org/batfish/dataplane/testrigs/bgp-evpn-type5-route-test/configs/router1
Due: java-format

Junos vrf-export: policy name list
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/RoutingInstance.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/JuniperConfigurationTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/routing-instance-vrf-evpn-ip-prefix-routes
Due: java-format, validate-grammar-rules

Update vxlan article
  docs/evpn_vxlan/README.md
Due: none

Junos routing-instance vrf-export: additional tests
  projects/batfish/src/test/java/org/batfish/dataplane/EvpnType5JuniperTest.java
Due: java-format

Missing file
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/route-distinguisher-id-auto
Due: none

Junos: simplify vrf-export
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
Due: java-format

Junos routing-instance vrf-export
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/RoutingInstance.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/JuniperConfigurationTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/routing-instance-vrf-evpn-ip-prefix-routes
Due: java-format

LargeCommunity: add @JsonValue for correct JSON serialization
  projects/common/src/main/java/org/batfish/datamodel/bgp/community/LargeCommunity.java
  projects/common/src/test/java/org/batfish/datamodel/bgp/community/LargeCommunityTest.java
Due: java-format

LargeCommunity: add @JsonValue for correct JSON serialization (#9917)
  projects/common/src/main/java/org/batfish/datamodel/bgp/community/LargeCommunity.java
  projects/common/src/test/java/org/batfish/datamodel/bgp/community/LargeCommunityTest.java
Due: java-format

Arista: support `ip address unnumbered` on interfaces
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/AristaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_interface.g4
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaStructureUsage.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/Interface.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_interface_ip_unnumbered
Due: java-format, validate-grammar-rules

TopologyUtil: create L3 edges for /32-only point-to-point interfaces
  projects/common/src/main/java/org/batfish/common/topology/TopologyUtil.java
Due: java-format

Arista: support `ip address unnumbered` with new UnnumberedAddress type
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/AristaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_interface.g4
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaStructureUsage.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/Interface.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_interface_ip_unnumbered
  projects/common/src/main/java/org/batfish/common/topology/TopologyUtil.java
  projects/common/src/main/java/org/batfish/datamodel/Interface.java
  projects/common/src/main/java/org/batfish/datamodel/InterfaceAddress.java
  projects/common/src/main/java/org/batfish/datamodel/UnnumberedAddress.java
Due: java-format, validate-grammar-rules

Arista: support `ip address unnumbered` with new UnnumberedAddress type
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/AristaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_interface.g4
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaStructureUsage.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/Interface.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_interface_ip_unnumbered
  projects/common/src/main/java/org/batfish/common/topology/TopologyUtil.java
  projects/common/src/main/java/org/batfish/datamodel/ConcreteInterfaceAddress.java
  projects/common/src/main/java/org/batfish/datamodel/Interface.java
  projects/common/src/main/java/org/batfish/datamodel/InterfaceAddress.java
  projects/common/src/main/java/org/batfish/datamodel/LinkLocalAddress.java
  projects/common/src/main/java/org/batfish/datamodel/UnnumberedAddress.java
Due: java-format, validate-grammar-rules

Arista: support `ip address unnumbered` with new UnnumberedAddress type (#9918)
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/AristaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_interface.g4
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaStructureUsage.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/Interface.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_interface_ip_unnumbered
  projects/common/src/main/java/org/batfish/common/topology/TopologyUtil.java
  projects/common/src/main/java/org/batfish/datamodel/ConcreteInterfaceAddress.java
  projects/common/src/main/java/org/batfish/datamodel/Interface.java
  projects/common/src/main/java/org/batfish/datamodel/InterfaceAddress.java
  projects/common/src/main/java/org/batfish/datamodel/LinkLocalAddress.java
  projects/common/src/main/java/org/batfish/datamodel/UnnumberedAddress.java
Due: java-format, validate-grammar-rules

checkstyle: catch @Nullable/@Nonnull before transient, abstract, synchronized, etc.
  projects/batfish/src/main/java/org/batfish/dataplane/rib/AbstractRib.java
  projects/batfish/src/main/java/org/batfish/main/BatchManager.java
  projects/batfish/src/main/java/org/batfish/representation/frr/FrrVendorConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/a10/representation/A10Configuration.java
  projects/checkstyle.xml
  projects/common/src/main/java/org/batfish/datamodel/AbstractRouteBuilder.java
  projects/common/src/main/java/org/batfish/datamodel/BgpRoute.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnRoute.java
  projects/common/src/main/java/org/batfish/datamodel/Interface.java
  projects/common/src/main/java/org/batfish/datamodel/OspfExternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfRoute.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/AddressFamily.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/community/Community.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/community/ExtendedCommunity.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/community/StandardCommunity.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/RoutingPolicy.java
  projects/common/src/main/java/org/batfish/role/NodeRole.java
  projects/common/src/main/java/org/batfish/vendor/VendorConfiguration.java
  projects/coordinator/src/main/java/org/batfish/coordinator/WorkQueueMgr.java
Due: java-format

checkstyle: catch @Nullable/@Nonnull before transient, abstract, synchronized, etc. (#9920)
  projects/batfish/src/main/java/org/batfish/dataplane/rib/AbstractRib.java
  projects/batfish/src/main/java/org/batfish/main/BatchManager.java
  projects/batfish/src/main/java/org/batfish/representation/frr/FrrVendorConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/a10/representation/A10Configuration.java
  projects/checkstyle.xml
  projects/common/src/main/java/org/batfish/datamodel/AbstractRouteBuilder.java
  projects/common/src/main/java/org/batfish/datamodel/BgpRoute.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnRoute.java
  projects/common/src/main/java/org/batfish/datamodel/Interface.java
  projects/common/src/main/java/org/batfish/datamodel/OspfExternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfRoute.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/AddressFamily.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/community/Community.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/community/ExtendedCommunity.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/community/StandardCommunity.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/RoutingPolicy.java
  projects/common/src/main/java/org/batfish/role/NodeRole.java
  projects/common/src/main/java/org/batfish/vendor/VendorConfiguration.java
  projects/coordinator/src/main/java/org/batfish/coordinator/WorkQueueMgr.java
Due: java-format

Arista: accept IP address config regardless of position relative to `no switchport`
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConfiguration.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/eos_ip_before_no_switchport
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/ip-nat-source-static
Due: java-format

Arista: accept IP address config regardless of position relative to `no switchport` (#9921)
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConfiguration.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/eos_ip_before_no_switchport
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/ip-nat-source-static
Due: java-format

Arista: fix OSPF default interface cost when auto-cost is not configured
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/OspfProcess.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_ospf_auto_cost
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_ospf_default_cost
Due: java-format

Arista: fix OSPF default interface cost when auto-cost is not configured (#9923)
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/OspfProcess.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_ospf_auto_cost
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_ospf_default_cost
Due: java-format

Fix PAN-OS EBGP session type: use SINGLEHOP when multihop not configured
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/bgp-multihop-enabled
Due: java-format

Junos: fatal red flag error for unnormalized static routes
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/static-route-prefix-validation
Due: java-format

Arista: add 50g/400g speed forced and 100g-1/200g-2/400g-4 breakout tokens
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/AristaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_interface.g4
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_interface_speed_breakout
Due: java-format, validate-grammar-rules

Arista: add 50g/400g speed forced and 100g-1/200g-2/400g-4 breakout tokens (#9929)
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/AristaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_interface.g4
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_interface_speed_breakout
Due: java-format, validate-grammar-rules

MODULE.bazel.lock: update after python bump
  MODULE.bazel.lock
Due: none

MODULE.bazel.lock: update after python bump (#9931)
  MODULE.bazel.lock
Due: none

Fix EBGP multihop threshold: use > 1 instead of > 0
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoConfiguration.java
Due: java-format

Consolidate BGP multihop tests and add multihop 1 edge case
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
Due: java-format

Replace bgp-multihop test config with consolidated 3-peer version
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/bgp-multihop
Due: none

Remove bgp-multihop-enabled; consolidated into bgp-multihop
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/bgp-multihop-enabled
Due: none

PaloAlto: fix EBGP session type — use SINGLEHOP when multihop not configured (#9924)
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/bgp-multihop
Due: java-format

Arista: fix BGP prefix-list AF tracking in undefined-reference detection
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_bgp_neighbor_prefix_list_ipv6_af
Due: java-format

address review: remove redundant comments
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
Due: java-format

Arista: fix BGP prefix-list AF tracking in undefined-reference detection (#9932)
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_bgp_neighbor_prefix_list_ipv6_af
Due: java-format
