Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: java-format
        name: java-format
        entry: ./tools/fix_java_format.sh --replace
        language: script
        files: '\.java$'
        require_serial: true
        pass_filenames: true
      - id: buildifier
        name: buildifier
        entry: bazel --noblock_for_lock run //:buildifier.fix
        language: system
        require_serial: true
        pass_filenames: false # this is a global check, only run it once
      - id: validate-grammar-rules
        name: validate-grammar-rules
        entry: ./tools/validate_grammar_rules.py --changed-only
        language: python
        files: '\.g4$'
        require_serial: true
        pass_filenames: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
          ]

Add IPv6 address accessors to Interface
  projects/common/src/main/java/org/batfish/datamodel/Interface.java
  projects/common/src/test/java/org/batfish/datamodel/InterfaceTest.java
Due: java-format

Preserve IPv6 interface addresses in JSON
  projects/common/src/main/java/org/batfish/datamodel/Interface.java
  projects/common/src/test/java/org/batfish/datamodel/InterfaceTest.java
Due: java-format

fix(juniper): alphabetize tokens & improve sylp_ grammar
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_system.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LoginPassword.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-login-class
Due: java-format, validate-grammar-rules

feat(juniper): extend AAA parsing support (#10150)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_system.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Accounting.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureType.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LogicalSystem.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Login.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LoginClass.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LoginPassword.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LoginRetryOptions.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LoginUser.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/TacplusServer.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-accounting
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-login-class
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-login-range
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/tacplus-psk
  tests/parsing-tests/srx-testbed.ref
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

docs: record that Cisco IOS fidelity wins in the shared cisco grammar
  .claude/skills/review-vendor-pr/SKILL.md
  docs/parsing/README.md
  docs/parsing/vendors/cisco_ios.md
Due: none

docs: record that the cisco grammar is for Cisco IOS only
  .claude/skills/review-vendor-pr/SKILL.md
  docs/parsing/README.md
  docs/parsing/vendors/cisco_ios.md
Due: none

docs: record that the cisco grammar is for Cisco IOS only (#10153)
  .claude/skills/review-vendor-pr/SKILL.md
  docs/parsing/README.md
  docs/parsing/vendors/cisco_ios.md
Due: none

Add Aruba AOS-CX IPv6 interface address support
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxInterface.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
Due: java-format, validate-grammar-rules

Add Aruba AOS-CX OSPFv3 extraction support
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxInterface.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxOspfv3Process.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-ospfv3
Due: java-format, validate-grammar-rules

Add core OSPFv3 process and area model
  projects/common/src/main/java/org/batfish/datamodel/Vrf.java
  projects/common/src/main/java/org/batfish/datamodel/ospf/Ospfv3Area.java
  projects/common/src/main/java/org/batfish/datamodel/ospf/Ospfv3Process.java
  projects/common/src/test/java/org/batfish/datamodel/VrfTest.java
Due: java-format

Convert Aruba AOS-CX OSPFv3 processes
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
Due: java-format

Add OSPFv3 interface settings model
  projects/common/src/main/java/org/batfish/datamodel/Interface.java
  projects/common/src/main/java/org/batfish/datamodel/ospf/Ospfv3InterfaceSettings.java
  projects/common/src/test/java/org/batfish/datamodel/InterfaceTest.java
Due: java-format

Convert Aruba AOS-CX OSPFv3 interface settings
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
Due: java-format

Preserve IPv4 interface traffic helper semantics
  projects/common/src/main/java/org/batfish/datamodel/Interface.java
  projects/common/src/test/java/org/batfish/datamodel/InterfaceTest.java
Due: java-format

Add IPv6 connected route model
  projects/common/src/main/java/org/batfish/datamodel/AbstractRoute6.java
  projects/common/src/main/java/org/batfish/datamodel/ConnectedRoute6.java
  projects/common/src/test/java/org/batfish/datamodel/ConnectedRoute6Test.java
Due: java-format

Add IPv6 RIB foundation
  projects/batfish/src/main/java/org/batfish/dataplane/rib/AbstractRib6.java
  projects/batfish/src/main/java/org/batfish/dataplane/rib/ConnectedRib6.java
  projects/batfish/src/main/java/org/batfish/dataplane/rib/Rib6.java
  projects/batfish/src/test/java/org/batfish/dataplane/rib/Rib6Test.java
Due: java-format

Install IPv6 connected routes in VirtualRouter
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/VirtualRouterTest.java
Due: java-format

Update IPv6 connected routes on interface state changes
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/VirtualRouterTest.java
Due: java-format

Add initial OSPFv3 IPv6 dataplane support
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/Ospfv3RoutingProcess.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/main/java/org/batfish/dataplane/rib/Ospfv3Rib6.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/Ospfv3RoutingProcessTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/VirtualRouterTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/rib/Ospfv3Rib6Test.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/common/src/main/java/org/batfish/datamodel/AbstractRoute6.java
  projects/common/src/main/java/org/batfish/datamodel/Ospfv3ExternalType2Route6.java
  projects/common/src/main/java/org/batfish/datamodel/Ospfv3IntraAreaRoute6.java
  projects/common/src/main/java/org/batfish/datamodel/ospf/Ospfv3Process.java
  projects/common/src/test/java/org/batfish/datamodel/Ospfv3ProcessTest.java
  projects/common/src/test/java/org/batfish/datamodel/Ospfv3Route6Test.java
Due: java-format

Propagate OSPFv3 intra-area IPv6 routes
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalBdpEngine.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/Ospfv3RoutingProcess.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/Ospfv3PropagationTest.java
Due: java-format

Propagate OSPFv3 external IPv6 routes
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/Ospfv3RoutingProcess.java
  projects/batfish/src/main/java/org/batfish/dataplane/rib/Ospfv3Rib6.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/Ospfv3ExternalPropagationTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/rib/Ospfv3Rib6Test.java
  projects/common/src/main/java/org/batfish/datamodel/Ospfv3ExternalType2Route6.java
  projects/common/src/test/java/org/batfish/datamodel/Ospfv3Route6Test.java
Due: java-format

Add OSPFv3 inter-area IPv6 routing
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/Ospfv3RoutingProcess.java
  projects/batfish/src/main/java/org/batfish/dataplane/rib/Ospfv3Rib6.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/Ospfv3InterAreaPropagationTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/rib/Ospfv3Rib6Test.java
  projects/common/src/main/java/org/batfish/datamodel/Ospfv3InterAreaRoute6.java
  projects/common/src/test/java/org/batfish/datamodel/Ospfv3Route6Test.java
Due: java-format

Expose IPv6 main RIBs in dataplane
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalDataPlane.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/IncrementalDataPlaneIpv6Test.java
  projects/common/src/main/java/org/batfish/datamodel/DataPlane.java
  projects/common/src/main/java/org/batfish/datamodel/FinalMainRib6.java
  projects/common/src/test/java/org/batfish/datamodel/FinalMainRib6Test.java
Due: java-format

Add IPv6 forwarding information base
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalDataPlane.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/IncrementalDataPlaneIpv6Test.java
  projects/common/src/main/java/org/batfish/datamodel/DataPlane.java
  projects/common/src/main/java/org/batfish/datamodel/Fib6.java
  projects/common/src/main/java/org/batfish/datamodel/Fib6Impl.java
  projects/common/src/main/java/org/batfish/datamodel/FibEntry6.java
  projects/common/src/test/java/org/batfish/datamodel/Fib6ImplTest.java
Due: java-format

Add IPv6 FIB path tracing
  projects/batfish/src/main/java/org/batfish/dataplane/traceroute/Ipv6Trace.java
  projects/batfish/src/main/java/org/batfish/dataplane/traceroute/Ipv6TraceDisposition.java
  projects/batfish/src/main/java/org/batfish/dataplane/traceroute/Ipv6TraceHop.java
  projects/batfish/src/main/java/org/batfish/dataplane/traceroute/TracerouteEngine6.java
  projects/batfish/src/test/java/org/batfish/dataplane/traceroute/TracerouteEngine6Test.java
Due: java-format

Handle IPv6 point-to-point link-local forwarding
  projects/batfish/src/main/java/org/batfish/dataplane/traceroute/Ipv6TraceHop.java
  projects/batfish/src/main/java/org/batfish/dataplane/traceroute/TracerouteEngine6.java
  projects/batfish/src/test/java/org/batfish/dataplane/traceroute/TracerouteEngine6Test.java
Due: java-format

Add IPv6 packet and ACL model
  projects/batfish/src/main/java/org/batfish/dataplane/traceroute/TracerouteEngine6.java
  projects/batfish/src/test/java/org/batfish/dataplane/traceroute/TracerouteEngine6Test.java
  projects/common/src/main/java/org/batfish/datamodel/Flow6.java
  projects/common/src/main/java/org/batfish/datamodel/Ip6AccessList.java
  projects/common/src/main/java/org/batfish/datamodel/Ip6AccessListLine.java
  projects/common/src/test/java/org/batfish/datamodel/Flow6Test.java
  projects/common/src/test/java/org/batfish/datamodel/Ip6AccessListTest.java
Due: java-format

Attach IPv6 ACLs to interfaces
  projects/common/src/main/java/org/batfish/datamodel/Configuration.java
  projects/common/src/main/java/org/batfish/datamodel/Interface.java
  projects/common/src/main/java/org/batfish/datamodel/Ip6AccessList.java
  projects/common/src/main/java/org/batfish/datamodel/Ip6AccessListLine.java
  projects/common/src/test/java/org/batfish/datamodel/InterfaceIpv6AclTest.java
Due: java-format

Add AOS-CX IPv6 ACL enforcement
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxParser.g4
  projects/batfish/src/main/java/org/batfish/dataplane/traceroute/Ipv6TraceDisposition.java
  projects/batfish/src/main/java/org/batfish/dataplane/traceroute/TracerouteEngine6.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxInterface.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxIpv6AccessList.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxIpv6AccessListEntry.java
  projects/batfish/src/test/java/org/batfish/dataplane/traceroute/TracerouteEngine6Test.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-acl-ipv6
Due: java-format, validate-grammar-rules

Add AOS-CX IPv6 static routes
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxParser.g4
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/main/java/org/batfish/dataplane/traceroute/Ipv6TraceDisposition.java
  projects/batfish/src/main/java/org/batfish/dataplane/traceroute/TracerouteEngine6.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxStaticRoute6.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/StaticRoute6DataplaneTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/traceroute/TracerouteEngine6Test.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-static-routes-ipv6
  projects/common/src/main/java/org/batfish/datamodel/StaticRoute6.java
  projects/common/src/main/java/org/batfish/datamodel/Vrf.java
  projects/common/src/test/java/org/batfish/datamodel/StaticRoute6Test.java
Due: java-format, validate-grammar-rules

Resolve recursive IPv6 static routes
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/StaticRoute6DataplaneTest.java
  projects/common/src/main/java/org/batfish/datamodel/Fib6Impl.java
Due: java-format

Support IPv6 static route distance and tags
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxStaticRoute6.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/StaticRoute6DataplaneTest.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-static-routes-ipv6
Due: java-format, validate-grammar-rules

Support OSPFv3 in named VRFs
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/Ospfv3PropagationTest.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-ospfv3-vrf
Due: java-format, validate-grammar-rules

Support AOS-CX OSPFv3 passive interfaces
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxInterface.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxOspfv3Process.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-ospfv3
Due: java-format, validate-grammar-rules

Support AOS-CX OSPFv3 interface timers
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxInterface.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-ospfv3-interface-knobs
Due: java-format, validate-grammar-rules

Select AOS-CX OSPFv3 router IDs automatically
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-ospfv3-auto-router-id
Due: java-format

Add OSPFv3 stub area behavior
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/Ospfv3RoutingProcess.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxOspfv3Process.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/Ospfv3StubAreaPropagationTest.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-ospfv3-stub
  projects/common/src/main/java/org/batfish/datamodel/ospf/Ospfv3Area.java
  projects/common/src/test/java/org/batfish/datamodel/Ospfv3ProcessTest.java
Due: java-format

Complete OSPFv3 stub area controls
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxParser.g4
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/Ospfv3RoutingProcess.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxOspfv3Process.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/Ospfv3StubAreaPropagationTest.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-ospfv3-stub
  projects/common/src/main/java/org/batfish/datamodel/ospf/Ospfv3Area.java
  projects/common/src/test/java/org/batfish/datamodel/Ospfv3ProcessTest.java
Due: java-format, validate-grammar-rules

Add OSPFv3 external origination controls
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxParser.g4
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/Ospfv3RoutingProcess.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxOspfv3Process.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/Ospfv3ExternalPropagationTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/Ospfv3RoutingProcessTest.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-ospfv3-external-controls
  projects/common/src/main/java/org/batfish/datamodel/ospf/Ospfv3Process.java
  projects/common/src/test/java/org/batfish/datamodel/Ospfv3ProcessTest.java
Due: java-format, validate-grammar-rules

Apply IPv6 route maps to OSPFv3 redistribution
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxParser.g4
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/Ospfv3RoutingProcess.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxIpv6PrefixList.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxIpv6PrefixListEntry.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxOspfv3Process.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxRouteMapEntry.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/Ospfv3ExternalPropagationTest.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-ospfv3-redistribution-route-map
  projects/common/src/main/java/org/batfish/datamodel/RouteMap6.java
  projects/common/src/main/java/org/batfish/datamodel/ospf/Ospfv3Process.java
  projects/common/src/test/java/org/batfish/datamodel/Ospfv3ProcessTest.java
  projects/common/src/test/java/org/batfish/datamodel/RouteMap6Test.java
Due: java-format, validate-grammar-rules
