Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

java-format:
  name: java-format
  entry: ./tools/fix_java_format.sh --replace
  language: script
  require_serial: true
  pass_filenames: true

validate-grammar-rules:
  name: validate-grammar-rules
  entry: ./tools/validate_grammar_rules.py --changed-only
  language: python
  require_serial: true
  pass_filenames: true

Junos: fatal red flag error for unnormalized static routes
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/static-route-prefix-validation
Due: java-format

Junos: fatal red flag error for unnormalized static routes
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/prefix-normalization-validation
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/static-route-prefix-validation
  tests/parsing-tests/unit-tests.ref
Due: java-format

Junos: fatal error for prefixes with host bits set (#9928)
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/prefix-normalization-validation
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/static-route-prefix-validation
  tests/parsing-tests/unit-tests.ref
Due: java-format

Parse IP and MTU on PAN-OS tunnel sub-interface units (tunnel.N)
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_interface.g4
  projects/batfish/src/main/java/org/batfish/grammar/palo_alto/PaloAltoConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/paloalto_vlan_tunnel_units
Due: java-format, validate-grammar-rules

Junos: extend prefix normalization fatal error to IPv6 contexts (#9934)
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/prefix6-normalization-validation
Due: java-format

Fix import order for TUNNEL_INTERFACE_ADDRESS in PaloAltoConfigurationBuilder
  projects/batfish/src/main/java/org/batfish/grammar/palo_alto/PaloAltoConfigurationBuilder.java
Due: java-format

Junos: extend prefix normalization fatal error to IPv6 contexts (#9934) (#9937)
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/prefix6-normalization-validation
Due: java-format

PAN: parse IP and MTU on tunnel sub-interface units (tunnel.N) (#9936)
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_interface.g4
  projects/batfish/src/main/java/org/batfish/grammar/palo_alto/PaloAltoConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/paloalto_vlan_tunnel_units
Due: java-format, validate-grammar-rules

Update module.bazel.lock
  MODULE.bazel.lock
Due: none

Update module.bazel.lock (#9942)
  MODULE.bazel.lock
Due: none

AWS: add Direct Connect data model classes and parsing
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGatewayAssociation.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectVirtualInterface.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Region.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectGatewayAssociationTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectGatewayTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectVirtualInterfaceTest.java
  projects/batfish/src/test/resources/org/batfish/representation/aws/DirectConnectGatewayAssociationTest.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/DirectConnectGatewayTest.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/DirectConnectVirtualInterfaceTest.json
Due: java-format

AWS: wire Direct Connect Gateway into Transit Gateway attachment dispatch
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Region.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
  projects/common/src/main/java/org/batfish/datamodel/DeviceModel.java
Due: java-format

AWS: complete Direct Connect end-to-end routing with integration test
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectVirtualInterface.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationDirectConnectTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectVirtualInterfaceTest.java
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/Addresses.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/CustomerGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/DirectConnectGatewayAssociations.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/DirectConnectGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/InternetGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/NatGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/NetworkAcls.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/NetworkInterfaces.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/Reservations.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/RouteTables.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/SecurityGroups.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/Subnets.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayAttachments.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayPropagations.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayRouteTables.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayStaticRoutes.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayVpcAttachments.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/VirtualInterfaces.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/VpcEndpoints.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/Vpcs.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/VpnConnections.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/VpnGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/configs/onprem-router.txt
Due: java-format

AWS: implement TGW route preference for Direct Connect over VPN
  projects/batfish/src/main/java/org/batfish/representation/aws/Route.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Utils.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationDirectConnectTest.java
Due: java-format

docs: add developer guide for the symbolic routing policy engine
  docs/symbolic_engine/route_policies.md
Due: none

routes: drop legacy Next_Hop_IP and Next_Hop_Interface columns
  projects/question/src/main/java/org/batfish/question/routes/RouteRowAttribute.java
  projects/question/src/main/java/org/batfish/question/routes/RoutesAnswerer.java
  projects/question/src/main/java/org/batfish/question/routes/RoutesAnswererUtil.java
  projects/question/src/test/java/org/batfish/question/routes/RoutesAnswererTest.java
  projects/question/src/test/java/org/batfish/question/routes/RoutesAnswererUtilTest.java
  tests/basic/routes-dc-as-reuse.ref
  tests/basic/routes-diff.ref
  tests/basic/routes.ref
Due: java-format

TransferBDD: MatchLocalPreference
  docs/symbolic_engine/route_policies.md
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/TransferBDD.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/TransferBDDTest.java
Due: java-format

routes: drop legacy Next_Hop_IP and Next_Hop_Interface columns (#9944)
  projects/question/src/main/java/org/batfish/question/routes/RouteRowAttribute.java
  projects/question/src/main/java/org/batfish/question/routes/RoutesAnswerer.java
  projects/question/src/main/java/org/batfish/question/routes/RoutesAnswererUtil.java
  projects/question/src/test/java/org/batfish/question/routes/RoutesAnswererTest.java
  projects/question/src/test/java/org/batfish/question/routes/RoutesAnswererUtilTest.java
  tests/basic/routes-dc-as-reuse.ref
  tests/basic/routes-diff.ref
  tests/basic/routes.ref
Due: java-format

docs: add developer guide for the symbolic routing policy engine (#9943)
  docs/symbolic_engine/route_policies.md
Due: none

TransferBDD: MatchLocalPreference (#9945)
  docs/symbolic_engine/route_policies.md
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/TransferBDD.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/TransferBDDTest.java
Due: java-format

AWS: address Direct Connect review comments
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectVirtualInterface.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Route.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Utils.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationDirectConnectTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectVirtualInterfaceTest.java
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/configs/onprem-router.txt
Due: java-format

docs: document AWS Direct Connect modeling in aws_network_modeling.md
  docs/aws_network_modeling.md
Due: none

AWS: address remaining DX review comments (multi-RT, VPN preference, local-pref)
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Route.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationDirectConnectTest.java
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/CustomerGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/NetworkAcls.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/RouteTables.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/Subnets.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayAttachments.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayPropagations.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayRouteTables.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayVpcAttachments.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/Vpcs.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/VpnConnections.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/configs/onprem-router.txt
Due: java-format

AWS: model Direct Connect traffic-engineering communities (7224:7100/7200/7300)
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Route.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationDirectConnectTest.java
Due: java-format

AWS: drop unused BgpStatus/BgpPeerState JSON-key constants on VIF BgpPeer
  docs/aws_network_modeling.md
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectVirtualInterface.java
Due: java-format

AWS: fix PMD violations in DX support
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
Due: java-format

Junos: model commit-time and runtime semantics of policy-statement then actions
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenAsPathExpandAsList.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenAsPathExpandLastAs.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenAsPathPrepend.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenCommunityDelete.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenExternal.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenLoadBalance.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenNextHopIp.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenNextTerm.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenOrigin.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThens.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/PsThensTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-ps-then-conflicts
  tests/parsing-tests/unit-tests-warnings.ref
  tests/parsing-tests/unit-tests.ref
Due: java-format

Junos: model commit-time and runtime semantics of policy-statement then actions (#9949)
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenAsPathExpandAsList.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenAsPathExpandLastAs.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenAsPathPrepend.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenCommunityDelete.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenExternal.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenLoadBalance.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenNextHopIp.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenNextTerm.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenOrigin.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThens.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/PsThensTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-ps-then-conflicts
  tests/parsing-tests/unit-tests-warnings.ref
  tests/parsing-tests/unit-tests.ref
Due: java-format

Junos: warn on dead-config in policy-statement then actions
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenDefaultActionAccept.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenDefaultActionReject.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThens.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/PsThensTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-ps-then-conflicts
  tests/parsing-tests/unit-tests-warnings.ref
  tests/parsing-tests/unit-tests.ref
Due: java-format

Junos: warn on dead-config in policy-statement then actions (#9950)
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenDefaultActionAccept.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenDefaultActionReject.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThens.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/PsThensTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-ps-then-conflicts
  tests/parsing-tests/unit-tests-warnings.ref
  tests/parsing-tests/unit-tests.ref
Due: java-format

Junos: warn when then community add/set overlaps then community delete
  projects/batfish/src/main/java/org/batfish/representation/juniper/CommunityActionOverlap.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/CommunityActionOverlapTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-community-add-delete-overlap
Due: java-format

Path conditions:
  java-format: any of: \.java$
  validate-grammar-rules: any of: \.g4$
