Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: java-format
        name: java-format
        entry: ./tools/fix_java_format.sh --replace
        language: script
        files: '\.java$'
        require_serial: true
        pass_filenames: true
      - id: buildifier
        name: buildifier
        entry: bazel --noblock_for_lock run //:buildifier.fix
        language: system
        require_serial: true
        pass_filenames: false # this is a global check, only run it once
      - id: validate-grammar-rules
        name: validate-grammar-rules
        entry: ./tools/validate_grammar_rules.py --changed-only
        language: python
        files: '\.g4$'
        require_serial: true
        pass_filenames: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
          ]

specifiers: parse specifiers and validate input via ANTLR, not parboiled
  projects/common/src/main/java/org/batfish/specifier/parboiled/ParboiledAppSpecifier.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/ParboiledEnumSetSpecifier.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/ParboiledFilterSpecifier.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/ParboiledInputValidator.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/ParboiledInterfaceSpecifier.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/ParboiledIpProtocolSpecifier.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/ParboiledIpSpaceSpecifier.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/ParboiledLocationSpecifier.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/ParboiledNameSetSpecifier.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/ParboiledNodeSpecifier.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/ParboiledRoutingPolicySpecifier.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/SpecifierAstBuilder.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParboiledInputValidatorTest.java
Due: java-format

build: remove parboiled
  MODULE.bazel
  maven_install.json
  projects/common/src/main/antlr4/org/batfish/specifier/parboiled/grammar/SpecifierParser.g4
  projects/common/src/main/java/BUILD.bazel
  projects/common/src/main/java/org/batfish/specifier/parboiled/CommonParser.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/Parser.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/ParserUtils.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/PathElement.java
  projects/common/src/main/java/org/batfish/specifier/parboiled/SpecifierAstBuilder.java
  projects/common/src/test/BUILD.bazel
  projects/common/src/test/java/org/batfish/specifier/parboiled/CommonParserTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserAppTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserEnumSetTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserFilterTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserInterfaceTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserIpProtocolTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserIpSpaceTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserLocationTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserNameSetTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserNodeTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserOneAppTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserRoutingPolicyTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/ParserUtilsTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/PathElementTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/SpecifierAstBuilderDiffTest.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/TestParser.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/BUILD.bazel
Due: java-format, validate-grammar-rules

specifiers: add ANTLR4 grammar for the flexible specifier language
  projects/common/src/main/antlr4/org/batfish/specifier/parboiled/grammar/BUILD.bazel
  projects/common/src/main/antlr4/org/batfish/specifier/parboiled/grammar/SpecifierLexer.g4
  projects/common/src/main/antlr4/org/batfish/specifier/parboiled/grammar/SpecifierParser.g4
  projects/common/src/test/java/org/batfish/specifier/parboiled/grammar/BUILD.bazel
  projects/common/src/test/java/org/batfish/specifier/parboiled/grammar/SpecifierGrammarParseTest.java
Due: java-format, validate-grammar-rules

specifiers: build specifier AST from the ANTLR parse tree
  projects/common/src/main/antlr4/org/batfish/specifier/parboiled/grammar/SpecifierParser.g4
  projects/common/src/main/java/BUILD.bazel
  projects/common/src/main/java/org/batfish/specifier/parboiled/SpecifierAstBuilder.java
  projects/common/src/test/java/org/batfish/specifier/parboiled/SpecifierAstBuilderDiffTest.java
Due: java-format, validate-grammar-rules

ci: bump CI JDK to 25 and document JDK 21 minimum
  .github/workflows/pre-commit.yml
  docs/building_and_running/README.md
  docs/development/README.md
  docs/troubleshooting.md
  docs/tutorials/adding_vendor_support.md
  docs/tutorials/contributing_first_pr.md
Due: none

ci: bump CI JDK to 25 and document JDK 21 minimum (#10068)
  .github/workflows/pre-commit.yml
  docs/building_and_running/README.md
  docs/development/README.md
  docs/troubleshooting.md
  docs/tutorials/adding_vendor_support.md
  docs/tutorials/contributing_first_pr.md
Due: none

bazel: target Java 21 source level
  .bazelrc
Due: none

CiscoConfiguration: computeCiscoInterfaceType: add FiveGigabitEthernet
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoConfiguration.java
Due: java-format

bazel: target Java 21 source level
  .bazelrc
  projects/coordinator/src/test/java/org/batfish/coordinator/SnapshotMetadataMgrTest.java
Due: java-format

CiscoConfiguration: computeCiscoInterfaceType: add FiveGigabitEthernet (#10070)
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoConfiguration.java
Due: java-format

bazel: target Java 21 source level
  .bazelrc
  projects/batfish/src/main/java/org/batfish/job/BatfishJobExecutor.java
  projects/coordinator/src/test/java/org/batfish/coordinator/SnapshotMetadataMgrTest.java
Due: java-format

bazel: target Java 21 source level (#10069)
  .bazelrc
  projects/batfish/src/main/java/org/batfish/job/BatfishJobExecutor.java
  projects/coordinator/src/test/java/org/batfish/coordinator/SnapshotMetadataMgrTest.java
Due: java-format

Support SpecialCasesRendering in minesweeper community regex analysis
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/CommunityMatchExprToBDD.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/communities/CommunityMatchExprVarCollector.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/CommunityMatchExprToBDDTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/communities/CommunityMatchExprVarCollectorTest.java
Due: java-format

refactor(parser): type _dnsForwarders as ip, not string
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LogicalSystem.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
Due: java-format

Junos: parse some dns proxy settings (#10060)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_system.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LogicalSystem.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/dns-no-proxy
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/dns-proxy
Due: java-format, validate-grammar-rules

feat(juniper): extract syslog host and file attributes
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_system.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogArchiveSizeUnit.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogFacility.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogFile.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogHost.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogSeverity.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogTransportProtocol.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LogicalSystem.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-syslog
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-syslog-file-archive
Due: java-format, validate-grammar-rules

refactor(juniper): normalize syslog archive size and expand test coverage
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogArchiveSizeUnit.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogFile.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-syslog
Due: java-format

refactor(juniper): Use port_number rule for syslog host port
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_system.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
Due: java-format, validate-grammar-rules

ios-xr: test route-target extraction with 4-byte asplain ASN (#10062)
  projects/batfish/src/test/java/org/batfish/grammar/cisco_xr/GitHub10062Test.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_xr/testconfigs/gh10062rt
Due: java-format

Apply google-java-format to GitHub10062Test
  projects/batfish/src/test/java/org/batfish/grammar/cisco_xr/GitHub10062Test.java
Due: java-format

ios-xr: test route-target extraction with 4-byte asplain ASN (#10062) (#10073)
  projects/batfish/src/test/java/org/batfish/grammar/cisco_xr/GitHub10062Test.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_xr/testconfigs/gh10062rt
Due: java-format

fix(juniper): Validate syslog archive size range
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
Due: java-format

arista: model interface-level isis enable / isis passive; accept instance name
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_interface.g4
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista-isis
Due: java-format, validate-grammar-rules

cisco: model interface-level isis enable / isis passive (EOS + IOS)
  projects/batfish/src/main/java/org/batfish/grammar/cisco/CiscoControlPlaneExtractor.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco/CiscoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco/testconfigs/ios-isis
Due: java-format

TransferBDD: build symbolic routes over the analysis's canonical route
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/ModelGeneration.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/TransferBDD.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/TransferBDDUtils.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/compareroutepolicies/CompareRoutePoliciesUtils.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/searchroutepolicies/SearchRoutePoliciesAnswerer.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/TransferBDDTest.java
Due: java-format

TransferBDD: build symbolic routes over the analysis's canonical route (#10074)
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/ModelGeneration.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/TransferBDD.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/bdd/TransferBDDUtils.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/compareroutepolicies/CompareRoutePoliciesUtils.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/searchroutepolicies/SearchRoutePoliciesAnswerer.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/TransferBDDTest.java
Due: java-format

Model interface-level IS-IS enable/passive (Arista EOS + Cisco) (#10075)
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_interface.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco/CiscoControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco/CiscoGrammarTest.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco/testconfigs/ios-isis
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista-isis
Due: java-format, validate-grammar-rules

feat(juniper): add system ntp parsing and extraction
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_common.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_system.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LogicalSystem.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/NtpServer.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-ntp
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/ntp
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/ntp-invalid-key
Due: java-format, validate-grammar-rules

fix(juniper): handle syslog file wildcard and stacked options
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_system.g4
  tests/parsing-tests/srx-testbed.ref
  tests/parsing-tests/unit-tests.ref
Due: validate-grammar-rules

test(juniper): update parsing refs for system ntp
  tests/parsing-tests/unit-tests.ref
Due: none

palo_alto: split catch-all _null rules into per-token rules
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAltoParser.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_deviceconfig.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_ospf.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_shared.g4
Due: validate-grammar-rules

fix(juniper): rollback syslog archive/host grammar and fix testconfig
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_system.g4
  tests/parsing-tests/networks/unit-tests/configs/juniper_syslog
  tests/parsing-tests/unit-tests.ref
Due: validate-grammar-rules

flatvyos: split catch-all _null rules into per-token rules
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatvyos/FlatVyosParser.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatvyos/FlatVyos_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatvyos/FlatVyos_interfaces.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatvyos/FlatVyos_vpn.g4
Due: validate-grammar-rules

Junos: extract syslog host and file attributes (#10072)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_system.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogFacility.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogFile.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogHost.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogSeverity.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogTransportProtocol.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LogicalSystem.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-syslog
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-syslog-file-archive
  tests/parsing-tests/networks/unit-tests/configs/juniper_syslog
  tests/parsing-tests/srx-testbed.ref
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules
