Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: java-format
        name: java-format
        entry: ./tools/fix_java_format.sh --replace
        language: script
        files: '\.java$'
        require_serial: true
        pass_filenames: true
      - id: buildifier
        name: buildifier
        entry: bazel --noblock_for_lock run //:buildifier.fix
        language: system
        require_serial: true
        pass_filenames: false # this is a global check, only run it once
      - id: validate-grammar-rules
        name: validate-grammar-rules
        entry: ./tools/validate_grammar_rules.py --changed-only
        language: python
        files: '\.g4$'
        require_serial: true
        pass_filenames: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
          ]

claude: add a skill for drafting release notes (#10171)
  .claude/skills/release-notes/SKILL.md
Due: none

test(ios): Fix typo and missing parens in AAA VS test assertion
  projects/batfish/src/test/java/org/batfish/grammar/cisco/CiscoGrammarTest.java
Due: java-format

feat(fastpath): add local users, usergroups, and taskgroups
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/FastpathConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/TaskComponent.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/TaskPermission.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Taskgroup.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/UserAccount.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Usergroup.java
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/FastpathGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_users_tasks
Due: java-format, validate-grammar-rules

pmd: fix violations surfaced by the 7.27.0 upgrade
  projects/batfish/src/main/java/org/batfish/representation/aws/AwsConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/aws/ConvertedConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/azure/AzureConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/azure/ConvertedConfiguration.java
  projects/client/src/main/java/org/batfish/client/Client.java
  projects/common/src/main/java/org/batfish/datamodel/HeaderSpace.java
  projects/common/src/main/java/org/batfish/grammar/BatfishCombinedParser.java
Due: java-format

StaticRoute: intern instances, including on deserialization
  projects/common/src/main/java/org/batfish/datamodel/StaticRoute.java
  projects/common/src/test/java/org/batfish/datamodel/StaticRouteTest.java
Due: java-format

StaticRoute: intern instances, including on deserialization (#10179)
  projects/common/src/main/java/org/batfish/datamodel/StaticRoute.java
  projects/common/src/test/java/org/batfish/datamodel/StaticRouteTest.java
Due: java-format

rib: store backup routes without a per-prefix multimap
  projects/batfish/src/main/java/org/batfish/dataplane/rib/AbstractRib.java
  projects/batfish/src/main/java/org/batfish/dataplane/rib/BackupRoutes.java
  projects/batfish/src/test/java/org/batfish/dataplane/rib/BackupRoutesTest.java
Due: java-format

rib: store backup routes without a per-prefix multimap (#10180)
  projects/batfish/src/main/java/org/batfish/dataplane/rib/AbstractRib.java
  projects/batfish/src/main/java/org/batfish/dataplane/rib/BackupRoutes.java
  projects/batfish/src/test/java/org/batfish/dataplane/rib/BackupRoutesTest.java
Due: java-format

ibdp: hold static routes in lists, and delete StaticRib
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/main/java/org/batfish/dataplane/rib/StaticRib.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/VirtualRouterTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/rib/AbstractRibTest.java
Due: java-format

ibdp: hold conditional static routes in a list, not a StaticRib (#10181)
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/main/java/org/batfish/dataplane/rib/StaticRib.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/VirtualRouterTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/rib/AbstractRibTest.java
Due: java-format

ibdp: retain annotated main RIBs only when a debug flag asks
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalBdpEngine.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalDataPlane.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalDataPlanePlugin.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/IncrementalBdpEngineTest.java
  projects/batfish/src/test/java/org/batfish/main/BatfishTestUtils.java
Due: java-format

ibdp: retain annotated main RIBs only when a debug flag asks (#10182)
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalBdpEngine.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalDataPlane.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalDataPlanePlugin.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/IncrementalBdpEngineTest.java
  projects/batfish/src/test/java/org/batfish/main/BatfishTestUtils.java
Due: java-format

ForwardingAnalysis: gather unowned ARP IPs in parallel, free the BDDs
  projects/common/src/main/java/org/batfish/datamodel/ForwardingAnalysisImpl.java
Due: java-format

IOS: port AAA models to vendor-specific representation (#10170)
  projects/batfish/src/main/java/org/batfish/grammar/cisco/CiscoControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoAaa.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoAaaAccounting.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoAaaAccountingCommands.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoAaaAccountingDefault.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoAaaAuthentication.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoAaaAuthenticationLogin.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoUser.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco/CiscoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco/testconfigs/iosAaaVsModel
Due: java-format

ForwardingAnalysis: gather unowned ARP IPs in parallel, free the BDDs (#10183)
  projects/common/src/main/java/org/batfish/datamodel/ForwardingAnalysisImpl.java
Due: java-format

Rib: do not memoize a constant resolution restriction
  projects/batfish/src/main/java/org/batfish/dataplane/rib/Rib.java
Due: java-format

Rib: do not memoize a constant resolution restriction (#10185)
  projects/batfish/src/main/java/org/batfish/dataplane/rib/Rib.java
Due: java-format

Convert: keep static routes in an array, not the extractors' TreeSet
  projects/batfish/src/main/java/org/batfish/job/ConvertConfigurationJob.java
Due: java-format

Convert: rewrite static routes once, into an array
  projects/batfish/src/main/java/org/batfish/job/ConvertConfigurationJob.java
Due: java-format

Vrf: hold deserialized static routes in an array, not a TreeSet (#10184)
  projects/batfish/src/main/java/org/batfish/job/ConvertConfigurationJob.java
Due: java-format

fix(fastpath): accept unquoted user and group names
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/FastpathGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_users_tasks
Due: java-format, validate-grammar-rules

fastpath: add local users, usergroups, and taskgroups (#10172)
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/FastpathConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/TaskComponent.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/TaskPermission.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Taskgroup.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/UserAccount.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Usergroup.java
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/FastpathGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_users_tasks
Due: java-format, validate-grammar-rules

Fib: answer matching IPs per prefix instead of materializing a map
  projects/batfish/src/main/java/org/batfish/bddreachability/IpsRoutedOutInterfacesFactory.java
  projects/batfish/src/test/java/org/batfish/bddreachability/IpsRoutedOutInterfacesFactoryTest.java
  projects/batfish/src/test/java/org/batfish/bddreachability/PacketPolicyToBddTest.java
  projects/common/src/main/java/org/batfish/datamodel/Fib.java
  projects/common/src/main/java/org/batfish/datamodel/FibImpl.java
  projects/common/src/main/java/org/batfish/datamodel/ForwardingAnalysisImpl.java
  projects/common/src/test/java/org/batfish/datamodel/ForwardingAnalysisImplTest.java
  projects/common/src/test/java/org/batfish/datamodel/MockFib.java
Due: java-format

feat(fastpath): add password-policy parsing and extraction
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/FastpathConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/PasswordPolicy.java
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/FastpathGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_passwords
Due: java-format, validate-grammar-rules

Fib: answer matching IPs per prefix instead of materializing a map (#10186)
  projects/batfish/src/main/java/org/batfish/bddreachability/IpsRoutedOutInterfacesFactory.java
  projects/batfish/src/test/java/org/batfish/bddreachability/IpsRoutedOutInterfacesFactoryTest.java
  projects/batfish/src/test/java/org/batfish/bddreachability/PacketPolicyToBddTest.java
  projects/common/src/main/java/org/batfish/datamodel/Fib.java
  projects/common/src/main/java/org/batfish/datamodel/FibImpl.java
  projects/common/src/main/java/org/batfish/datamodel/ForwardingAnalysisImpl.java
  projects/common/src/test/java/org/batfish/datamodel/ForwardingAnalysisImplTest.java
  projects/common/src/test/java/org/batfish/datamodel/MockFib.java
Due: java-format

ibdp: merge protocol-independent routes into the main RIB directly
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalBdpEngine.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/VirtualRouterTest.java
Due: java-format

ibdp: merge protocol-independent routes into the main RIB directly (#10188)
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalBdpEngine.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/VirtualRouterTest.java
Due: java-format

MODULE.bazel.lock: rebuild after rules_python upgrade
  MODULE.bazel.lock
Due: none

StaticRouteHelper: rewrite stream to loop and early-exit
  projects/batfish/src/main/java/org/batfish/dataplane/protocols/StaticRouteHelper.java
Due: java-format

MODULE.bazel.lock: rebuild after rules_python upgrade (#10189)
  MODULE.bazel.lock
Due: none

StaticRouteHelper: rewrite stream to loop and early-exit (#10190)
  projects/batfish/src/main/java/org/batfish/dataplane/protocols/StaticRouteHelper.java
Due: java-format

fix(fastpath): address review on password-policy grammar
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/FastpathGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_passwords
Due: java-format, validate-grammar-rules

RibTree: skip straight to the next shorter match when a longest match is unusable
  projects/batfish/src/main/java/org/batfish/dataplane/rib/RibTree.java
  projects/batfish/src/test/java/org/batfish/dataplane/rib/AbstractRibTest.java
Due: java-format

profiling: add a headless dataplane runner
  tools/profiling/BUILD.bazel
  tools/profiling/DataplaneRunner.java
  tools/profiling/README.md
Due: java-format

RibTree: skip straight to the next shorter match when a longest match is unusable (#10191)
  projects/batfish/src/main/java/org/batfish/dataplane/rib/RibTree.java
  projects/batfish/src/test/java/org/batfish/dataplane/rib/AbstractRibTest.java
Due: java-format

fastpath: add password-policy parsing and extraction (#10187)
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/FastpathConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/PasswordPolicy.java
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/FastpathGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_passwords
Due: java-format, validate-grammar-rules
