Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: java-format
        name: java-format
        entry: ./tools/fix_java_format.sh --replace
        language: script
        files: '\.java$'
        require_serial: true
        pass_filenames: true
      - id: buildifier
        name: buildifier
        entry: bazel --noblock_for_lock run //:buildifier.fix
        language: system
        require_serial: true
        pass_filenames: false # this is a global check, only run it once
      - id: validate-grammar-rules
        name: validate-grammar-rules
        entry: ./tools/validate_grammar_rules.py --changed-only
        language: python
        files: '\.g4$'
        require_serial: true
        pass_filenames: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
          ]

pre-commit: run buildifier.check in CI
  .github/workflows/pre-commit.yml
  projects/allinone/BUILD.bazel
Due: none

pre-commit: run buildifier.check in CI (#10012)
  .github/workflows/pre-commit.yml
  projects/allinone/BUILD.bazel
Due: none

Junos: allow '>' in config object names
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosMplsLspTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-lsp-name-with-arrow
Due: java-format, validate-grammar-rules

Junos: parse fast-reroute under MPLS label-switched-path
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_mpls.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/mpls-lsp-comprehensive
Due: validate-grammar-rules

Junos: parse preference under protocols mpls
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_mpls.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-mpls
Due: validate-grammar-rules

Junos: allow '>' in config object names (#10013)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosMplsLspTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-lsp-name-with-arrow
Due: java-format, validate-grammar-rules

Junos: parse fast-reroute under MPLS label-switched-path (#10014)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_mpls.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/mpls-lsp-comprehensive
Due: validate-grammar-rules

Junos: parse preference under protocols mpls (#10015)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_mpls.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-mpls
Due: validate-grammar-rules

Junos: parse and apply routing-options static defaults
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/RoutingInformationBase.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/StaticRoute.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-static-defaults
Due: java-format, validate-grammar-rules

Extended community: accept any type octet; fix signed-byte parsing
  projects/common/src/main/java/org/batfish/datamodel/bgp/community/ExtendedCommunity.java
  projects/common/src/test/java/org/batfish/datamodel/bgp/community/ExtendedCommunityTest.java
Due: java-format

Extended community: accept any type octet; fix signed-byte parsing (#10020)
  projects/common/src/main/java/org/batfish/datamodel/bgp/community/ExtendedCommunity.java
  projects/common/src/test/java/org/batfish/datamodel/bgp/community/ExtendedCommunityTest.java
Due: java-format

Junos: parse and apply routing-options static defaults
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/RoutingInformationBase.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/StaticRoute.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/StaticRouteV4.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/StaticRouteV6.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-static-defaults
Due: java-format, validate-grammar-rules

Junos: parse and apply routing-options static defaults (#10016)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/RoutingInformationBase.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/StaticRoute.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/StaticRouteV4.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/StaticRouteV6.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-static-defaults
Due: java-format, validate-grammar-rules

Junos: parse import under class-of-service exp classifier and rewrite-rule
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_class_of_service.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/class-of-service-comprehensive
Due: validate-grammar-rules

Junos: allow interface rewrite-rules exp without protocol
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_class_of_service.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/class-of-service-comprehensive
Due: validate-grammar-rules

Junos: parse host-outbound-traffic ieee-802.1 block
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_class_of_service.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/class-of-service-comprehensive
Due: validate-grammar-rules

Junos: parse import under class-of-service exp classifier and rewrite-rule
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_class_of_service.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/class-of-service-comprehensive
Due: java-format, validate-grammar-rules

Junos: allow empty input/output-vlan-map blocks
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-vlan-map
Due: validate-grammar-rules

Junos: recognize the discard (dsc) interface
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-dsc
Due: java-format, validate-grammar-rules

Junos: allow interface rewrite-rules exp without protocol (#10022)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_class_of_service.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/class-of-service-comprehensive
Due: validate-grammar-rules

Junos: parse host-outbound-traffic ieee-802.1 block (#10023)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_class_of_service.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/class-of-service-comprehensive
Due: validate-grammar-rules

Junos: allow empty input/output-vlan-map blocks (#10024)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-vlan-map
Due: validate-grammar-rules

Junos: recognize the discard (dsc) interface (#10025)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-dsc
Due: java-format, validate-grammar-rules

Junos: parse and track class-of-service classifier/rewrite-rule import
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_class_of_service.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/class-of-service-comprehensive
Due: java-format, validate-grammar-rules

Junos: parse static ndp entry under interface family inet6 address
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-inet6-ndp
Due: java-format, validate-grammar-rules

Junos: parse and track class-of-service classifier/rewrite-rule import (#10021)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_class_of_service.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/class-of-service-comprehensive
Due: java-format, validate-grammar-rules

Junos: parse gigether-options ethernet-switch-profile
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-ethernet-switch-profile
Due: java-format, validate-grammar-rules

Junos: parse more label-switched-path statements
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_mpls.g4
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/mpls-lsp-comprehensive
Due: validate-grammar-rules

Junos: parse forwarding-table traceoptions
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/forwarding-table-traceoptions
Due: java-format, validate-grammar-rules

Junos: parse static ndp entry under interface family inet6 address (#10026)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-inet6-ndp
Due: java-format, validate-grammar-rules

Junos: parse legacy security key-chain
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_security.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/security-key-chain
Due: java-format, validate-grammar-rules

Junos: parse gigether-options ethernet-switch-profile (#10027)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-ethernet-switch-profile
Due: java-format, validate-grammar-rules

Junos: parse more label-switched-path statements
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_mpls.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosMplsLspTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/mpls-lsp-comprehensive
Due: java-format, validate-grammar-rules

Junos: parse unit-level vlan-tags outer/inner
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interfaces-vlan-tags
Due: java-format, validate-grammar-rules
