Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

java-format:
  name: java-format
  entry: ./tools/fix_java_format.sh --replace
  language: script
  require_serial: true
  pass_filenames: true

validate-grammar-rules:
  name: validate-grammar-rules
  entry: ./tools/validate_grammar_rules.py --changed-only
  language: python
  require_serial: true
  pass_filenames: true

Junos: warn when then community add/set overlaps then community delete (#9951)
  projects/batfish/src/main/java/org/batfish/representation/juniper/CommunityActionOverlap.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/CommunityActionOverlapTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-community-add-delete-overlap
Due: java-format

PAN-OS: model vlan-type interface units with IP, MTU, and SVI VLAN ID
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_interface.g4
  projects/batfish/src/main/java/org/batfish/grammar/palo_alto/PaloAltoConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/paloalto_vlan_tunnel_units
Due: java-format, validate-grammar-rules

AWS: complete Direct Connect end-to-end routing with integration test
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectVirtualInterface.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationDirectConnectTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectVirtualInterfaceTest.java
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/Addresses.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/CustomerGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/DirectConnectGatewayAssociations.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/DirectConnectGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/InternetGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/NatGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/NetworkAcls.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/NetworkInterfaces.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/Reservations.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/RouteTables.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/SecurityGroups.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/Subnets.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayAttachments.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayPropagations.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayRouteTables.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayStaticRoutes.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayVpcAttachments.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/VirtualInterfaces.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/VpcEndpoints.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/Vpcs.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/VpnConnections.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/VpnGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/configs/onprem-router.txt
Due: java-format

AWS: wire Direct Connect Gateway into Transit Gateway attachment dispatch
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Region.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
  projects/common/src/main/java/org/batfish/datamodel/DeviceModel.java
Due: java-format

AWS: implement TGW route preference for Direct Connect over VPN
  projects/batfish/src/main/java/org/batfish/representation/aws/Route.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Utils.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationDirectConnectTest.java
Due: java-format

AWS: add Direct Connect data model classes and parsing
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGatewayAssociation.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectVirtualInterface.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Region.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectGatewayAssociationTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectGatewayTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectVirtualInterfaceTest.java
  projects/batfish/src/test/resources/org/batfish/representation/aws/DirectConnectGatewayAssociationTest.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/DirectConnectGatewayTest.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/DirectConnectVirtualInterfaceTest.json
Due: java-format

docs: document AWS Direct Connect modeling in aws_network_modeling.md
  docs/aws_network_modeling.md
Due: none

AWS: address Direct Connect review comments
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectVirtualInterface.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Route.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Utils.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationDirectConnectTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectVirtualInterfaceTest.java
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/configs/onprem-router.txt
Due: java-format

AWS: drop unused BgpStatus/BgpPeerState JSON-key constants on VIF BgpPeer
  docs/aws_network_modeling.md
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectVirtualInterface.java
Due: java-format

AWS: fix PMD violations in DX support
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
Due: java-format

AWS: model Direct Connect traffic-engineering communities (7224:7100/7200/7300)
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Route.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationDirectConnectTest.java
Due: java-format

AWS: address remaining DX review comments (multi-RT, VPN preference, local-pref)
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Route.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationDirectConnectTest.java
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/CustomerGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/NetworkAcls.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/RouteTables.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/Subnets.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayAttachments.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayPropagations.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayRouteTables.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayVpcAttachments.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/Vpcs.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/VpnConnections.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/configs/onprem-router.txt
Due: java-format

AWS: read AssociationState (not State) for DXGW associations
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGatewayAssociation.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Region.java
  projects/batfish/src/test/resources/org/batfish/representation/aws/DirectConnectGatewayAssociationTest.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/DirectConnectGatewayAssociations.json
Due: java-format

AWS: prefix DXGW node names with dxgw-, set human name from API
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationDirectConnectTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectGatewayAssociationTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectGatewayTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectVirtualInterfaceTest.java
  projects/batfish/src/test/resources/org/batfish/representation/aws/DirectConnectGatewayAssociationTest.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/DirectConnectGatewayTest.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/DirectConnectVirtualInterfaceTest.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/DirectConnectGatewayAssociations.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/DirectConnectGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayAttachments.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/TransitGatewayPropagations.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway/aws_configs/VirtualInterfaces.json
Due: java-format

AWS: build Direct Connect Gateways once globally, not per-region
  docs/aws_network_modeling.md
  projects/batfish/src/main/java/org/batfish/representation/aws/AwsConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGatewayConverter.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Region.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationDirectConnectMultiRegionTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectGatewayConverterTest.java
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-east-1/DirectConnectGatewayAssociations.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-east-1/DirectConnectGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-east-1/TransitGatewayAttachments.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-east-1/TransitGatewayRouteTables.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-east-1/TransitGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-west-1/DirectConnectGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-west-1/TransitGatewayAttachments.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-west-1/TransitGatewayRouteTables.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-west-1/TransitGateways.json
Due: java-format

AWS: build Direct Connect Gateways once globally, not per-region
  docs/aws_network_modeling.md
  projects/batfish/src/main/java/org/batfish/representation/aws/AwsConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGatewayConverter.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Region.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationDirectConnectMultiRegionTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectGatewayConverterTest.java
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-east-1/DirectConnectGatewayAssociations.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-east-1/DirectConnectGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-east-1/TransitGatewayAttachments.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-east-1/TransitGatewayRouteTables.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-east-1/TransitGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-west-1/DirectConnectGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-west-1/TransitGatewayAttachments.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-west-1/TransitGatewayRouteTables.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-gateway-multi-region/aws_configs/accounts/123456789012/us-west-1/TransitGateways.json
  tests/aws/topology-example-aws.ref
  tests/basic/topology.ref
Due: java-format

AWS: model Direct Connect Private VIFs end-to-end
  docs/aws_network_modeling.md
  projects/batfish/src/main/java/org/batfish/representation/aws/AwsConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGatewayConverter.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectVirtualInterface.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Region.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/VpnGateway.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationDirectConnectPrivateVifTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationErrorTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectGatewayConverterTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectVirtualInterfaceTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/VpnGatewayTest.java
  projects/batfish/src/test/resources/org/batfish/representation/aws/DirectConnectVirtualInterfaceTest.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/Addresses.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/CustomerGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/InternetGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/NatGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/NetworkAcls.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/NetworkInterfaces.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/Reservations.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/RouteTables.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/SecurityGroups.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/Subnets.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/VirtualInterfaces.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/VpcEndpoints.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/Vpcs.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/VpnConnections.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/VpnGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/configs/onprem-high.txt
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/configs/onprem-low.txt
Due: java-format

AWS tests: hoist snapshot loading to @BeforeClass
  projects/batfish/src/test/java/org/batfish/representation/aws/ElasticsearchDomainTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/RdsInstanceTest.java
Due: java-format

AWS tests: hoist snapshot loading to @BeforeClass (#9956)
  projects/batfish/src/test/java/org/batfish/representation/aws/ElasticsearchDomainTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/RdsInstanceTest.java
Due: java-format

PAN: bridge layer2 ae trunks to vlan-type SVIs
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/snapshots/layer2_ae_trunk/configs/pa_fw
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/snapshots/layer2_ae_trunk/configs/r1
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/snapshots/layer2_ae_trunk/layer1_topology.json
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/paloalto_layer2_ae_svi
Due: java-format

PAN: bridge layer2 ae trunks to vlan-type SVIs (#9957)
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/snapshots/layer2_ae_trunk/configs/pa_fw
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/snapshots/layer2_ae_trunk/configs/r1
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/snapshots/layer2_ae_trunk/layer1_topology.json
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/paloalto_layer2_ae_svi
Due: java-format

MODULE.bazel.lock: recompute usagesDigest after python upgrade
  MODULE.bazel.lock
Due: none

MODULE.bazel.lock: recompute usagesDigest after python upgrade (#9960)
  MODULE.bazel.lock
Due: none

python: upgrade to 3.14
  MODULE.bazel
  MODULE.bazel.lock
Due: none

python: upgrade to 3.14 (#9961)
  MODULE.bazel
  MODULE.bazel.lock
Due: none

fix_java_format.sh: resolve google-java-format via @maven
  MODULE.bazel
  maven_install.json
  tools/fix_java_format.sh
  tools/format/BUILD.bazel
Due: none

java-format: drive via bazel targets, mirror buildifier.{check,fix}
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  MODULE.bazel
  docs/development/pr_preparation.md
  docs/quick_reference.md
  maven_install.json
  tools/fix_java_format.sh
  tools/format/BUILD.bazel
  tools/format/format.sh
Due: none

java-format: drive via bazel targets, mirror buildifier.{check,fix} (#9962)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  MODULE.bazel
  docs/development/pr_preparation.md
  docs/quick_reference.md
  maven_install.json
  tools/fix_java_format.sh
  tools/format/BUILD.bazel
  tools/format/format.sh
Due: none

Junos: don't crash on community regex with dk.brics-reserved chars
  projects/batfish/src/main/java/org/batfish/representation/juniper/RegexCommunityMember.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/CommunityMemberParseResultTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/RegexCommunityMemberTest.java
Due: java-format

Junos: don't crash on community regex with dk.brics-reserved chars (#9964)
  projects/batfish/src/main/java/org/batfish/representation/juniper/RegexCommunityMember.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/CommunityMemberParseResultTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/RegexCommunityMemberTest.java
Due: java-format

java-format: pre-commit wrapper to dodge ARG_MAX on huge changes
  .pre-commit-config.yaml
  tools/fix_java_format.sh
  tools/format/format.sh
Due: none

java-format: pre-commit wrapper to dodge ARG_MAX on huge changes (#9965)
  .pre-commit-config.yaml
  tools/fix_java_format.sh
  tools/format/format.sh
Due: none

PaloAlto: resolve address-object refs in BGP peer-address, local-address, and static-route nexthop
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_virtual_router.g4
  projects/batfish/src/main/java/org/batfish/grammar/palo_alto/PaloAltoConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/AddressObject.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/BgpPeer.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoStructureUsage.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/StaticRoute.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/palo_alto/PaloAltoConfigurationTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/address-object-nexthop
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/address-object-nexthop-warnings
Due: java-format, validate-grammar-rules

AWS: model Direct Connect Private VIFs end-to-end (#9955)
  docs/aws_network_modeling.md
  projects/batfish/src/main/java/org/batfish/representation/aws/AwsConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectGatewayConverter.java
  projects/batfish/src/main/java/org/batfish/representation/aws/DirectConnectVirtualInterface.java
  projects/batfish/src/main/java/org/batfish/representation/aws/Region.java
  projects/batfish/src/main/java/org/batfish/representation/aws/TransitGateway.java
  projects/batfish/src/main/java/org/batfish/representation/aws/VpnGateway.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationDirectConnectPrivateVifTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/AwsConfigurationErrorTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectGatewayConverterTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/DirectConnectVirtualInterfaceTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/VpnGatewayTest.java
  projects/batfish/src/test/resources/org/batfish/representation/aws/DirectConnectVirtualInterfaceTest.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/Addresses.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/CustomerGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/InternetGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/NatGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/NetworkAcls.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/NetworkInterfaces.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/Reservations.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/RouteTables.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/SecurityGroups.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/Subnets.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/VirtualInterfaces.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/VpcEndpoints.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/Vpcs.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/VpnConnections.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/aws_configs/VpnGateways.json
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/configs/onprem-high.txt
  projects/batfish/src/test/resources/org/batfish/representation/aws/test-direct-connect-private-vif/configs/onprem-low.txt
Due: java-format

PaloAlto: resolve address-object refs in BGP peer/local-address and static-route nexthop (#9966)
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_virtual_router.g4
  projects/batfish/src/main/java/org/batfish/grammar/palo_alto/PaloAltoConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/AddressObject.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/BgpPeer.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoStructureUsage.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/StaticRoute.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/palo_alto/PaloAltoConfigurationTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/address-object-nexthop
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/address-object-nexthop-warnings
Due: java-format, validate-grammar-rules

Junos: drop "dead-with-bare-reject" risky warning
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThens.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/PsThensTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-ps-then-conflicts
Due: java-format

Path conditions:
  java-format: any of: \.java$
  validate-grammar-rules: any of: \.g4$
