Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: java-format
        name: java-format
        entry: ./tools/fix_java_format.sh --replace
        language: script
        files: '\.java$'
        require_serial: true
        pass_filenames: true
      - id: buildifier
        name: buildifier
        entry: bazel --noblock_for_lock run //:buildifier.fix
        language: system
        require_serial: true
        pass_filenames: false # this is a global check, only run it once
      - id: validate-grammar-rules
        name: validate-grammar-rules
        entry: ./tools/validate_grammar_rules.py --changed-only
        language: python
        files: '\.g4$'
        require_serial: true
        pass_filenames: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
          ]

async-profiler: finish the upgrade (#10121)
  MODULE.bazel
  maven_install.json
Due: none

feat(cisco): extract ASA syslog logging attributes
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_logging.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLexer.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco_asa/AsaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/AsaConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/Logging.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/LoggingHost.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/SyslogTransportProtocol.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_asa/CiscoAsaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa-logging
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa-logging-bad-port
Due: java-format, validate-grammar-rules

Replace Jettison with Jackson and drop the dependency
  MODULE.bazel
  maven_install.json
  projects/batfish/src/main/java/org/batfish/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/main/CoordinatorClient.java
  projects/client/src/main/java/org/batfish/client/BUILD.bazel
  projects/client/src/main/java/org/batfish/client/Client.java
  projects/client/src/main/java/org/batfish/client/LenientJsonParser.java
  projects/client/src/main/java/org/batfish/client/QuestionHelper.java
  projects/client/src/test/java/BUILD.bazel
  projects/client/src/test/java/org/batfish/client/ClientTest.java
  projects/client/src/test/java/org/batfish/client/LenientJsonParserTest.java
  projects/client/src/test/java/org/batfish/client/QuestionHelperTest.java
  projects/common/src/main/java/BUILD.bazel
  projects/common/src/main/java/org/batfish/datamodel/questions/Question.java
  projects/coordinator/src/main/java/org/batfish/coordinator/BUILD.bazel
  projects/coordinator/src/main/java/org/batfish/coordinator/Main.java
  projects/coordinator/src/test/java/BUILD.bazel
  projects/coordinator/src/test/java/org/batfish/coordinator/MainTest.java
Due: java-format

feat(cisco_nxos): Parse ip domain-lookup and DNS source-interface
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosStructureUsage.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/DnsSourceInterface.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/NameServer.java
  projects/batfish/src/test/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/cisco_nxos/grammar/testconfigs/nxos_ip_dns
  projects/batfish/src/test/resources/org/batfish/vendor/cisco_nxos/grammar/testconfigs/nxos_ip_dns_multi_vrf
  projects/batfish/src/test/resources/org/batfish/vendor/cisco_nxos/grammar/testconfigs/nxos_ip_domain_lookup_disabled
Due: java-format, validate-grammar-rules

Replace Jettison with Jackson and drop the dependency (#10124)
  MODULE.bazel
  maven_install.json
  projects/batfish/src/main/java/org/batfish/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/main/CoordinatorClient.java
  projects/client/src/main/java/org/batfish/client/BUILD.bazel
  projects/client/src/main/java/org/batfish/client/Client.java
  projects/client/src/main/java/org/batfish/client/LenientJsonParser.java
  projects/client/src/main/java/org/batfish/client/QuestionHelper.java
  projects/client/src/test/java/BUILD.bazel
  projects/client/src/test/java/org/batfish/client/ClientTest.java
  projects/client/src/test/java/org/batfish/client/LenientJsonParserTest.java
  projects/client/src/test/java/org/batfish/client/QuestionHelperTest.java
  projects/common/src/main/java/BUILD.bazel
  projects/common/src/main/java/org/batfish/datamodel/questions/Question.java
  projects/coordinator/src/main/java/org/batfish/coordinator/BUILD.bazel
  projects/coordinator/src/main/java/org/batfish/coordinator/Main.java
  projects/coordinator/src/test/java/BUILD.bazel
  projects/coordinator/src/test/java/org/batfish/coordinator/MainTest.java
Due: java-format

ASA: extract syslog logging attributes (#10123)
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_logging.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLexer.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco_asa/AsaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/AsaConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/Logging.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/LoggingHost.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/SyslogTransportProtocol.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_asa/CiscoAsaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa-logging
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa-logging-bad-port
Due: java-format, validate-grammar-rules

NX-OS: parse ip domain-lookup and DNS source-interface (#10125)
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosStructureUsage.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/DnsSourceInterface.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/NameServer.java
  projects/batfish/src/test/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/cisco_nxos/grammar/testconfigs/nxos_ip_dns
  projects/batfish/src/test/resources/org/batfish/vendor/cisco_nxos/grammar/testconfigs/nxos_ip_dns_multi_vrf
  projects/batfish/src/test/resources/org/batfish/vendor/cisco_nxos/grammar/testconfigs/nxos_ip_domain_lookup_disabled
Due: java-format, validate-grammar-rules

Pin bazel-steward to v1.8.0
  .github/workflows/bazel-steward.yml
Due: none

bazel-steward: upgrade to v1.8.0 (#10126)
  .github/workflows/bazel-steward.yml
Due: none

maven: upgrade Jackson and Guava BOMs
  MODULE.bazel
  maven_install.json
Due: none

maven: upgrade Jackson and Guava BOMs (#10130)
  MODULE.bazel
  maven_install.json
Due: none

Updated com.ibm.icu:icu4j to 78.3
  MODULE.bazel
  maven_install.json
  projects/batfish/src/test/java/org/batfish/main/StreamDecoderTest.java
  projects/common/src/test/java/org/batfish/common/util/CommonUtilTest.java
Due: java-format

Updated com.ibm.icu:icu4j to 78.3 (#10131)
  MODULE.bazel
  maven_install.json
  projects/batfish/src/test/java/org/batfish/main/StreamDecoderTest.java
  projects/common/src/test/java/org/batfish/common/util/CommonUtilTest.java
Due: java-format

feat(cisco): model ASA DNS server groups and domain-lookup
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_ignored.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaParser.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco_asa/AsaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/AsaConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/AsaStructureUsage.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/DnsServerGroup.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/NameServer.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_asa/CiscoAsaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa_dns
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa_dns_bad_ranges
Due: java-format, validate-grammar-rules

test(cisco): cover ASA DNS server-group equals and hashCode
  projects/batfish/src/test/java/org/batfish/grammar/cisco_asa/CiscoAsaGrammarTest.java
Due: java-format

feat(cisco): extract IOS syslog logging attributes
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/CiscoLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_logging.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco/CiscoControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/Logging.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/LoggingHost.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/SyslogTransportProtocol.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco/CiscoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco/testconfigs/ios-logging
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

cisco_xr: accept 4-byte local administrator in extcommunity-set rt
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_extcommunity_set.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco_xr/CiscoXrControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_xr/CiscoXrConversions.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_xr/ExtcommunitySetRtElemAsColon.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_xr/GitHub10062Test.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_xr/XrGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_xr/testconfigs/gh10062ecrt
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/CommunityExprEvaluator.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/CommunityMatchExprEvaluator.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/ExtendedCommunityLocalAdministratorMatch.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/RouteTargetExtendedCommunityExpr.java
  projects/common/src/test/java/org/batfish/datamodel/routing_policy/communities/CommunityExprEvaluatorTest.java
  projects/common/src/test/java/org/batfish/datamodel/routing_policy/communities/CommunityMatchExprEvaluatorTest.java
  projects/common/src/test/java/org/batfish/datamodel/routing_policy/communities/ExtendedCommunityLocalAdministratorMatchTest.java
  projects/common/src/test/java/org/batfish/datamodel/routing_policy/communities/RouteTargetExtendedCommunityExprTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/CommunityMatchExprToBDDTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/collectors/CommunityMatchExprCollectorTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/communities/CommunityMatchExprVarCollectorTest.java
Due: java-format, validate-grammar-rules

cisco_xr: accept 4-byte local administrator in extcommunity-set rt (#10135)
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_extcommunity_set.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco_xr/CiscoXrControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_xr/CiscoXrConversions.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_xr/ExtcommunitySetRtElemAsColon.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_xr/GitHub10062Test.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_xr/XrGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_xr/testconfigs/gh10062ecrt
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/CommunityExprEvaluator.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/CommunityMatchExprEvaluator.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/ExtendedCommunityLocalAdministratorMatch.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/RouteTargetExtendedCommunityExpr.java
  projects/common/src/test/java/org/batfish/datamodel/routing_policy/communities/CommunityExprEvaluatorTest.java
  projects/common/src/test/java/org/batfish/datamodel/routing_policy/communities/CommunityMatchExprEvaluatorTest.java
  projects/common/src/test/java/org/batfish/datamodel/routing_policy/communities/ExtendedCommunityLocalAdministratorMatchTest.java
  projects/common/src/test/java/org/batfish/datamodel/routing_policy/communities/RouteTargetExtendedCommunityExprTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/bdd/CommunityMatchExprToBDDTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/collectors/CommunityMatchExprCollectorTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/communities/CommunityMatchExprVarCollectorTest.java
Due: java-format, validate-grammar-rules

refactor(cisco): reorganize ASA DNS grammar rules
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaParser.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/Asa_dns.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco_asa/AsaControlPlaneExtractor.java
Due: java-format, validate-grammar-rules

Junos: parse bare vstp interface entries
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_protocols.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/xstp-interface-validation
Due: java-format, validate-grammar-rules

Junos: parse bare vstp interface entries (#10139)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_protocols.g4
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/xstp-interface-validation
Due: java-format, validate-grammar-rules

claude: add review-vendor-pr skill for grammar/extraction reviews
  .claude/skills/review-vendor-pr/SKILL.md
  .claude/skills/review-vendor-pr/references/probe-harness.md
  .gitignore
Due: none

claude: add a skill for reviewing vendor parsing/extraction PRs
  .claude/skills/review-vendor-pr/SKILL.md
  .claude/skills/review-vendor-pr/references/probe-harness.md
  .gitignore
Due: none

feat(cisco): tighten ASA DNS numerics and track server groups
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/Asa_common.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/Asa_dns.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco_asa/AsaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/AsaConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/AsaStructureType.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/AsaStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_asa/CiscoAsaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa_dns_bad_ranges
Due: java-format, validate-grammar-rules

ASA: model DNS server groups and domain-lookup (#10133)
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_ignored.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaParser.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/Asa_common.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/Asa_dns.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco_asa/AsaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/AsaConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/AsaStructureType.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/AsaStructureUsage.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/DnsServerGroup.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/NameServer.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_asa/CiscoAsaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa_dns
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa_dns_bad_ranges
Due: java-format, validate-grammar-rules

claude: add a skill for reviewing vendor parsing/extraction PRs (#10140)
  .claude/skills/review-vendor-pr/SKILL.md
  .claude/skills/review-vendor-pr/references/probe-harness.md
  .gitignore
Due: none

claude: download vendor manual PDFs instead of WebFetching per question
  .claude/skills/review-vendor-pr/SKILL.md
Due: none

claude: download vendor manual PDFs instead of WebFetching per question (#10141)
  .claude/skills/review-vendor-pr/SKILL.md
Due: none

refactor(cisco): tighten logging buffered grammar
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_logging.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco/CiscoControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/Logging.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco/CiscoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco/testconfigs/ios-logging
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

Junos: optimize parenthesized AS path ranges
  projects/batfish/src/main/java/org/batfish/representation/juniper/AsPathMatchExprParser.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/AsPathMatchExprParserTest.java
Due: java-format

Junos: optimize parenthesized AS path ranges (#10142)
  projects/batfish/src/main/java/org/batfish/representation/juniper/AsPathMatchExprParser.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/AsPathMatchExprParserTest.java
Due: java-format

feat(fastpath): Extract and convert DNS/NTP/Syslog attributes
  projects/batfish/src/main/java/org/batfish/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/job/ParseVendorConfigurationJob.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/FastpathConfiguration.java
Due: java-format

refactor(fastpath): split s_set dispatcher rule
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathConfigurationBuilder.java
Due: java-format, validate-grammar-rules

feat(fastpath): Add FastPath detection and skeleton
  projects/batfish/src/main/java/org/batfish/grammar/VendorConfigurationFormatDetector.java
  projects/batfish/src/main/java/org/batfish/job/ParseVendorConfigurationJob.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/package-info.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/package-info.java
  projects/batfish/src/test/java/org/batfish/grammar/VendorConfigurationFormatDetectorTest.java
  projects/common/src/main/java/org/batfish/datamodel/ConfigurationFormat.java
  projects/common/src/main/java/org/batfish/datamodel/DeviceModel.java
Due: java-format

test(fastpath): Add robustness, real-config, and annotate tests
  projects/batfish/src/test/java/org/batfish/main/annotate/AnnotateTest.java
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/FastpathGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/main/annotate/testconfigs/annotate-fastpath-after
  projects/batfish/src/test/resources/org/batfish/main/annotate/testconfigs/annotate-fastpath-before
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_management_services
Due: java-format

fix(fastpath): harden double-quote lexer recovery
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/Fastpath_common.g4
Due: validate-grammar-rules

test(fastpath): Add FastPath grammar tests and fixtures
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/BUILD.bazel
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/FastpathGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/BUILD.bazel
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_banner
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_dns
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_hostname
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_ntp
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_set_prompt
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_syslog
Due: java-format
