Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: java-format
        name: java-format
        entry: ./tools/fix_java_format.sh --replace
        language: script
        files: '\.java$'
        require_serial: true
        pass_filenames: true
      - id: buildifier
        name: buildifier
        entry: bazel --noblock_for_lock run //:buildifier.fix
        language: system
        require_serial: true
        pass_filenames: false # this is a global check, only run it once
      - id: validate-grammar-rules
        name: validate-grammar-rules
        entry: ./tools/validate_grammar_rules.py --changed-only
        language: python
        files: '\.g4$'
        require_serial: true
        pass_filenames: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
          ]

cisco_asa: split catch-all _null rules into per-token rules
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_cable.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_crypto.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_eigrp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_line.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_logging.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_ntp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_ospf.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_pim.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_snmp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaParser.g4
Due: validate-grammar-rules

a10: split catch-all _null rules into per-token rules
  projects/batfish/src/main/antlr4/org/batfish/vendor/a10/grammar/A10_router_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/a10/grammar/A10_vrrp_a.g4
Due: validate-grammar-rules

cisco_nxos: split catch-all _null rules into per-token rules
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosParser.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_flow.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_ospf.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_ospfv3.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_policy_map.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_tacacs_server.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_vrf.g4
  tests/parsing-tests/unit-tests.ref
Due: validate-grammar-rules

palo_alto: split catch-all _null rules into per-token rules (#10077)
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAltoParser.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_deviceconfig.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_ospf.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_shared.g4
Due: validate-grammar-rules

fix: merge origin/master into feature/juniper-ntp-auth-parsing
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_system.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAltoParser.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_deviceconfig.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_ospf.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_shared.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogFacility.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogFile.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogHost.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogSeverity.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JunosSyslogTransportProtocol.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LogicalSystem.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-syslog
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-syslog-file-archive
  tests/parsing-tests/networks/unit-tests/configs/juniper_syslog
  tests/parsing-tests/srx-testbed.ref
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

cisco_asa: split catch-all _null rules into per-token rules (#10079)
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_cable.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_crypto.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_eigrp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_line.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_logging.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_ntp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_ospf.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_pim.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_snmp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaParser.g4
Due: validate-grammar-rules

cisco_nxos: split catch-all _null rules into per-token rules (#10082)
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosParser.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_flow.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_ospf.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_ospfv3.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_policy_map.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_tacacs_server.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_vrf.g4
  tests/parsing-tests/unit-tests.ref
Due: validate-grammar-rules

a10: split catch-all _null rules into per-token rules (#10083)
  projects/batfish/src/main/antlr4/org/batfish/vendor/a10/grammar/A10_router_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/a10/grammar/A10_vrrp_a.g4
Due: validate-grammar-rules

flatvyos: split catch-all _null rules into per-token rules (#10084)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatvyos/FlatVyosParser.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatvyos/FlatVyos_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatvyos/FlatVyos_interfaces.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatvyos/FlatVyos_vpn.g4
Due: validate-grammar-rules

Arista: split catch-all _null rules into per-token rules
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/AristaParser.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Arista_cvx.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Arista_email.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Arista_logging.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_crypto.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_ospf.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_snmp.g4
  tests/parsing-tests/unit-tests.ref
Due: validate-grammar-rules

cisco_xr: split catch-all _null rules into per-token rules
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXrParser.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_bfd.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_crypto.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_flow.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_igmp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_lldp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_logging.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_mld.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_msdp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_multicast_routing.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_ntp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_ospf.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_pim.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_qos.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_snmp.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco_xr/CiscoXrControlPlaneExtractor.java
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

cisco: split catch-all _null rules into per-token rules
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/CiscoParser.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_cable.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_crypto.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_eigrp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_line.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_logging.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_ntp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_ospf.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_pim.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_sla.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_snmp.g4
  tests/parsing-tests/unit-tests.ref
Due: validate-grammar-rules

f5_bigip_imish: split catch-all _null rules into per-token rules
  projects/batfish/src/main/antlr4/org/batfish/grammar/f5_bigip_imish/F5BigipImish_bgp.g4
  tests/parsing-tests/unit-tests.ref
Due: validate-grammar-rules

f5_bigip_imish: split catch-all _null rules into per-token rules (#10085)
  projects/batfish/src/main/antlr4/org/batfish/grammar/f5_bigip_imish/F5BigipImish_bgp.g4
  tests/parsing-tests/unit-tests.ref
Due: validate-grammar-rules

Arista: split catch-all _null rules into per-token rules (#10081)
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/AristaParser.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Arista_cvx.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Arista_email.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Arista_logging.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_crypto.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_ospf.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_snmp.g4
  tests/parsing-tests/unit-tests.ref
Due: validate-grammar-rules

Junos: split catch-all _null rules into per-token rules
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperParser.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_class_of_service.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_firewall.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_forwarding_options.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_isis.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_ospf.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_protocols.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_security.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_snmp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_system.g4
  tests/parsing-tests/srx-testbed.ref
  tests/parsing-tests/unit-tests.ref
Due: validate-grammar-rules

cisco_xr: split catch-all _null rules into per-token rules (#10080)
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXrParser.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_bfd.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_crypto.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_flow.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_igmp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_lldp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_logging.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_mld.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_msdp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_multicast_routing.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_ntp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_ospf.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_pim.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_qos.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_snmp.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco_xr/CiscoXrControlPlaneExtractor.java
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

cisco: split catch-all _null rules into per-token rules (#10078)
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/CiscoParser.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_cable.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_crypto.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_eigrp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_line.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_logging.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_ntp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_ospf.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_pim.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_sla.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_snmp.g4
  tests/parsing-tests/unit-tests.ref
Due: validate-grammar-rules

junos: add system ntp parsing and extraction (#10076)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_common.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_system.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LogicalSystem.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/NtpServer.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-ntp
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/ntp
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/ntp-invalid-key
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

Junos: split catch-all _null rules into per-token rules (#10086)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperParser.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_class_of_service.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_firewall.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_forwarding_options.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_isis.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_ospf.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_protocols.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_security.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_snmp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_system.g4
  tests/parsing-tests/srx-testbed.ref
  tests/parsing-tests/unit-tests.ref
Due: validate-grammar-rules

Arista: parse `ipv6 unicast-routing`
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/AristaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/AristaParser.g4
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_ipv6_unicast_routing
Due: java-format, validate-grammar-rules

Arista: parse `ipv6 unicast-routing` (#10088)
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/AristaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/AristaParser.g4
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_ipv6_unicast_routing
Due: java-format, validate-grammar-rules

bazel: upgrade to 9.2.0
  .bazelversion
  MODULE.bazel.lock
Due: none

bazel: upgrade to 9.2.0 (#10090)
  .bazelversion
  MODULE.bazel.lock
Due: none

TestrigText: support filtering config files in loadTestrig
  projects/batfish/src/test/java/org/batfish/main/TestrigText.java
Due: java-format

TestrigText: support filtering config files in loadTestrig (#10091)
  projects/batfish/src/test/java/org/batfish/main/TestrigText.java
Due: java-format

Arista: test summary-only aggregate suppression in a VRF
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/snapshots/bgp-agg-vrf-summary-only/configs/c1
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/snapshots/bgp-agg-vrf-summary-only/configs/c2
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/snapshots/bgp-agg-vrf-summary-only/configs/c3
Due: java-format
