Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

java-format:
  name: java-format
  entry: ./tools/fix_java_format.sh --replace
  language: script
  require_serial: true
  pass_filenames: true

validate-grammar-rules:
  name: validate-grammar-rules
  entry: ./tools/validate_grammar_rules.py --changed-only
  language: python
  require_serial: true
  pass_filenames: true

Junos: parse, extract, and convert policy-statement from validation-database (#9807)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_policy_options.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsFromValidationDatabase.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsFroms.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/PsFromValidationDatabaseTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-policy-statement-from-validation-database
Due: java-format, validate-grammar-rules

Avoid new conversion warnings for ambiguous VSYS mapping
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoConfiguration.java
Due: java-format

BGP: reset local preference and weight in post-export
  projects/batfish/src/main/java/org/batfish/dataplane/protocols/BgpProtocolHelper.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BUILD.bazel
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BgpLocalPrefEbgpTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/protocols/BgpProtocolHelperTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/protocols/BgpProtocolHelperTransformBgpRouteOnExportTest.java
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-local-pref-ebgp/BUILD.bazel
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-local-pref-ebgp/configs/r1
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-local-pref-ebgp/configs/r2
Due: java-format

Regenerate MODULE.bazel.lock
  MODULE.bazel.lock
Due: none

Regenerate MODULE.bazel.lock (#9827)
  MODULE.bazel.lock
Due: none

Adding empty tests.
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/routing-instance-vrf-evpn-ip-prefix-routes
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/routing-instances-route-distinguisher
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/switch-options-route-distinguisher
Due: java-format

Changes made to fix tests.
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/main/Batfish.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/RoutingInstance.java
  projects/batfish/src/test/java/org/batfish/dataplane/JuniperSnapshotDataplaneExampleTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/JuniperConfigurationTest.java
  projects/batfish/src/test/resources/org/batfish/dataplane/testconfigs/evpn-type5-juniper
Due: java-format

Adding in the initial parsing for tests.
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
Due: java-format

Configs are being parsed and testRoutingInstancesEvpnIpPrefixRoutesExtraction passes.
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_evpn.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Evpn.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/EvpnIpPrefixRoutes.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/routing-instance-vrf-evpn-ip-prefix-routes
Due: java-format, validate-grammar-rules

Current work for victor
  projects/batfish/src/main/java/org/batfish/main/Batfish.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/dataplane/JuniperSnapshotDataplaneExampleTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/JuniperConfigurationTest.java
  projects/batfish/src/test/resources/org/batfish/dataplane/testconfigs/evpn-type5-juniper
Due: java-format

These should be good enums for encapsulation and advertise types though we may not support each one yet.
  projects/batfish/src/main/java/org/batfish/representation/juniper/EvpnEncapsulation.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/EvpnIpPrefixRoutesAdvertise.java
Due: java-format

Adding some test files.
  projects/batfish/src/test/resources/org/batfish/dataplane/testrigs/evpn-type5-routes-juniper/configs/core
  projects/batfish/src/test/resources/org/batfish/dataplane/testrigs/evpn-type5-routes-juniper/configs/leaf
  projects/batfish/src/test/resources/org/batfish/dataplane/testrigs/evpn-type5-routes-juniper/configs/spine
  projects/batfish/src/test/resources/org/batfish/dataplane/testrigs/evpn-type5-routes-juniper/show_route.md
Due: none

checkpoint
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_switch_options.g4
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/BgpRoutingProcess.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/SwitchOptions.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/JuniperConfigurationTest.java
  projects/batfish/src/test/resources/org/batfish/dataplane/testconfigs/evpn-type5-juniper
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/switch-options-route-distinguisher
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/switch-options-with-route-instance
  tools/log4j2.yaml
Due: java-format, validate-grammar-rules

Fix EVPN L2/L3 VNI extraction for Juniper routes
  projects/allinone/src/test/java/org/batfish/question/traceroute/BUILD.bazel
  projects/allinone/src/test/java/org/batfish/question/traceroute/JuniperEvpnTracerouteTest.java
  projects/allinone/src/test/resources/org/batfish/allinone/testrigs/evpn-working-lab/BUILD.bazel
  projects/allinone/src/test/resources/org/batfish/allinone/testrigs/evpn-working-lab/configs/edge1
  projects/allinone/src/test/resources/org/batfish/allinone/testrigs/evpn-working-lab/configs/node1-1
  projects/allinone/src/test/resources/org/batfish/allinone/testrigs/evpn-working-lab/configs/node1-2
  projects/allinone/src/test/resources/org/batfish/allinone/testrigs/evpn-working-lab/configs/node2-1
  projects/allinone/src/test/resources/org/batfish/allinone/testrigs/evpn-working-lab/configs/node2-2
  projects/allinone/src/test/resources/org/batfish/allinone/testrigs/evpn-working-lab/configs/router1
  projects/allinone/src/test/resources/org/batfish/allinone/testrigs/evpn-working-lab/configs/sw1
  projects/allinone/src/test/resources/org/batfish/allinone/testrigs/evpn-working-lab/configs/sw2
  projects/allinone/src/test/resources/org/batfish/allinone/testrigs/evpn-working-lab/configs/sw3
  projects/batfish/src/main/java/org/batfish/dataplane/traceroute/FlowTracer.java
  projects/batfish/src/main/java/org/batfish/main/Batfish.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
Due: java-format

.
  projects/allinone/src/test/java/org/batfish/question/traceroute/JuniperEvpnTracerouteTest.java
  projects/allinone/src/test/java/org/batfish/question/traceroute/output.txt
  projects/allinone/src/test/resources/org/batfish/allinone/testrigs/evpn-working-lab/configs/node1-1
  projects/allinone/src/test/resources/org/batfish/allinone/testrigs/evpn-working-lab/configs/node1-2
  projects/allinone/src/test/resources/org/batfish/allinone/testrigs/evpn-working-lab/configs/sw1
  projects/allinone/src/test/resources/org/batfish/allinone/testrigs/evpn-working-lab/configs/sw2
Due: java-format

Latest changes, ribs and vxlan are populated.
  docs/output.txt
  projects/allinone/src/test/java/org/batfish/question/traceroute/JuniperEvpnTracerouteTest.java
  projects/allinone/src/test/resources/org/batfish/allinone/testrigs/evpn-working-lab/configs/node1-1
  projects/allinone/src/test/resources/org/batfish/allinone/testrigs/evpn-working-lab/configs/node1-2
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/BgpRoutingProcess.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
Due: java-format

BGP: reset local preference and weight in post-export (#9824)
  projects/batfish/src/main/java/org/batfish/dataplane/protocols/BgpProtocolHelper.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BUILD.bazel
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BgpLocalPrefEbgpTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/protocols/BgpProtocolHelperTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/protocols/BgpProtocolHelperTransformBgpRouteOnExportTest.java
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-local-pref-ebgp/BUILD.bazel
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-local-pref-ebgp/configs/r1
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-local-pref-ebgp/configs/r2
Due: java-format

Fix NPE in processExternalBgpAdvertisement for null originator IP
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/BgpRoutingProcess.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BgpRoutingProcessTest.java
Due: java-format

Fix NPE in processExternalBgpAdvertisement for null originator IP (#9834)
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/BgpRoutingProcess.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BgpRoutingProcessTest.java
Due: java-format

Upgrade Bazel from 8.5.1 to 9.0.1
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
Due: none

Ip: store as int instead of long for memory savings
  projects/common/src/main/java/org/batfish/datamodel/Ip.java
  projects/common/src/main/java/org/batfish/datamodel/Prefix.java
  projects/common/src/main/java/org/batfish/datamodel/PrefixTrieMultiMap.java
  projects/common/src/test/java/org/batfish/datamodel/IpTest.java
Due: java-format

Upgrade Bazel from 8.5.1 to 9.0.1 (#9835)
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
Due: none

Lightweight ebgp-to-evpn-type-5 dataplane test (JunOS)
  projects/batfish/src/test/java/org/batfish/dataplane/BgpEvpnType5RouteTest.java
  projects/batfish/src/test/resources/org/batfish/dataplane/testrigs/bgp-evpn-type5-route-test/configs/edge1
  projects/batfish/src/test/resources/org/batfish/dataplane/testrigs/bgp-evpn-type5-route-test/configs/node1-1
  projects/batfish/src/test/resources/org/batfish/dataplane/testrigs/bgp-evpn-type5-route-test/configs/node2-1
  projects/batfish/src/test/resources/org/batfish/dataplane/testrigs/bgp-evpn-type5-route-test/configs/router1
Due: java-format

Add EVPN self-import loop fix
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/BgpRoutingProcess.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/dataplane/BgpEvpnType5RouteTest.java
  projects/batfish/src/test/resources/org/batfish/dataplane/testrigs/bgp-evpn-type5-route-test/configs/router1
  projects/common/src/main/java/org/batfish/datamodel/Vrf.java
Due: java-format

Add missing reference in juniper exitSo_vtep_source_interface
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
Due: java-format

Additional tests for iBGP RR ORIGINATOR_ID behavior
  projects/batfish/src/test/java/org/batfish/dataplane/protocols/BgpProtocolHelperTransformBgpRouteOnExportTest.java
Due: java-format

FRR: implement BGP table-map (deny/permit)
  docs/data_plane/README.md
  docs/data_plane/table_map.md
  projects/batfish/src/main/antlr4/org/batfish/grammar/frr/FrrLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/frr/Frr_bgp.g4
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/BgpRoutingProcess.java
  projects/batfish/src/main/java/org/batfish/grammar/frr/FrrConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/cumulus_concatenated/CumulusStructureUsage.java
  projects/batfish/src/main/java/org/batfish/representation/frr/BgpVrf.java
  projects/batfish/src/main/java/org/batfish/representation/frr/FrrConversions.java
  projects/batfish/src/main/java/org/batfish/representation/frr/FrrStructureUsage.java
  projects/batfish/src/main/java/org/batfish/vendor/sonic/representation/SonicStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/frr/FrrGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/frr/FrrConversionsTest.java
  projects/common/src/main/java/org/batfish/datamodel/BgpProcess.java
Due: java-format, validate-grammar-rules

docs: add developer guide for filterLineReachability question
  docs/question_development/filterLineReachability.md
  projects/question/src/main/java/org/batfish/question/filterlinereachability/README.md
Due: none

docs: add developer guide for filterLineReachability question (#9841)
  docs/question_development/filterLineReachability.md
  projects/question/src/main/java/org/batfish/question/filterlinereachability/README.md
Due: none

Set L2VNI source address, remove duplicative L3VNI setup
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/dataplane/EvpnType5JuniperTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/JuniperSnapshotDataplaneExampleTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/dataplane/testconfigs/evpn-type5-juniper
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vxlan-l3vni
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vxlan-l3vni-novlan
Due: java-format

docs: add developer guides for 8 core Batfish questions
  docs/question_development/bgpSessionStatus.md
  docs/question_development/reachability.md
  docs/question_development/routes.md
  docs/question_development/searchFilters.md
  docs/question_development/searchRoutePolicies.md
  docs/question_development/testFilters.md
  docs/question_development/testRoutePolicies.md
  docs/question_development/traceroute.md
Due: none

Ip: store as int instead of long for memory savings (#9836)
  projects/common/src/main/java/org/batfish/datamodel/Ip.java
  projects/common/src/main/java/org/batfish/datamodel/Prefix.java
  projects/common/src/main/java/org/batfish/datamodel/PrefixTrieMultiMap.java
  projects/common/src/test/java/org/batfish/datamodel/IpTest.java
Due: java-format

AbstractRoute: store admin and tag as int for memory savings
  projects/common/src/main/java/org/batfish/datamodel/AbstractRoute.java
  projects/common/src/main/java/org/batfish/datamodel/Bgpv4Route.java
  projects/common/src/main/java/org/batfish/datamodel/ConnectedRoute.java
  projects/common/src/main/java/org/batfish/datamodel/EigrpExternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/EigrpInternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/EigrpRoute.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType2Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType3Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType5Route.java
  projects/common/src/main/java/org/batfish/datamodel/GeneratedRoute.java
  projects/common/src/main/java/org/batfish/datamodel/HmmRoute.java
  projects/common/src/main/java/org/batfish/datamodel/IsisRoute.java
  projects/common/src/main/java/org/batfish/datamodel/KernelRoute.java
  projects/common/src/main/java/org/batfish/datamodel/LocalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfExternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfInterAreaRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfInternalSummaryRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfIntraAreaRoute.java
  projects/common/src/main/java/org/batfish/datamodel/RipInternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/StaticRoute.java
  projects/common/src/test/java/org/batfish/datamodel/ConnectedRouteTest.java
  projects/question/src/test/java/org/batfish/question/routes/RoutesAnswererUtilTest.java
Due: java-format

BgpRouteAttributes: store localPreference and med as int
  projects/common/src/main/java/org/batfish/datamodel/BgpRoute.java
  projects/common/src/main/java/org/batfish/datamodel/Bgpv4Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType2Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType3Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType5Route.java
Due: java-format

Path conditions:
  java-format: any of: \.java$
  validate-grammar-rules: any of: \.g4$
