Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

java-format:
  name: java-format
  entry: ./tools/fix_java_format.sh --replace
  language: script
  require_serial: true
  pass_filenames: true

validate-grammar-rules:
  name: validate-grammar-rules
  entry: ./tools/validate_grammar_rules.py --changed-only
  language: python
  require_serial: true
  pass_filenames: true

Add EVPN self-import loop fix
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/BgpRoutingProcess.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/dataplane/BgpEvpnType5RouteTest.java
  projects/batfish/src/test/resources/org/batfish/dataplane/testrigs/bgp-evpn-type5-route-test/configs/router1
  projects/common/src/main/java/org/batfish/datamodel/Vrf.java
Due: java-format

Add missing reference in juniper exitSo_vtep_source_interface
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
Due: java-format

Additional tests for iBGP RR ORIGINATOR_ID behavior
  projects/batfish/src/test/java/org/batfish/dataplane/protocols/BgpProtocolHelperTransformBgpRouteOnExportTest.java
Due: java-format

Junos: parse vni-options VNI as uint32
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_evpn.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

Junos: warn on illegal [evpn ip-prefix-routes]
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
Due: java-format

Set L2VNI source address, remove duplicative L3VNI setup
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/dataplane/EvpnType5JuniperTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/JuniperSnapshotDataplaneExampleTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/dataplane/testconfigs/evpn-type5-juniper
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vxlan-l3vni
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vxlan-l3vni-novlan
Due: java-format

Fix up junos tests for vxlan / evpn
  projects/batfish/src/test/java/org/batfish/dataplane/EvpnJuniperTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/EvpnType5JuniperTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interface-vlan
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-evpn-vrf-target-auto
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-evpn-vxlan
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-so-vrf-target-auto
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-so-vrf-target-export
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-so-vrf-target-import
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-so-vrf-target-target
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vni-vrf-target-auto
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vni-vrf-target-export
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vni-vrf-target-import
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vni-vrf-target-target
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vtep-source
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vxlan-extraction
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vxlan-l2vni
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vxlan-l3vni
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vxlan-l3vni-novlan
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/routing-instances-route-distinguisher
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/routing-options-rd-id
Due: java-format

Junos: parse evpn VNI as uint32
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_evpn.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

Junos parse/convert vrf-target, vrf-import / export
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
Due: java-format

Junos: link usage refs in EVPN import, export policy
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  tests/parsing-tests/unit-tests-unused.ref
  tests/parsing-tests/unit-tests.ref
Due: java-format

Junos vxlan, evpn support (alphabetize)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
Due: validate-grammar-rules

SpecifierContextImpl: lazily compute configs and locationInfo
  projects/common/src/main/java/org/batfish/specifier/SpecifierContextImpl.java
Due: java-format

SpecifierContextImpl: lazily compute configs and locationInfo (#9879)
  projects/common/src/main/java/org/batfish/specifier/SpecifierContextImpl.java
Due: java-format

BatfishParseTreeWalker: access children directly in walk()
  projects/common/src/main/java/org/batfish/grammar/BatfishParseTreeWalker.java
Due: java-format

BatfishParseTreeWalker: access children directly in walk() (#9880)
  projects/common/src/main/java/org/batfish/grammar/BatfishParseTreeWalker.java
Due: java-format

RouteFilterList: make immutable; fix O(N^2) addLine; delete dead code
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/AsaConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_xr/CiscoXrConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cumulus_nclu/CumulusConversions.java
  projects/batfish/src/main/java/org/batfish/representation/frr/FrrConversions.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsFromPrefixListFilterLonger.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsFromPrefixListFilterOrLonger.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Route4FilterLine.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Route4FilterLineAddressMask.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Route4FilterLineExact.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Route4FilterLineLengthRange.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Route4FilterLineLonger.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Route4FilterLineOrLonger.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Route4FilterLineThrough.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Route4FilterLineUpTo.java
  projects/batfish/src/main/java/org/batfish/representation/vyos/VyosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConfiguration.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/OspfTest.java
  projects/common/src/main/java/org/batfish/datamodel/RouteFilterList.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/Common.java
Due: java-format

RouteFilterList: make immutable; fix O(N^2) addLine; delete dead code (#9881)
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/AsaConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_xr/CiscoXrConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cumulus_nclu/CumulusConversions.java
  projects/batfish/src/main/java/org/batfish/representation/frr/FrrConversions.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsFromPrefixListFilterLonger.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsFromPrefixListFilterOrLonger.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Route4FilterLine.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Route4FilterLineAddressMask.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Route4FilterLineExact.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Route4FilterLineLengthRange.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Route4FilterLineLonger.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Route4FilterLineOrLonger.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Route4FilterLineThrough.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Route4FilterLineUpTo.java
  projects/batfish/src/main/java/org/batfish/representation/vyos/VyosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConfiguration.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/OspfTest.java
  projects/common/src/main/java/org/batfish/datamodel/RouteFilterList.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/Common.java
Due: java-format

Junos: parse all policy-statement load-balance method variants
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_policy_options.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenLoadBalance.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/load-balance-variants
Due: java-format, validate-grammar-rules

Junos: parse all policy-statement load-balance method variants (#9882)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_policy_options.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThenLoadBalance.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/load-balance-variants
Due: java-format, validate-grammar-rules

FRR: Replace stream with for-loop in computeLocalIpForBgpNeighbor
  projects/batfish/src/main/java/org/batfish/representation/cumulus_nclu/CumulusConversions.java
  projects/batfish/src/main/java/org/batfish/representation/frr/FrrConversions.java
Due: java-format

Configuration: return views from getAllInterfaces(vrf) and getActiveInterfaces(vrf)
  projects/common/src/main/java/org/batfish/datamodel/Configuration.java
Due: java-format

Configuration: return views from getAllInterfaces(vrf) and getActiveInterfaces(vrf) (#9885)
  projects/common/src/main/java/org/batfish/datamodel/Configuration.java
Due: java-format

Juniper: detect fatal xSTP error for interfaces without ethernet-switching
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_protocols.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LogicalSystem.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/xstp-interface-validation
Due: java-format, validate-grammar-rules

Juniper: detect fatal xSTP error for interfaces without ethernet-switching (#9887)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_protocols.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/LogicalSystem.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/xstp-interface-validation
Due: java-format, validate-grammar-rules

AsSet: distinguish confederation segments in string output
  projects/common/src/main/java/org/batfish/datamodel/AsPath.java
  projects/common/src/main/java/org/batfish/datamodel/AsSet.java
  projects/common/src/test/java/org/batfish/datamodel/AsSetTest.java
Due: java-format

AsSet: distinguish confederation segments in string output (#9871)
  projects/common/src/main/java/org/batfish/datamodel/AsPath.java
  projects/common/src/main/java/org/batfish/datamodel/AsSet.java
  projects/common/src/test/java/org/batfish/datamodel/AsSetTest.java
Due: java-format

Remove BgpTopologyUtils.initiateBgpSessions; convert tests to e2e
  projects/allinone/src/test/java/org/batfish/e2e/bgp/sessionestablishment/BUILD.bazel
  projects/allinone/src/test/java/org/batfish/e2e/bgp/sessionestablishment/EbgpSessionEstablishmentTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/IncrementalDataPlanePluginTest.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/BgpTopologyUtils.java
Due: java-format

Remove BgpTopologyUtils.initiateBgpSessions; convert tests to e2e (#9873)
  projects/allinone/src/test/java/org/batfish/e2e/bgp/sessionestablishment/BUILD.bazel
  projects/allinone/src/test/java/org/batfish/e2e/bgp/sessionestablishment/EbgpSessionEstablishmentTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/IncrementalDataPlanePluginTest.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/BgpTopologyUtils.java
Due: java-format

Juniper: support `forwarding-context` for BGP sessions
  projects/allinone/src/test/java/org/batfish/e2e/bgp/forwardingcontext/BUILD.bazel
  projects/allinone/src/test/java/org/batfish/e2e/bgp/forwardingcontext/BgpForwardingContextTest.java
  projects/allinone/src/test/resources/org/batfish/e2e/bgp/forwardingcontext/BUILD.bazel
  projects/allinone/src/test/resources/org/batfish/e2e/bgp/forwardingcontext/configs/r1
  projects/allinone/src/test/resources/org/batfish/e2e/bgp/forwardingcontext/configs/r2
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/BgpGroup.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/bgp-forwarding-context
  projects/common/src/main/java/org/batfish/datamodel/BgpActivePeerConfig.java
  projects/common/src/main/java/org/batfish/datamodel/BgpPassivePeerConfig.java
  projects/common/src/main/java/org/batfish/datamodel/BgpPeerConfig.java
  projects/common/src/main/java/org/batfish/datamodel/BgpUnnumberedPeerConfig.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/BgpTopologyUtils.java
  projects/common/src/test/java/org/batfish/datamodel/BgpUnnumberedPeerConfigTest.java
  projects/common/src/test/java/org/batfish/datamodel/bgp/BgpTopologyUtilsTest.java
  projects/question/src/main/java/org/batfish/question/bgpsessionstatus/BgpSessionAnswererUtils.java
  projects/question/src/main/java/org/batfish/question/bgpsessionstatus/BgpSessionCompatibilityAnswerer.java
  projects/question/src/main/java/org/batfish/question/bgpsessionstatus/BgpSessionStatusAnswerer.java
  projects/question/src/test/java/org/batfish/question/bgpsessionstatus/BgpSessionAnswererUtilsTest.java
  projects/question/src/test/java/org/batfish/question/bgpsessionstatus/BgpSessionCompatibilityAnswererTest.java
  projects/question/src/test/java/org/batfish/question/bgpsessionstatus/BgpSessionStatusAnswererTest.java
  tests/basic/bgpSessionStatus.ref
Due: java-format, validate-grammar-rules

Flatten, Annotate: support files as well as directories
  projects/batfish/src/main/java/org/batfish/main/Flatten.java
  projects/batfish/src/main/java/org/batfish/main/annotate/Annotate.java
  projects/batfish/src/test/java/org/batfish/main/FlattenTest.java
  projects/batfish/src/test/java/org/batfish/main/annotate/AnnotateTest.java
Due: java-format

Juniper: support `forwarding-context` for BGP sessions
  docs/question_development/bgpSessionStatus.md
  projects/allinone/src/test/java/org/batfish/e2e/bgp/forwardingcontext/BUILD.bazel
  projects/allinone/src/test/java/org/batfish/e2e/bgp/forwardingcontext/BgpForwardingContextTest.java
  projects/allinone/src/test/resources/org/batfish/e2e/bgp/forwardingcontext/BUILD.bazel
  projects/allinone/src/test/resources/org/batfish/e2e/bgp/forwardingcontext/configs/r1
  projects/allinone/src/test/resources/org/batfish/e2e/bgp/forwardingcontext/configs/r2
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/BgpGroup.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/bgp-forwarding-context
  projects/common/src/main/java/org/batfish/datamodel/BgpActivePeerConfig.java
  projects/common/src/main/java/org/batfish/datamodel/BgpPassivePeerConfig.java
  projects/common/src/main/java/org/batfish/datamodel/BgpPeerConfig.java
  projects/common/src/main/java/org/batfish/datamodel/BgpUnnumberedPeerConfig.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/BgpTopologyUtils.java
  projects/common/src/main/java/org/batfish/datamodel/questions/BgpPeerPropertySpecifier.java
  projects/common/src/test/java/org/batfish/datamodel/BgpUnnumberedPeerConfigTest.java
  projects/common/src/test/java/org/batfish/datamodel/bgp/BgpTopologyUtilsTest.java
  projects/question/src/main/java/org/batfish/question/bgpproperties/BgpPeerConfigurationAnswerer.java
  projects/question/src/main/java/org/batfish/question/bgpsessionstatus/BgpSessionAnswererUtils.java
  projects/question/src/main/java/org/batfish/question/bgpsessionstatus/BgpSessionCompatibilityAnswerer.java
  projects/question/src/main/java/org/batfish/question/bgpsessionstatus/BgpSessionStatusAnswerer.java
  projects/question/src/test/java/org/batfish/question/bgpproperties/BgpPeerConfigurationAnswererTest.java
  projects/question/src/test/java/org/batfish/question/bgpsessionstatus/BgpSessionAnswererUtilsTest.java
  projects/question/src/test/java/org/batfish/question/bgpsessionstatus/BgpSessionCompatibilityAnswererTest.java
  projects/question/src/test/java/org/batfish/question/bgpsessionstatus/BgpSessionStatusAnswererTest.java
  tests/basic/bgpSessionStatus.ref
Due: java-format, validate-grammar-rules

Fix BGP session incorrectly established when external peer's AS matches a confederation member-AS (#9877)
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BUILD.bazel
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BgpConfederationExternalMemberAsTest.java
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-confederation-external-member-as/BUILD.bazel
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-confederation-external-member-as/configs/r1
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-confederation-external-member-as/configs/r2
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-confederation-external-member-as/configs/r3
  projects/common/src/main/java/org/batfish/datamodel/BgpSessionProperties.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/BgpTopologyUtils.java
  projects/common/src/test/java/org/batfish/datamodel/bgp/BgpTopologyUtilsTest.java
Due: java-format

Flatten, Annotate: support files as well as directories (#9888)
  projects/batfish/src/main/java/org/batfish/main/Flatten.java
  projects/batfish/src/main/java/org/batfish/main/annotate/Annotate.java
  projects/batfish/src/test/java/org/batfish/main/FlattenTest.java
  projects/batfish/src/test/java/org/batfish/main/annotate/AnnotateTest.java
Due: java-format

Path conditions:
  java-format: any of: \.java$
  validate-grammar-rules: any of: \.g4$
