Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: java-format
        name: java-format
        entry: ./tools/fix_java_format.sh --replace
        language: script
        files: '\.java$'
        require_serial: true
        pass_filenames: true
      - id: buildifier
        name: buildifier
        entry: bazel --noblock_for_lock run //:buildifier.fix
        language: system
        require_serial: true
        pass_filenames: false # this is a global check, only run it once
      - id: validate-grammar-rules
        name: validate-grammar-rules
        entry: ./tools/validate_grammar_rules.py --changed-only
        language: python
        files: '\.g4$'
        require_serial: true
        pass_filenames: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
          ]

IPsec: require a key value before negotiating an IKE phase 1 key (#10160)
  projects/common/src/main/java/org/batfish/common/util/IpsecUtil.java
  projects/common/src/test/java/org/batfish/common/util/IpsecUtilTest.java
Due: java-format

Support OSPFv3 process removal
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxConfiguration.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-ospfv3-process-removal
Due: java-format, validate-grammar-rules

Support OSPFv3 interface area removal
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxInterface.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-ospfv3-interface-area-removal
Due: java-format, validate-grammar-rules

PaloAlto: model IKE gateways and IPsec tunnels
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAltoLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_network.g4
  projects/batfish/src/main/java/org/batfish/grammar/palo_alto/PaloAltoConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/IkeGateway.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/IpsecTunnel.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoStructureType.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/ipsec-tunnel
Due: java-format, validate-grammar-rules

Support OSPFv3 area removal
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxOspfv3Process.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-ospfv3-area-removal
Due: java-format, validate-grammar-rules

PaloAlto: address review feedback on IKE/IPsec modeling
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAltoLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_network.g4
  projects/batfish/src/main/java/org/batfish/grammar/palo_alto/PaloAltoConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/CryptoProfile.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/IkeGateway.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/IpsecTunnel.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/ipsec-tunnel
Due: java-format, validate-grammar-rules

PaloAlto: accept the documented dh-group values on crypto profiles
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAltoLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_network.g4
  projects/batfish/src/main/java/org/batfish/grammar/palo_alto/PaloAltoConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/CryptoProfile.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/ipsec-tunnel
Due: java-format, validate-grammar-rules

perf(fastpath): merge two format-detection patterns
  projects/batfish/src/main/java/org/batfish/grammar/VendorConfigurationFormatDetector.java
Due: java-format

perf(fastpath): merge format-detection patterns into one
  projects/batfish/src/main/java/org/batfish/grammar/VendorConfigurationFormatDetector.java
Due: java-format

fastpath: add initial Fastpath support (#10144)
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/BUILD.bazel
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathParser.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/Fastpath_common.g4
  projects/batfish/src/main/java/org/batfish/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/grammar/VendorConfigurationFormatDetector.java
  projects/batfish/src/main/java/org/batfish/job/ParseVendorConfigurationJob.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathBaseLexer.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathCombinedParser.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/package-info.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Dns.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/FastpathConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Logging.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/LoggingBuffered.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/LoggingServer.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Sntp.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/package-info.java
  projects/batfish/src/test/java/org/batfish/grammar/VendorConfigurationFormatDetectorTest.java
  projects/batfish/src/test/java/org/batfish/main/annotate/AnnotateTest.java
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/BUILD.bazel
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/FastpathGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/main/annotate/testconfigs/annotate-fastpath-after
  projects/batfish/src/test/resources/org/batfish/main/annotate/testconfigs/annotate-fastpath-before
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/BUILD.bazel
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_banner
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_complete_config
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_dns
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_hostname
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_logging
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_logging_invalid
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_set_prompt
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_sntp
  projects/common/src/main/java/org/batfish/datamodel/ConfigurationFormat.java
  projects/common/src/main/java/org/batfish/datamodel/DeviceModel.java
  projects/common/src/test/java/org/batfish/common/matchers/ParseWarningMatchers.java
Due: java-format, validate-grammar-rules

Support OSPFv3 router-id reset
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxOspfv3Process.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-ospfv3-router-id-reset
Due: java-format, validate-grammar-rules

Enforce OSPFv3 MTU compatibility
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/Ospfv3RoutingProcess.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/Ospfv3PropagationTest.java
Due: java-format

Reject duplicate OSPFv3 router IDs
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/Ospfv3RoutingProcess.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/Ospfv3BroadcastElectionTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/Ospfv3PropagationTest.java
Due: java-format

feat(fastpath): add tacacs-server parsing and extraction
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/FastpathConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Tacacs.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/TacacsServer.java
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/FastpathGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_tacacs
Due: java-format, validate-grammar-rules

Support OSPFv3 trap notifications
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/aruba_aoscx/grammar/AosCxParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/aruba_aoscx/representation/AosCxOspfv3Process.java
  projects/batfish/src/test/java/org/batfish/vendor/aruba_aoscx/grammar/AosCxGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/aruba_aoscx/grammar/testconfigs/aoscx-ospfv3-trap-enable
Due: java-format, validate-grammar-rules

PaloAlto: address r2 review feedback on IKE/IPsec modeling
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAltoLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_network.g4
  projects/batfish/src/main/java/org/batfish/grammar/palo_alto/PaloAltoConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/CryptoProfile.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoStructureType.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/ipsec-tunnel
Due: java-format, validate-grammar-rules

PaloAlto: model IKE gateways and IPsec tunnels (#10156)
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAltoLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_network.g4
  projects/batfish/src/main/java/org/batfish/grammar/palo_alto/PaloAltoConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/CryptoProfile.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/IkeGateway.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/IpsecTunnel.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoStructureType.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/ipsec-tunnel
Due: java-format, validate-grammar-rules

PaloAlto: report an absent ipsec dh-group, and only warn on a genuinely ambiguous IKE version
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/CryptoProfile.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/IkeGateway.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/palo_alto/BUILD.bazel
  projects/batfish/src/test/java/org/batfish/representation/palo_alto/CryptoProfileTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/ipsec-tunnel
Due: java-format

fix(fastpath): tacacs-server review follow-ups
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Tacacs.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/TacacsServer.java
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/FastpathGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_tacacs
Due: java-format, validate-grammar-rules

PaloAlto: report an absent ipsec dh-group, and only warn on a genuinely ambiguous IKE version (#10162)
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/CryptoProfile.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/IkeGateway.java
  projects/batfish/src/main/java/org/batfish/representation/palo_alto/PaloAltoConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/palo_alto/BUILD.bazel
  projects/batfish/src/test/java/org/batfish/representation/palo_alto/CryptoProfileTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/ipsec-tunnel
Due: java-format

Fastpath: add tacacs-server parsing and extraction (#10161)
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/FastpathConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Tacacs.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/TacacsServer.java
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/FastpathGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_tacacs
Due: java-format, validate-grammar-rules

Junos: don't flag routing-instance default as an undefined reference
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/firewall-filter-then-routing-instance
Due: java-format

Junos: don't flag routing-instance default as an undefined reference (#10163)
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/firewall-filter-then-routing-instance
Due: java-format

claude: keep review findings to one claim in one to three sentences
  .claude/skills/review-vendor-pr/SKILL.md
  .claude/skills/review-vendor-pr/references/probe-harness.md
Due: none

claude: keep review findings to one claim in one to three sentences (#10164)
  .claude/skills/review-vendor-pr/SKILL.md
  .claude/skills/review-vendor-pr/references/probe-harness.md
Due: none

feat(fastpath): Add AAA method list parsing
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Aaa.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/AaaMethod.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Accounting.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/AccountingType.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Authentication.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/AuthenticationType.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Authorization.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/AuthorizationType.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/FastpathConfiguration.java
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/FastpathGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_aaa
Due: java-format, validate-grammar-rules

PaloAlto: drop log-forwarding payloads before they break config nesting
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto_nested/PaloAltoNestedLexer.g4
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/log-profile-control
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/log-profile-payload
Due: java-format, validate-grammar-rules

PaloAlto: parse an interface address that carries an sdwan-gateway
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAltoLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_interface.g4
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/interface-sdwan-address
Due: java-format, validate-grammar-rules

AWS: tolerate a tunnel whose pre-shared key lives in Secrets Manager
  projects/batfish/src/main/java/org/batfish/representation/aws/VpnConnection.java
  projects/batfish/src/test/java/org/batfish/representation/aws/VpnConnectionTest.java
  projects/batfish/src/test/resources/org/batfish/representation/aws/VpnConnectionSecretsManagerPsk.json
Due: java-format

AWS: build IKE phase 1 proposals from phase 1, and drop integrity for AEAD
  projects/batfish/src/main/java/org/batfish/representation/aws/VpnConnection.java
  projects/batfish/src/test/java/org/batfish/grammar/aws/AwsIpsecTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/VpnConnectionTest.java
  tests/aws/vimodel-example-aws.ref
Due: java-format

AWS: build IKE phase 1 proposals from phase 1, and drop integrity for AEAD (#10168)
  projects/batfish/src/main/java/org/batfish/representation/aws/VpnConnection.java
  projects/batfish/src/test/java/org/batfish/grammar/aws/AwsIpsecTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/VpnConnectionTest.java
  tests/aws/vimodel-example-aws.ref
Due: java-format

PaloAlto: parse an interface address that carries an sdwan-gateway (#10167)
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAltoLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto/PaloAlto_interface.g4
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/interface-sdwan-address
Due: java-format, validate-grammar-rules

AWS: tolerate a tunnel whose pre-shared key lives in Secrets Manager (#10169)
  projects/batfish/src/main/java/org/batfish/representation/aws/VpnConnection.java
  projects/batfish/src/test/java/org/batfish/representation/aws/VpnConnectionTest.java
  projects/batfish/src/test/resources/org/batfish/representation/aws/VpnConnectionSecretsManagerPsk.json
Due: java-format

PaloAlto: drop log-forwarding payloads before they break config nesting
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto_nested/PaloAltoNestedLexer.g4
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/log-profile-payload
Due: java-format, validate-grammar-rules

fix(fastpath): AAA authentication review follow-ups
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/AaaMethod.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/AuthenticationType.java
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/FastpathGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_aaa
Due: java-format, validate-grammar-rules

PaloAlto: drop log-forwarding payloads before they break config nesting (#10166)
  projects/batfish/src/main/antlr4/org/batfish/grammar/palo_alto_nested/PaloAltoNestedLexer.g4
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/palo_alto/testconfigs/log-profile-payload
Due: java-format, validate-grammar-rules

feat(ios): Port AAA models to vendor-specific representation
  projects/batfish/src/main/java/org/batfish/grammar/cisco/CiscoControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoAaa.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoAaaAccounting.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoAaaAccountingCommands.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoAaaAccountingDefault.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoAaaAuthentication.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoAaaAuthenticationLogin.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoUser.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco/CiscoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco/testconfigs/iosAaaVsModel
Due: java-format

feat(fastpath): add AAA support (#10165)
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/fastpath/grammar/FastpathParser.g4
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/grammar/FastpathConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Aaa.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/AaaMethod.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Accounting.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/AccountingType.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Authentication.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/AuthenticationType.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/Authorization.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/AuthorizationType.java
  projects/batfish/src/main/java/org/batfish/vendor/fastpath/representation/FastpathConfiguration.java
  projects/batfish/src/test/java/org/batfish/vendor/fastpath/grammar/FastpathGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/fastpath/grammar/testconfigs/fastpath_aaa
Due: java-format, validate-grammar-rules

claude: add a skill for drafting release notes
  .claude/skills/release-notes/SKILL.md
Due: none

refactor(ios): Populate vendor_family AAA during conversion, not extraction
  projects/batfish/src/main/java/org/batfish/grammar/cisco/CiscoControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco/CiscoGrammarTest.java
Due: java-format
