Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: java-format
        name: java-format
        entry: ./tools/fix_java_format.sh --replace
        language: script
        files: '\.java$'
        require_serial: true
        pass_filenames: true
      - id: buildifier
        name: buildifier
        entry: bazel --noblock_for_lock run //:buildifier.fix
        language: system
        require_serial: true
        pass_filenames: false # this is a global check, only run it once
      - id: validate-grammar-rules
        name: validate-grammar-rules
        entry: ./tools/validate_grammar_rules.py --changed-only
        language: python
        files: '\.g4$'
        require_serial: true
        pass_filenames: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
          ]

Junos: drop "dead-with-bare-reject" risky warning (#9969)
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/PsThens.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/juniper/PsThensTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-ps-then-conflicts
Due: java-format

build: bump google-java-format to 1.35.0, run on hermetic JDK 21
  .bazelrc
  MODULE.bazel
  maven_install.json
Due: none

build: bump google-java-format to 1.35.0, run on hermetic JDK 25
  .bazelrc
  MODULE.bazel
  maven_install.json
Due: none

build: bump google-java-format to 1.35.0, run on hermetic JDK 25 (#9970)
  .bazelrc
  MODULE.bazel
  maven_install.json
Due: none

docs: migrate CoolNOS example to vendor-scoped code organization
  docs/example_code/new_vendor/src/main/antlr4/org/batfish/vendor/cool_nos/grammar/BUILD.bazel
  docs/example_code/new_vendor/src/main/antlr4/org/batfish/vendor/cool_nos/grammar/CoolNosLexer.g4
  docs/example_code/new_vendor/src/main/antlr4/org/batfish/vendor/cool_nos/grammar/CoolNosParser.g4
  docs/example_code/new_vendor/src/main/antlr4/org/batfish/vendor/cool_nos/grammar/CoolNos_common.g4
  docs/example_code/new_vendor/src/main/antlr4/org/batfish/vendor/cool_nos/grammar/CoolNos_static_routes.g4
  docs/example_code/new_vendor/src/main/antlr4/org/batfish/vendor/cool_nos/grammar/CoolNos_system.g4
  docs/example_code/new_vendor/src/main/java/org/batfish/grammar/cool_nos/parsing/BUILD.bazel
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/BUILD.bazel
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/grammar/BUILD.bazel
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/grammar/CoolNosBaseLexer.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/grammar/CoolNosCombinedParser.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/grammar/CoolNosConfigurationBuilder.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/grammar/CoolNosControlPlaneExtractor.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/grammar/package-info.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/BUILD.bazel
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/CoolNosConfiguration.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/CoolNosConversions.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/NextHop.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/NextHopDiscard.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/NextHopGateway.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/NextHopInterface.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/NextHopVisitor.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/StaticRoute.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/package-info.java
  docs/example_code/new_vendor/src/test/java/org/batfish/vendor/cool_nos/grammar/BUILD.bazel
  docs/example_code/new_vendor/src/test/java/org/batfish/vendor/cool_nos/grammar/CoolNosGrammarTest.java
  docs/example_code/new_vendor/src/test/resources/org/batfish/vendor/cool_nos/grammar/testconfigs/BUILD.bazel
  docs/example_code/new_vendor/src/test/resources/org/batfish/vendor/cool_nos/grammar/testconfigs/cool-nos-static-routes
  docs/example_code/new_vendor/src/test/resources/org/batfish/vendor/cool_nos/grammar/testconfigs/cool.nos.host-name
  docs/example_code/new_vendor/src/test/resources/org/batfish/vendor/cool_nos/grammar/testconfigs/cool.nos.null-rule
  docs/parsing/README.md
  docs/tutorials/adding_vendor_support.md
Due: java-format, validate-grammar-rules

docs: migrate CoolNOS example to vendor-scoped code organization (#9972)
  docs/example_code/new_vendor/src/main/antlr4/org/batfish/vendor/cool_nos/grammar/BUILD.bazel
  docs/example_code/new_vendor/src/main/antlr4/org/batfish/vendor/cool_nos/grammar/CoolNosLexer.g4
  docs/example_code/new_vendor/src/main/antlr4/org/batfish/vendor/cool_nos/grammar/CoolNosParser.g4
  docs/example_code/new_vendor/src/main/antlr4/org/batfish/vendor/cool_nos/grammar/CoolNos_common.g4
  docs/example_code/new_vendor/src/main/antlr4/org/batfish/vendor/cool_nos/grammar/CoolNos_static_routes.g4
  docs/example_code/new_vendor/src/main/antlr4/org/batfish/vendor/cool_nos/grammar/CoolNos_system.g4
  docs/example_code/new_vendor/src/main/java/org/batfish/grammar/cool_nos/parsing/BUILD.bazel
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/BUILD.bazel
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/grammar/BUILD.bazel
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/grammar/CoolNosBaseLexer.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/grammar/CoolNosCombinedParser.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/grammar/CoolNosConfigurationBuilder.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/grammar/CoolNosControlPlaneExtractor.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/grammar/package-info.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/BUILD.bazel
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/CoolNosConfiguration.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/CoolNosConversions.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/NextHop.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/NextHopDiscard.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/NextHopGateway.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/NextHopInterface.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/NextHopVisitor.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/StaticRoute.java
  docs/example_code/new_vendor/src/main/java/org/batfish/vendor/cool_nos/representation/package-info.java
  docs/example_code/new_vendor/src/test/java/org/batfish/vendor/cool_nos/grammar/BUILD.bazel
  docs/example_code/new_vendor/src/test/java/org/batfish/vendor/cool_nos/grammar/CoolNosGrammarTest.java
  docs/example_code/new_vendor/src/test/resources/org/batfish/vendor/cool_nos/grammar/testconfigs/BUILD.bazel
  docs/example_code/new_vendor/src/test/resources/org/batfish/vendor/cool_nos/grammar/testconfigs/cool-nos-static-routes
  docs/example_code/new_vendor/src/test/resources/org/batfish/vendor/cool_nos/grammar/testconfigs/cool.nos.host-name
  docs/example_code/new_vendor/src/test/resources/org/batfish/vendor/cool_nos/grammar/testconfigs/cool.nos.null-rule
  docs/parsing/README.md
  docs/tutorials/adding_vendor_support.md
Due: java-format, validate-grammar-rules

caches: migrate Guava caches to Caffeine, ban Guava cache imports
  projects/batfish/src/main/java/org/batfish/main/Batfish.java
  projects/batfish/src/main/java/org/batfish/main/BfCache.java
  projects/batfish/src/test/java/BUILD.bazel
  projects/batfish/src/test/java/org/batfish/main/BatfishTestUtils.java
  projects/checkstyle-suppressions.xml
  projects/checkstyle.xml
  projects/common/src/main/java/org/batfish/common/bdd/IpSpaceToBDD.java
  projects/common/src/main/java/org/batfish/common/util/PatternProvider.java
  projects/common/src/main/java/org/batfish/datamodel/AsPath.java
  projects/common/src/main/java/org/batfish/datamodel/Ip.java
  projects/common/src/main/java/org/batfish/datamodel/Ip6Ip6Space.java
  projects/common/src/main/java/org/batfish/datamodel/Ip6WildcardIp6Space.java
  projects/common/src/main/java/org/batfish/datamodel/IpIpSpace.java
  projects/common/src/main/java/org/batfish/datamodel/IpWildcard.java
  projects/common/src/main/java/org/batfish/datamodel/IpWildcardIpSpace.java
  projects/common/src/main/java/org/batfish/datamodel/PrefixIp6Space.java
  projects/common/src/main/java/org/batfish/datamodel/PrefixIpSpace.java
  projects/common/src/main/java/org/batfish/datamodel/collections/NodeInterfacePair.java
  projects/common/src/main/java/org/batfish/datamodel/route/nh/NextHopInterface.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/CommunitySet.java
Due: java-format

caches: migrate Guava caches to Caffeine, ban Guava cache imports (#9973)
  projects/batfish/src/main/java/org/batfish/main/Batfish.java
  projects/batfish/src/main/java/org/batfish/main/BfCache.java
  projects/batfish/src/test/java/BUILD.bazel
  projects/batfish/src/test/java/org/batfish/main/BatfishTestUtils.java
  projects/checkstyle-suppressions.xml
  projects/checkstyle.xml
  projects/common/src/main/java/org/batfish/common/bdd/IpSpaceToBDD.java
  projects/common/src/main/java/org/batfish/common/util/PatternProvider.java
  projects/common/src/main/java/org/batfish/datamodel/AsPath.java
  projects/common/src/main/java/org/batfish/datamodel/Ip.java
  projects/common/src/main/java/org/batfish/datamodel/Ip6Ip6Space.java
  projects/common/src/main/java/org/batfish/datamodel/Ip6WildcardIp6Space.java
  projects/common/src/main/java/org/batfish/datamodel/IpIpSpace.java
  projects/common/src/main/java/org/batfish/datamodel/IpWildcard.java
  projects/common/src/main/java/org/batfish/datamodel/IpWildcardIpSpace.java
  projects/common/src/main/java/org/batfish/datamodel/PrefixIp6Space.java
  projects/common/src/main/java/org/batfish/datamodel/PrefixIpSpace.java
  projects/common/src/main/java/org/batfish/datamodel/collections/NodeInterfacePair.java
  projects/common/src/main/java/org/batfish/datamodel/route/nh/NextHopInterface.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/CommunitySet.java
Due: java-format

sros: register and detect Nokia SR-OS configuration format
  docs/parsing/README.md
  docs/parsing/vendors/sros.md
  projects/batfish/src/main/java/org/batfish/grammar/VendorConfigurationFormatDetector.java
  projects/batfish/src/main/java/org/batfish/job/ParseVendorConfigurationJob.java
  projects/batfish/src/test/java/org/batfish/grammar/VendorConfigurationFormatDetectorTest.java
  projects/batfish/src/test/java/org/batfish/job/ParseVendorConfigurationJobTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/r1_admin_show_configuration.txt
  projects/common/src/main/java/org/batfish/datamodel/ConfigurationFormat.java
Due: java-format

sros: register and detect Nokia SR-OS configuration format (#9974)
  docs/parsing/README.md
  docs/parsing/vendors/sros.md
  projects/batfish/src/main/java/org/batfish/grammar/VendorConfigurationFormatDetector.java
  projects/batfish/src/main/java/org/batfish/job/ParseVendorConfigurationJob.java
  projects/batfish/src/test/java/org/batfish/grammar/VendorConfigurationFormatDetectorTest.java
  projects/batfish/src/test/java/org/batfish/job/ParseVendorConfigurationJobTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/r1_admin_show_configuration.txt
  projects/common/src/main/java/org/batfish/datamodel/ConfigurationFormat.java
Due: java-format

BGP: honor advertise-inactive on iBGP sessions; add Cisco suppress-inactive
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/CiscoLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXrLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_bgp.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco/CiscoControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/grammar/cisco_asa/AsaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/grammar/cisco_xr/CiscoXrControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/BgpPeerGroup.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/AsaConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/BgpPeerGroup.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_xr/BgpPeerGroup.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_xr/BgpProcess.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_xr/CiscoXrConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_xr/MasterBgpPeerGroup.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BgpFilterInactiveIbgpTest.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco/CiscoGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_asa/CiscoAsaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-filter-inactive-ibgp/configs/as1
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-filter-inactive-ibgp/configs/as2-advertise-inactive
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-filter-inactive-ibgp/configs/as2-suppress-inactive
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-filter-inactive-ibgp/configs/as3
  projects/batfish/src/test/resources/org/batfish/grammar/cisco/testconfigs/ios-suppress-inactive
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa-advertise-inactive
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa-suppress-inactive
  projects/common/src/main/java/org/batfish/datamodel/BgpSessionProperties.java
  projects/common/src/test/java/org/batfish/datamodel/BgpSessionPropertiesTest.java
Due: java-format, validate-grammar-rules

BGP: honor advertise-inactive on iBGP sessions; add Cisco suppress-inactive (#9975)
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/CiscoLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXrLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_xr/CiscoXr_bgp.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco/CiscoControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/grammar/cisco_asa/AsaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/grammar/cisco_xr/CiscoXrControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/BgpPeerGroup.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/AsaConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/BgpPeerGroup.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_xr/BgpPeerGroup.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_xr/BgpProcess.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_xr/CiscoXrConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_xr/MasterBgpPeerGroup.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BgpFilterInactiveIbgpTest.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco/CiscoGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_asa/CiscoAsaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-filter-inactive-ibgp/configs/as1
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-filter-inactive-ibgp/configs/as2-advertise-inactive
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-filter-inactive-ibgp/configs/as2-suppress-inactive
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-filter-inactive-ibgp/configs/as3
  projects/batfish/src/test/resources/org/batfish/grammar/cisco/testconfigs/ios-suppress-inactive
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa-advertise-inactive
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa-suppress-inactive
  projects/common/src/main/java/org/batfish/datamodel/BgpSessionProperties.java
  projects/common/src/test/java/org/batfish/datamodel/BgpSessionPropertiesTest.java
Due: java-format, validate-grammar-rules

sros: parse Nokia SR-OS configs (lexer + grammar + extractor scaffold)
  docs/parsing/vendors/sros.md
  projects/batfish/src/main/antlr4/org/batfish/vendor/sros/grammar/BUILD.bazel
  projects/batfish/src/main/antlr4/org/batfish/vendor/sros/grammar/SrosLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/sros/grammar/SrosParser.g4
  projects/batfish/src/main/java/org/batfish/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/job/ParseVendorConfigurationJob.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosBaseLexer.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosCombinedParser.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/package-info.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/package-info.java
  projects/batfish/src/test/java/BUILD.bazel
  projects/batfish/src/test/java/org/batfish/job/ParseVendorConfigurationJobTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/BUILD.bazel
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/BUILD.bazel
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/equivalence_brace.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/equivalence_flat.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/equivalence_mixed.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/hostname.txt
Due: java-format, validate-grammar-rules

sros: parse Nokia SR-OS configs (lexer + grammar + extractor scaffold) (#9976)
  docs/parsing/vendors/sros.md
  projects/batfish/src/main/antlr4/org/batfish/vendor/sros/grammar/BUILD.bazel
  projects/batfish/src/main/antlr4/org/batfish/vendor/sros/grammar/SrosLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/sros/grammar/SrosParser.g4
  projects/batfish/src/main/java/org/batfish/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/job/ParseVendorConfigurationJob.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosBaseLexer.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosCombinedParser.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/package-info.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/BUILD.bazel
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/package-info.java
  projects/batfish/src/test/java/BUILD.bazel
  projects/batfish/src/test/java/org/batfish/job/ParseVendorConfigurationJobTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/BUILD.bazel
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/BUILD.bazel
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/equivalence_brace.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/equivalence_flat.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/equivalence_mixed.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/hostname.txt
Due: java-format, validate-grammar-rules

sros: extract Nokia SR-OS configs into a typed feature model
  docs/parsing/vendors/sros.md
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosPreprocessor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosStatementTree.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/BgpGroup.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/BgpNeighbor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/BgpProcess.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/Card.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/Mda.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PolicyAction.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PolicyStatement.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PolicyStatementEntry.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/Port.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PrefixList.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PrefixListEntry.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/Router.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/RouterInterface.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosExtractionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/apply_groups.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/apply_groups_regex.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/delete_edit.txt
Due: java-format

sros: convert Nokia SR-OS configs to the vendor-independent model
  docs/parsing/vendors/sros.md
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/common/src/main/java/org/batfish/datamodel/DeviceModel.java
Due: java-format

sros: model the port/router-interface split so L1 topology drives L3
  docs/parsing/vendors/sros.md
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/BUILD.bazel
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosPostProcessingTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/snapshots/BUILD.bazel
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/snapshots/sros_ceos_ebgp/configs/r1
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/snapshots/sros_ceos_ebgp/configs/r2
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/snapshots/sros_ceos_ebgp/layer1_topology.json
Due: java-format

sros: document P7 RIB validation in the vendor guide
  docs/parsing/vendors/sros.md
Due: none

sros: fix BGP local-ip, origin, and connected-route modeling
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
Due: java-format

ASA: remove lexer state-variable predicates
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_acl.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaParser.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco_asa/AsaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/grammar/cisco_asa/parsing/AsaBaseLexer.java
Due: java-format, validate-grammar-rules

ASA: remove lexer state-variable predicates (#9984)
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_acl.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaParser.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco_asa/AsaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/grammar/cisco_asa/parsing/AsaBaseLexer.java
Due: java-format, validate-grammar-rules

Transformation: serialize deep orElse chains iteratively
  projects/common/src/main/java/org/batfish/datamodel/transformation/Transformation.java
  projects/common/src/test/java/org/batfish/datamodel/transformation/TransformationTest.java
Due: java-format

Transformation: serialize deep orElse chains iteratively (#9985)
  projects/common/src/main/java/org/batfish/datamodel/transformation/Transformation.java
  projects/common/src/test/java/org/batfish/datamodel/transformation/TransformationTest.java
Due: java-format

sros: extract Nokia SR-OS configs into a typed feature model (#9977)
  docs/parsing/vendors/sros.md
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosPreprocessor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosStatementTree.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/BgpGroup.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/BgpNeighbor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/BgpProcess.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/Card.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/Mda.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PolicyAction.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PolicyStatement.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PolicyStatementEntry.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/Port.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PrefixList.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PrefixListEntry.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/Router.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/RouterInterface.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosExtractionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/apply_groups.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/apply_groups_regex.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/delete_edit.txt
Due: java-format

sros: track source provenance for line-stamped warnings and structure references
  docs/parsing/vendors/sros.md
  projects/batfish/src/main/java/org/batfish/main/annotate/Annotate.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosStatementTree.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosStructureType.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosStructureUsage.java
  projects/batfish/src/test/java/org/batfish/main/annotate/AnnotateTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosExtractionTest.java
  projects/batfish/src/test/resources/org/batfish/main/annotate/testconfigs/annotate-sros-after
  projects/batfish/src/test/resources/org/batfish/main/annotate/testconfigs/annotate-sros-before
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/apply_groups_bad_value.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/bad_values.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/undefined_references.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/unused_structure.txt
Due: java-format

sros: warn on unrecognized enumerated values
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosExtractionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/bad_enums.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/bad_prefix_type.txt
Due: java-format

sros: address review feedback
  docs/parsing/vendors/sros.md
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/BgpGroup.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/BgpNeighbor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PeerType.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosExtractionTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/apply_groups.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/apply_groups_bad_value.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/apply_groups_regex.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/bad_enums.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/bad_prefix_type.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/bad_values.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/bgp_type_and_inheritance.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/delete_edit.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/equivalence_brace.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/equivalence_flat.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/equivalence_mixed.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/r1_admin_show_configuration.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/undefined_references.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/unused_structure.txt
Due: java-format

docs: production-readiness guidance for adding a vendor
  docs/extraction/README.md
  docs/parsing/implementation_guide.md
  docs/tutorials/adding_vendor_support.md
Due: none

sros: model static routes (P8 rung L1)
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/Router.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/StaticRoute.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosExtractionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/static_routes.txt
Due: java-format

sros: scope iBGP default-accept to BGP routes (P8 rung L3)
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/ibgp_default_accept.txt
Due: java-format

sros: model policy set-clauses and prefix-list match bounds (P8 rung L5)
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/Community.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PolicyStatementEntry.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PrefixListEntry.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosStructureType.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosStructureUsage.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosExtractionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/policy_set_clauses.txt
Due: java-format

sros: document the P8 complexity-ladder rungs in the vendor guide
  docs/parsing/vendors/sros.md
Due: none

sros: model OSPF, route reflection, redistribution, and VPRN (P8 rungs L2/L4/L6/L7)
  projects/batfish/src/main/java/org/batfish/vendor/sros/grammar/SrosFeatureExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/BgpGroup.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/BgpNeighbor.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/OspfArea.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/OspfAreaInterface.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/OspfProcess.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/PolicyStatementEntry.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/Router.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/sros/representation/SrosConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosConversionTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sros/grammar/SrosExtractionTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/ospf.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/redistribute_static.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/route_reflector.txt
  projects/batfish/src/test/resources/org/batfish/vendor/sros/grammar/testconfigs/vprn.txt
Due: java-format

sros: document P8 rungs L2/L4/L6/L7 in the vendor guide
  docs/parsing/vendors/sros.md
Due: none

sros: note the L8 interface_up lab_builder false-negative in the vendor guide
  docs/parsing/vendors/sros.md
Due: none
