Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: java-format
        name: java-format
        entry: ./tools/fix_java_format.sh --replace
        language: script
        files: '\.java$'
        require_serial: true
        pass_filenames: true
      - id: buildifier
        name: buildifier
        entry: bazel --noblock_for_lock run //:buildifier.fix
        language: system
        require_serial: true
        pass_filenames: false # this is a global check, only run it once
      - id: validate-grammar-rules
        name: validate-grammar-rules
        entry: ./tools/validate_grammar_rules.py --changed-only
        language: python
        files: '\.g4$'
        require_serial: true
        pass_filenames: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
          ]

ibdp: pass NetworkConfigurations to every RoutingProcess.executeIteration (#10208)
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/BgpRoutingProcess.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/EigrpRoutingProcess.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalBdpEngine.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/OspfRoutingProcess.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/RoutingProcess.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BgpRoutingProcessTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/OspfRoutingProcessTest.java
Due: java-format

statics: resolve a conditional route group's next hop once, and skip merging routes already present
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/main/java/org/batfish/dataplane/protocols/StaticRouteHelper.java
Due: java-format

statics: resolve a conditional route group's next hop once, and skip merging routes already present
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/main/java/org/batfish/dataplane/protocols/StaticRouteHelper.java
  projects/batfish/src/test/java/org/batfish/dataplane/protocols/StaticRouteHelperTest.java
Due: java-format

statics: resolve a conditional route group's next hop once, and skip merging routes already present (#10209)
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/main/java/org/batfish/dataplane/protocols/StaticRouteHelper.java
  projects/batfish/src/test/java/org/batfish/dataplane/protocols/StaticRouteHelperTest.java
Due: java-format

FibImpl: resolve each next hop IP once per VRF and share the result across routes
  projects/batfish/src/test/java/org/batfish/dataplane/FibImplTest.java
  projects/common/src/main/java/org/batfish/datamodel/FibImpl.java
Due: java-format

FibImpl: resolve each next hop IP once per VRF and share the result across routes
  docs/data_plane/fib_export_policy.md
  projects/batfish/src/main/java/org/batfish/dataplane/FibImpl.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/test/java/org/batfish/dataplane/FibImplTest.java
Due: java-format

topology: filter synthesized L3 edges as they are produced, and synthesize prefix buckets in parallel
  projects/common/src/main/java/org/batfish/common/topology/TopologyUtil.java
Due: java-format

ibdp: hash and count RIB routes without materializing the route set each iteration
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalBdpEngine.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/OspfRoutingProcess.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/main/java/org/batfish/dataplane/rib/AbstractRib.java
  projects/batfish/src/test/java/org/batfish/dataplane/rib/RibTest.java
Due: java-format

topology: filter synthesized L3 edges as they are produced, and synthesize prefix buckets in parallel (#10211)
  projects/common/src/main/java/org/batfish/common/topology/TopologyUtil.java
Due: java-format

FibImpl: resolve each next hop IP once per VRF and share the result across routes (#10210)
  docs/data_plane/fib_export_policy.md
  projects/batfish/src/main/java/org/batfish/dataplane/FibImpl.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/test/java/org/batfish/dataplane/FibImplTest.java
Due: java-format

topology: compute per-device ARP replies, host subnet IPs, owned IP spaces, and location info in parallel
  projects/common/src/main/java/org/batfish/common/topology/IpOwnersBaseImpl.java
  projects/common/src/main/java/org/batfish/common/util/CollectionUtil.java
  projects/common/src/main/java/org/batfish/datamodel/ForwardingAnalysisImpl.java
  projects/common/src/main/java/org/batfish/specifier/LocationInfoUtils.java
Due: java-format

ibdp: compute the node schedule once per topology round instead of once per iteration
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalBdpEngine.java
Due: java-format

ibdp: hash and count RIB routes without materializing the route set each iteration (#10212)
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalBdpEngine.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/OspfRoutingProcess.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/main/java/org/batfish/dataplane/rib/AbstractRib.java
  projects/batfish/src/test/java/org/batfish/dataplane/rib/RibTest.java
Due: java-format

topology: compute per-device ARP replies, host subnet IPs, owned IP spaces, and location info in parallel (#10213)
  projects/common/src/main/java/org/batfish/common/topology/IpOwnersBaseImpl.java
  projects/common/src/main/java/org/batfish/common/util/CollectionUtil.java
  projects/common/src/main/java/org/batfish/datamodel/ForwardingAnalysisImpl.java
  projects/common/src/main/java/org/batfish/specifier/LocationInfoUtils.java
Due: java-format

ibdp: compute the node schedule once per topology round instead of once per iteration (#10214)
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalBdpEngine.java
Due: java-format

ParallelMapSerializer: pair each key with its value in one traversal
  projects/common/src/main/java/org/batfish/common/util/ParallelMapSerializer.java
  projects/common/src/test/java/org/batfish/common/util/ParallelMapSerializerTest.java
Due: java-format

ParallelMapSerializer: pair each key with its value in one traversal (#10215)
  projects/common/src/main/java/org/batfish/common/util/ParallelMapSerializer.java
  projects/common/src/test/java/org/batfish/common/util/ParallelMapSerializerTest.java
Due: java-format

Junos: report undefined references for apply-groups and apply-groups-except
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ApplyGroupsMarker.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/FlatJuniperControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/GroupTreeBuilder.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/Hierarchy.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureType.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-apply-groups-references
  tests/parsing-tests/unit-tests-undefined.ref
  tests/parsing-tests/unit-tests-unused.ref
  tests/parsing-tests/unit-tests.ref
Due: java-format

Junos: report undefined references for apply-groups and apply-groups-except (#10216)
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ApplyGroupsMarker.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/FlatJuniperControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/GroupTreeBuilder.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/Hierarchy.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureType.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-apply-groups-references
  tests/parsing-tests/unit-tests-undefined.ref
  tests/parsing-tests/unit-tests-unused.ref
  tests/parsing-tests/unit-tests.ref
Due: java-format

junit_tests: drop every attribute the receiving java rule does not accept
  skylark/BUILD.bazel
  skylark/junit.bzl
  skylark/junit_attrs_test.bzl
Due: none

junit_tests: drop every attribute the receiving java rule does not accept (#10217)
  skylark/BUILD.bazel
  skylark/junit.bzl
  skylark/junit_attrs_test.bzl
Due: none

coordinator: delete a snapshot's temp trees on every exit, and verify zip entry CRCs
  projects/common/src/main/java/org/batfish/common/util/UnzipUtility.java
  projects/common/src/test/java/org/batfish/common/util/UnzipUtilityTest.java
  projects/coordinator/src/main/java/org/batfish/coordinator/WorkMgr.java
  projects/coordinator/src/test/java/org/batfish/coordinator/WorkMgrTest.java
Due: java-format

coordinator: delete a snapshot's temp trees on every exit, and verify zip entry CRCs (#10222)
  projects/common/src/main/java/org/batfish/common/util/UnzipUtility.java
  projects/common/src/test/java/org/batfish/common/util/UnzipUtilityTest.java
  projects/coordinator/src/main/java/org/batfish/coordinator/WorkMgr.java
  projects/coordinator/src/test/java/org/batfish/coordinator/WorkMgrTest.java
Due: java-format

Junos: parse bgp metric-out, and keep groups whose statements are all inactive
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/GroupDefinitionRecorder.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/GroupTreeBuilder.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/PreprocessJuniperExtractor.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/bgp-metric-out
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-group-inactive-only
Due: java-format, validate-grammar-rules

Junos: parse bgp metric-out, and keep groups whose statements are all inactive (#10223)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/GroupDefinitionRecorder.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/GroupTreeBuilder.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/PreprocessJuniperExtractor.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/bgp-metric-out
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-group-inactive-only
Due: java-format, validate-grammar-rules

Junos: parse empty containers, domain-path-id, filter group, and quoted group wildcards
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_class_of_service.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_common.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/Hierarchy.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-bgp-domain-path-id
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-cos-interfaces-empty
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-filter-group
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-group-wildcard-quoted
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-srlg-empty
Due: java-format, validate-grammar-rules

Junos: parse empty containers, domain-path-id, filter group, and quoted group wildcards (#10224)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_class_of_service.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_common.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_routing_instances.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/Hierarchy.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-bgp-domain-path-id
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-cos-interfaces-empty
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-filter-group
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-group-wildcard-quoted
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-srlg-empty
Due: java-format, validate-grammar-rules

VRRP: honor `no vrrp <group> preempt` on IOS and Arista
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_interface.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco/CiscoControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco/CiscoGrammarTest.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco/testconfigs/ios-interface-vrrp
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_vrrp
Due: java-format, validate-grammar-rules

VRRP: honor `no vrrp <group> preempt` on IOS and Arista (#10225)
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_interface.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Legacy_interface.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco/CiscoControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco/CiscoGrammarTest.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco/testconfigs/ios-interface-vrrp
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_vrrp
Due: java-format, validate-grammar-rules

storage: reclaim deleted data by moving it aside, not by scanning for it
  projects/common/src/main/java/org/batfish/storage/FileBasedStorage.java
  projects/common/src/main/java/org/batfish/storage/StorageProvider.java
  projects/common/src/test/java/org/batfish/storage/FileBasedStorageTest.java
  projects/common/src/test/java/org/batfish/storage/TestStorageProvider.java
  projects/coordinator/src/main/java/org/batfish/coordinator/Main.java
  projects/coordinator/src/main/java/org/batfish/coordinator/WorkMgr.java
  projects/coordinator/src/test/java/org/batfish/coordinator/WorkMgrTest.java
Due: java-format

Junos: parse vlans filter and mac-move-limit, vrrp-inet6-group, and fix xSTP on tagged interfaces
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperParser.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-vlans-forwarding-options-filter
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-vlans-mac-move-limit
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-vrrp-inet6-group
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-xstp-tagged-interface
Due: java-format, validate-grammar-rules

Junos: parse vlans filter and mac-move-limit, vrrp-inet6-group, and fix xSTP on tagged interfaces (#10227)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperParser.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-vlans-forwarding-options-filter
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-vlans-mac-move-limit
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-vrrp-inet6-group
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/junos-xstp-tagged-interface
Due: java-format, validate-grammar-rules

SONiC, Cumulus: convert port speed from Mbps with 1e6, and set SONiC port bandwidth
  projects/batfish/src/main/java/org/batfish/representation/cumulus_nclu/CumulusConversions.java
  projects/batfish/src/main/java/org/batfish/representation/frr/FrrConversions.java
  projects/batfish/src/main/java/org/batfish/vendor/sonic/representation/SonicConversions.java
  projects/batfish/src/test/java/org/batfish/grammar/cumulus_concatenated/CumulusConcatenatedGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/cumulus_nclu/CumulusNcluGrammarTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sonic/representation/SonicConversionsTest.java
Due: java-format

SONiC, Cumulus: convert port speed from Mbps with 1e6, and set SONiC port bandwidth (#10231)
  projects/batfish/src/main/java/org/batfish/representation/cumulus_nclu/CumulusConversions.java
  projects/batfish/src/main/java/org/batfish/representation/frr/FrrConversions.java
  projects/batfish/src/main/java/org/batfish/vendor/sonic/representation/SonicConversions.java
  projects/batfish/src/test/java/org/batfish/grammar/cumulus_concatenated/CumulusConcatenatedGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/cumulus_nclu/CumulusNcluGrammarTest.java
  projects/batfish/src/test/java/org/batfish/vendor/sonic/representation/SonicConversionsTest.java
Due: java-format

ParseWarningMatchers: add TODO warning matchers
  projects/batfish/src/main/java/org/batfish/main/annotate/Annotate.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/frr/FrrGrammarTest.java
  projects/common/src/main/java/org/batfish/common/Warnings.java
  projects/common/src/test/java/org/batfish/common/ParseWarningMatchersTest.java
  projects/common/src/test/java/org/batfish/common/matchers/ParseWarningMatchers.java
Due: java-format
