Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: java-format
        name: java-format
        entry: ./tools/fix_java_format.sh --replace
        language: script
        files: '\.java$'
        require_serial: true
        pass_filenames: true
      - id: buildifier
        name: buildifier
        entry: bazel --noblock_for_lock run //:buildifier.fix
        language: system
        require_serial: true
        pass_filenames: false # this is a global check, only run it once
      - id: validate-grammar-rules
        name: validate-grammar-rules
        entry: ./tools/validate_grammar_rules.py --changed-only
        language: python
        files: '\.g4$'
        require_serial: true
        pass_filenames: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
          ]

docs: add developer guides for 8 core Batfish questions (#9845)
  docs/question_development/bgpSessionStatus.md
  docs/question_development/reachability.md
  docs/question_development/routes.md
  docs/question_development/searchFilters.md
  docs/question_development/searchRoutePolicies.md
  docs/question_development/testFilters.md
  docs/question_development/testRoutePolicies.md
  docs/question_development/traceroute.md
Due: none

refactor: authenticationkeychain.setkeys allows null map, leading to downstream npes
  projects/common/src/main/java/org/batfish/datamodel/AuthenticationKeyChain.java
Due: java-format

AbstractRoute: store admin and tag as int for memory savings (#9837)
  projects/common/src/main/java/org/batfish/datamodel/AbstractRoute.java
  projects/common/src/main/java/org/batfish/datamodel/Bgpv4Route.java
  projects/common/src/main/java/org/batfish/datamodel/ConnectedRoute.java
  projects/common/src/main/java/org/batfish/datamodel/EigrpExternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/EigrpInternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/EigrpRoute.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType2Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType3Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType5Route.java
  projects/common/src/main/java/org/batfish/datamodel/GeneratedRoute.java
  projects/common/src/main/java/org/batfish/datamodel/HmmRoute.java
  projects/common/src/main/java/org/batfish/datamodel/IsisRoute.java
  projects/common/src/main/java/org/batfish/datamodel/KernelRoute.java
  projects/common/src/main/java/org/batfish/datamodel/LocalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfExternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfInterAreaRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfInternalSummaryRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfIntraAreaRoute.java
  projects/common/src/main/java/org/batfish/datamodel/RipInternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/StaticRoute.java
  projects/common/src/test/java/org/batfish/datamodel/ConnectedRouteTest.java
  projects/question/src/test/java/org/batfish/question/routes/RoutesAnswererUtilTest.java
Due: java-format

BgpRouteAttributes: store localPreference and med as int
  projects/common/src/main/java/org/batfish/datamodel/BgpRoute.java
  projects/common/src/main/java/org/batfish/datamodel/Bgpv4Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType2Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType3Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType5Route.java
Due: java-format

Route subclasses: store metric, area, and processAsn as int
  projects/common/src/main/java/org/batfish/datamodel/EigrpExternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/EigrpInternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/EigrpRoute.java
  projects/common/src/main/java/org/batfish/datamodel/GeneratedRoute.java
  projects/common/src/main/java/org/batfish/datamodel/IsisRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfExternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfInterAreaRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfInternalSummaryRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfIntraAreaRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfRoute.java
  projects/common/src/main/java/org/batfish/datamodel/RipInternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/RipRoute.java
  projects/common/src/main/java/org/batfish/datamodel/StaticRoute.java
  projects/question/src/test/java/org/batfish/question/routes/RoutesAnswererUtilTest.java
Due: java-format

BgpRouteAttributes: store localPreference and med as int (#9838)
  projects/common/src/main/java/org/batfish/datamodel/BgpRoute.java
  projects/common/src/main/java/org/batfish/datamodel/Bgpv4Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType2Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType3Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType5Route.java
Due: java-format

Route subclasses: store metric, area, and processAsn as int (#9839)
  projects/common/src/main/java/org/batfish/datamodel/EigrpExternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/EigrpInternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/EigrpRoute.java
  projects/common/src/main/java/org/batfish/datamodel/GeneratedRoute.java
  projects/common/src/main/java/org/batfish/datamodel/IsisRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfExternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfInterAreaRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfInternalSummaryRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfIntraAreaRoute.java
  projects/common/src/main/java/org/batfish/datamodel/OspfRoute.java
  projects/common/src/main/java/org/batfish/datamodel/RipInternalRoute.java
  projects/common/src/main/java/org/batfish/datamodel/RipRoute.java
  projects/common/src/main/java/org/batfish/datamodel/StaticRoute.java
  projects/question/src/test/java/org/batfish/question/routes/RoutesAnswererUtilTest.java
Due: java-format

BgpRoute: store pathId as int with 0 sentinel for null
  projects/common/src/main/java/org/batfish/datamodel/BgpRoute.java
  projects/common/src/main/java/org/batfish/datamodel/Bgpv4Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType2Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType3Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType5Route.java
Due: java-format

BgpRoute: store pathId as int with 0 sentinel for null (#9840)
  projects/common/src/main/java/org/batfish/datamodel/BgpRoute.java
  projects/common/src/main/java/org/batfish/datamodel/Bgpv4Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType2Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType3Route.java
  projects/common/src/main/java/org/batfish/datamodel/EvpnType5Route.java
Due: java-format

docs: fix broken relative markdown links in filterLineReachability
  docs/question_development/filterLineReachability.md
  projects/question/src/main/java/org/batfish/question/filterlinereachability/README.md
Due: none

docs: fix broken relative markdown links in filterLineReachability (#9852)
  docs/question_development/filterLineReachability.md
  projects/question/src/main/java/org/batfish/question/filterlinereachability/README.md
Due: none

FibEntry: reduce memory of single-route hack
  projects/common/src/main/java/org/batfish/datamodel/FibEntry.java
Due: java-format

FibEntry: reduce memory of single-route hack (#9853)
  projects/common/src/main/java/org/batfish/datamodel/FibEntry.java
Due: java-format

FinalMainRib: simplify serialized form
  projects/common/src/main/java/org/batfish/datamodel/FinalMainRib.java
Due: java-format

FinalMainRib: simplify serialized form (#9854)
  projects/common/src/main/java/org/batfish/datamodel/FinalMainRib.java
Due: java-format

Juniper: parse family inet6 filter input-list and output-list
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Interface.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/firewall-filters
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

Juniper: parse family inet6 filter input-list and output-list (#9855)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_interfaces.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/Interface.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/firewall-filters
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

Juniper: parse hop-limit-except and fix spaced sub-ranges
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_firewall.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_mpls.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/FwFromHopLimit.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/FwTerm.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/firewall-filter-hop-limit
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/firewall-filter-packet-length-spaced-range
Due: java-format, validate-grammar-rules

Juniper: parse hop-limit-except and fix spaced sub-ranges (#9856)
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniperLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_firewall.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_mpls.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/FwFromHopLimit.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/FwTerm.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/firewall-filter-hop-limit
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/firewall-filter-packet-length-spaced-range
Due: java-format, validate-grammar-rules

Add missing readResolve() to Serializable singletons and cached classes
  projects/common/src/main/java/org/batfish/datamodel/FibNullRoute.java
  projects/common/src/main/java/org/batfish/datamodel/InferFromFib.java
  projects/common/src/main/java/org/batfish/datamodel/Ip6.java
  projects/common/src/main/java/org/batfish/datamodel/Prefix6.java
  projects/common/src/main/java/org/batfish/datamodel/acl/FalseExpr.java
  projects/common/src/main/java/org/batfish/datamodel/acl/OriginatingFromDevice.java
  projects/common/src/main/java/org/batfish/datamodel/acl/TrueExpr.java
  projects/common/src/main/java/org/batfish/datamodel/packet_policy/Drop.java
  projects/common/src/main/java/org/batfish/datamodel/packet_policy/FalseExpr.java
  projects/common/src/main/java/org/batfish/datamodel/packet_policy/IngressInterfaceVrf.java
  projects/common/src/main/java/org/batfish/datamodel/packet_policy/TrueExpr.java
  projects/common/src/main/java/org/batfish/datamodel/route/nh/NextHopDiscard.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/as_path/InputAsPath.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/AllExtendedCommunities.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/AllLargeCommunities.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/AllStandardCommunities.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/ColonSeparatedRendering.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/InputCommunities.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/IntegerValueRendering.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/RouteTargetExtendedCommunities.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/SiteOfOriginExtendedCommunities.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/VpnDistinguisherExtendedCommunities.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/expr/AutoAs.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/expr/DestinationNetwork.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/expr/LastAs.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/expr/LocalAs.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/expr/NextHopIp.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/expr/RemoteAs.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/expr/RouteIsClassful.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/statement/RemoveTunnelEncapsulationAttribute.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/statement/ReplaceAsesInAsSequence.java
  projects/common/src/main/java/org/batfish/datamodel/vendor_family/f5_bigip/ManagementIp.java
Due: java-format

FRR: implement BGP table-map (deny/permit) (#9844)
  docs/data_plane/README.md
  docs/data_plane/table_map.md
  projects/batfish/src/main/antlr4/org/batfish/grammar/frr/FrrLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/frr/Frr_bgp.g4
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/BgpRoutingProcess.java
  projects/batfish/src/main/java/org/batfish/grammar/frr/FrrConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/cumulus_concatenated/CumulusStructureUsage.java
  projects/batfish/src/main/java/org/batfish/representation/frr/BgpVrf.java
  projects/batfish/src/main/java/org/batfish/representation/frr/FrrConversions.java
  projects/batfish/src/main/java/org/batfish/representation/frr/FrrStructureUsage.java
  projects/batfish/src/main/java/org/batfish/vendor/sonic/representation/SonicStructureUsage.java
  projects/batfish/src/test/java/org/batfish/grammar/frr/FrrGrammarTest.java
  projects/batfish/src/test/java/org/batfish/representation/frr/FrrConversionsTest.java
  projects/common/src/main/java/org/batfish/datamodel/BgpProcess.java
Due: java-format, validate-grammar-rules

Add missing readResolve() to Serializable singletons and cached classes (#9857)
  projects/common/src/main/java/org/batfish/datamodel/FibNullRoute.java
  projects/common/src/main/java/org/batfish/datamodel/InferFromFib.java
  projects/common/src/main/java/org/batfish/datamodel/Ip6.java
  projects/common/src/main/java/org/batfish/datamodel/Prefix6.java
  projects/common/src/main/java/org/batfish/datamodel/acl/FalseExpr.java
  projects/common/src/main/java/org/batfish/datamodel/acl/OriginatingFromDevice.java
  projects/common/src/main/java/org/batfish/datamodel/acl/TrueExpr.java
  projects/common/src/main/java/org/batfish/datamodel/packet_policy/Drop.java
  projects/common/src/main/java/org/batfish/datamodel/packet_policy/FalseExpr.java
  projects/common/src/main/java/org/batfish/datamodel/packet_policy/IngressInterfaceVrf.java
  projects/common/src/main/java/org/batfish/datamodel/packet_policy/TrueExpr.java
  projects/common/src/main/java/org/batfish/datamodel/route/nh/NextHopDiscard.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/as_path/InputAsPath.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/AllExtendedCommunities.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/AllLargeCommunities.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/AllStandardCommunities.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/ColonSeparatedRendering.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/InputCommunities.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/IntegerValueRendering.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/RouteTargetExtendedCommunities.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/SiteOfOriginExtendedCommunities.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/communities/VpnDistinguisherExtendedCommunities.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/expr/AutoAs.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/expr/DestinationNetwork.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/expr/LastAs.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/expr/LocalAs.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/expr/NextHopIp.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/expr/RemoteAs.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/expr/RouteIsClassful.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/statement/RemoveTunnelEncapsulationAttribute.java
  projects/common/src/main/java/org/batfish/datamodel/routing_policy/statement/ReplaceAsesInAsSequence.java
  projects/common/src/main/java/org/batfish/datamodel/vendor_family/f5_bigip/ManagementIp.java
Due: java-format

Driver: remove broken thread timeout mechanism from runBatfish
  projects/batfish/src/main/java/org/batfish/config/Settings.java
  projects/batfish/src/main/java/org/batfish/main/Driver.java
Due: java-format

Driver: remove broken thread timeout mechanism from runBatfish (#9858)
  projects/batfish/src/main/java/org/batfish/config/Settings.java
  projects/batfish/src/main/java/org/batfish/main/Driver.java
Due: java-format

Update MODULE.bazel.lock
  MODULE.bazel.lock
Due: none

Update MODULE.bazel.lock (#9859)
  MODULE.bazel.lock
Due: none

Fix up junos tests for vxlan / evpn
  projects/batfish/src/test/java/org/batfish/dataplane/EvpnJuniperTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/EvpnType5JuniperTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/interface-vlan
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-evpn-vrf-target-auto
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-evpn-vxlan
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-so-vrf-target-auto
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-so-vrf-target-export
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-so-vrf-target-import
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-so-vrf-target-target
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vni-vrf-target-auto
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vni-vrf-target-export
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vni-vrf-target-import
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vni-vrf-target-target
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vtep-source
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vxlan-extraction
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vxlan-l2vni
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vxlan-l3vni
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/juniper-vxlan-l3vni-novlan
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/routing-instances-route-distinguisher
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/routing-options-rd-id
Due: java-format

Junos: parse evpn VNI as uint32
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_evpn.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

Junos: parse vni-options VNI as uint32
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_evpn.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

Junos: warn on illegal [evpn ip-prefix-routes]
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
Due: java-format

Inline DataModelMatchers into typed matcher classes
  projects/batfish/src/test/java/org/batfish/grammar/cisco/CiscoGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_asa/CiscoAsaGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_xr/XrGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/cumulus_nclu/CumulusNcluGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/f5_bigip_imish/F5BigipImishGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/f5_bigip_structured/F5BigipStructuredGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperAggregationTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosMplsAdminGroupTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosMplsLspTest.java
  projects/batfish/src/test/java/org/batfish/grammar/fortios/FortiosGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/java/org/batfish/job/ConvertConfigurationJobTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/SubnetTest.java
  projects/batfish/src/test/java/org/batfish/vendor/a10/grammar/A10GrammarTest.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/java/org/batfish/vendor/check_point_gateway/grammar/CheckPointGatewayGrammarTest.java
  projects/batfish/src/test/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosGrammarTest.java
  projects/common/src/test/java/org/batfish/datamodel/VrfTest.java
  projects/common/src/test/java/org/batfish/datamodel/matchers/ConvertConfigurationAnswerElementMatchers.java
  projects/common/src/test/java/org/batfish/datamodel/matchers/DataModelMatchers.java
  projects/common/src/test/java/org/batfish/datamodel/matchers/InterfaceMatchers.java
  projects/common/src/test/java/org/batfish/datamodel/matchers/OspfProcessMatchers.java
  projects/common/src/test/java/org/batfish/datamodel/matchers/ParseVendorConfigurationAnswerElementMatchers.java
  projects/common/src/test/java/org/batfish/datamodel/matchers/PermittedByAclMatchers.java
  projects/common/src/test/java/org/batfish/datamodel/matchers/ZoneMatchers.java
  projects/common/src/test/java/org/batfish/vendor/VendorConfigurationTest.java
Due: java-format

Inline DataModelMatchers into typed matcher classes (#9866)
  projects/batfish/src/test/java/org/batfish/grammar/cisco/CiscoGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_asa/CiscoAsaGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_xr/XrGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/cumulus_nclu/CumulusNcluGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/f5_bigip_imish/F5BigipImishGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/f5_bigip_structured/F5BigipStructuredGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperAggregationTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosMplsAdminGroupTest.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JunosMplsLspTest.java
  projects/batfish/src/test/java/org/batfish/grammar/fortios/FortiosGrammarTest.java
  projects/batfish/src/test/java/org/batfish/grammar/palo_alto/PaloAltoGrammarTest.java
  projects/batfish/src/test/java/org/batfish/job/ConvertConfigurationJobTest.java
  projects/batfish/src/test/java/org/batfish/representation/aws/SubnetTest.java
  projects/batfish/src/test/java/org/batfish/vendor/a10/grammar/A10GrammarTest.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/java/org/batfish/vendor/check_point_gateway/grammar/CheckPointGatewayGrammarTest.java
  projects/batfish/src/test/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosGrammarTest.java
  projects/common/src/test/java/org/batfish/datamodel/VrfTest.java
  projects/common/src/test/java/org/batfish/datamodel/matchers/ConvertConfigurationAnswerElementMatchers.java
  projects/common/src/test/java/org/batfish/datamodel/matchers/DataModelMatchers.java
  projects/common/src/test/java/org/batfish/datamodel/matchers/InterfaceMatchers.java
  projects/common/src/test/java/org/batfish/datamodel/matchers/OspfProcessMatchers.java
  projects/common/src/test/java/org/batfish/datamodel/matchers/ParseVendorConfigurationAnswerElementMatchers.java
  projects/common/src/test/java/org/batfish/datamodel/matchers/PermittedByAclMatchers.java
  projects/common/src/test/java/org/batfish/datamodel/matchers/ZoneMatchers.java
  projects/common/src/test/java/org/batfish/vendor/VendorConfigurationTest.java
Due: java-format
