Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

java-format:
  name: java-format
  entry: ./tools/fix_java_format.sh --replace
  language: script
  require_serial: true
  pass_filenames: true

validate-grammar-rules:
  name: validate-grammar-rules
  entry: ./tools/validate_grammar_rules.py --changed-only
  language: python
  require_serial: true
  pass_filenames: true

Arista: honor aggregate-address advertise-only (do not install in main RIB)
  projects/batfish/src/main/java/org/batfish/dataplane/protocols/BgpProtocolHelper.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConversions.java
  projects/batfish/src/test/java/org/batfish/dataplane/protocols/BgpProtocolHelperTest.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/bgp_aggregate_advertise_only
  projects/common/src/main/java/org/batfish/datamodel/bgp/BgpAggregate.java
  projects/common/src/test/java/org/batfish/datamodel/bgp/BgpAggregateTest.java
Due: java-format

feat(cisco): extract Cisco IOS NTP authentication (#10092)
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/CiscoLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_common.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco/Cisco_ntp.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco/CiscoControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/CiscoConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/NtpAuthenticationKey.java
  projects/batfish/src/main/java/org/batfish/representation/cisco/NtpServer.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco/CiscoGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco/testconfigs/ios-ntp
  projects/batfish/src/test/resources/org/batfish/grammar/cisco/testconfigs/ios-ntp-no-authenticate
Due: java-format, validate-grammar-rules

Arista: test summary-only aggregate suppression in a VRF (#10093)
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/snapshots/bgp-agg-vrf-summary-only/configs/c1
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/snapshots/bgp-agg-vrf-summary-only/configs/c2
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/snapshots/bgp-agg-vrf-summary-only/configs/c3
Due: java-format

feat(cisco): extract Cisco ASA NTP authentication
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_ntp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/Asa_common.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco_asa/AsaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/AsaConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/NtpAuthenticationKey.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/NtpServer.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_asa/CiscoAsaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa-ntp
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa-ntp-no-authenticate
Due: java-format, validate-grammar-rules

feat(cisco): extract Cisco NXOS NTP authentication
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_ntp.g4
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/NtpAuthenticationKey.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/NtpServer.java
  projects/batfish/src/test/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/cisco_nxos/grammar/testconfigs/nxos_ntp
  projects/batfish/src/test/resources/org/batfish/vendor/cisco_nxos/grammar/testconfigs/nxos_ntp_no_authenticate
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

nxos: extract Cisco NX-OS NTP authentication (#10099)
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_ntp.g4
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/NtpAuthenticationKey.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/NtpServer.java
  projects/batfish/src/test/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/cisco_nxos/grammar/testconfigs/nxos_ntp
  projects/batfish/src/test/resources/org/batfish/vendor/cisco_nxos/grammar/testconfigs/nxos_ntp_no_authenticate
  tests/parsing-tests/unit-tests.ref
Due: java-format, validate-grammar-rules

ASA: extract Cisco ASA NTP authentication (#10097)
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLegacy_ntp.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/AsaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/grammar/cisco_asa/Asa_common.g4
  projects/batfish/src/main/java/org/batfish/grammar/cisco_asa/AsaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/AsaConfiguration.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/NtpAuthenticationKey.java
  projects/batfish/src/main/java/org/batfish/representation/cisco_asa/NtpServer.java
  projects/batfish/src/test/java/org/batfish/grammar/cisco_asa/CiscoAsaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa-ntp
  projects/batfish/src/test/resources/org/batfish/grammar/cisco_asa/testconfigs/asa-ntp-no-authenticate
Due: java-format, validate-grammar-rules

Arista: exclude AS_PATH-less contributors from aggregate AS_PATH
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/BgpRoutingProcess.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BgpRoutingProcessTest.java
Due: java-format

Arista: exclude non-BGP contributors from aggregate AS_PATH (#10100)
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/BgpRoutingProcess.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BgpRoutingProcessTest.java
Due: java-format

Hierarchy: allocate apply-groups node collections lazily
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/Hierarchy.java
Due: java-format

Hierarchy: allocate apply-groups node collections lazily (#10101)
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/Hierarchy.java
Due: java-format

Hierarchy: skip error-recovery when re-parsing generated set-lines
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/Hierarchy.java
Due: java-format

Hierarchy: skip error-recovery when re-parsing generated set-lines (#10102)
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/Hierarchy.java
Due: java-format

Hierarchy: cache wildcard match results during group inheritance
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/Hierarchy.java
Due: java-format

Hierarchy: cache wildcard match results during group inheritance (#10103)
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/Hierarchy.java
Due: java-format

comparePeerGroupPolicies: skip peers with no group
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesUtils.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesAnswererTest.java
Due: java-format

comparePeerGroupPolicies: skip peers with no group (#10107)
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesUtils.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesAnswererTest.java
Due: java-format

comparePeerGroupPolicies: add nodes specifier
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesAnswerer.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesQuestion.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesUtils.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesAnswererTest.java
  questions/experimental/comparePeerGroupPolicies.json
Due: java-format

comparePeerGroupPolicies: add nodes specifier (#10109)
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesAnswerer.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesQuestion.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesUtils.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesAnswererTest.java
  questions/experimental/comparePeerGroupPolicies.json
Due: java-format

checkstyle: drive via bazel target, mirror format.check
  .github/workflows/pre-commit.yml
  MODULE.bazel
  maven_install.json
  tools/checkstyle/BUILD.bazel
  tools/checkstyle/checkstyle.sh
  tools/run_checkstyle.sh
Due: none

checkstyle: drive via bazel target, mirror format.check (#10110)
  .github/workflows/pre-commit.yml
  MODULE.bazel
  maven_install.json
  tools/checkstyle/BUILD.bazel
  tools/checkstyle/checkstyle.sh
  tools/run_checkstyle.sh
Due: none

Updated com.puppycrawl.tools:checkstyle to 13.8.0
  MODULE.bazel
  maven_install.json
Due: none

Updated com.puppycrawl.tools:checkstyle to 13.8.0 (#10112)
  MODULE.bazel
  maven_install.json
Due: none

Arista: retain all EVPN import/export route-targets per VRF
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConversions.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpVrf.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_bgp_vrf
Due: java-format

Arista: honor `send-community extended` on EVPN neighbors
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_evpn_send_extended_community
Due: java-format

Arista: honor `send-community extended` on EVPN neighbors (#10116)
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_evpn_send_extended_community
Due: java-format

Arista: retain all EVPN import/export route-targets per VRF (#10115)
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConversions.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpVrf.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_bgp_vrf
Due: java-format

feat(cisco): extract Cisco NX-OS syslog server and logfile attributes
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_logging.g4
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosStructureUsage.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/LoggingLogfile.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/LoggingServer.java
  projects/batfish/src/test/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/cisco_nxos/grammar/testconfigs/nxos_logging
Due: java-format, validate-grammar-rules

NX-OS: extract Cisco NX-OS syslog server and logfile attributes (#10118)
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/cisco_nxos/grammar/CiscoNxos_logging.g4
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosStructureUsage.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/LoggingLogfile.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/LoggingServer.java
  projects/batfish/src/test/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/cisco_nxos/grammar/testconfigs/nxos_logging
Due: java-format, validate-grammar-rules

Updated async-profiler to 4.5
  MODULE.bazel
  maven_install.json
  tools/profiling/ARCHITECTURE.md
Due: none

async-profiler: finish the upgrade
  MODULE.bazel
  maven_install.json
Due: none

Path conditions:
  java-format: any of: \.java$
  validate-grammar-rules: any of: \.g4$
