Repository batfish/batfish: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, validate-grammar-rules

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: java-format
        name: java-format
        entry: ./tools/fix_java_format.sh --replace
        language: script
        files: '\.java$'
        require_serial: true
        pass_filenames: true
      - id: buildifier
        name: buildifier
        entry: bazel --noblock_for_lock run //:buildifier.fix
        language: system
        require_serial: true
        pass_filenames: false # this is a global check, only run it once
      - id: validate-grammar-rules
        name: validate-grammar-rules
        entry: ./tools/validate_grammar_rules.py --changed-only
        language: python
        files: '\.g4$'
        require_serial: true
        pass_filenames: true
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
          ]

Juniper: support `forwarding-context` for BGP sessions
  docs/question_development/bgpSessionStatus.md
  projects/allinone/src/test/java/org/batfish/e2e/bgp/forwardingcontext/BUILD.bazel
  projects/allinone/src/test/java/org/batfish/e2e/bgp/forwardingcontext/BgpForwardingContextTest.java
  projects/allinone/src/test/resources/org/batfish/e2e/bgp/forwardingcontext/BUILD.bazel
  projects/allinone/src/test/resources/org/batfish/e2e/bgp/forwardingcontext/configs/r1
  projects/allinone/src/test/resources/org/batfish/e2e/bgp/forwardingcontext/configs/r2
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/BgpGroup.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/bgp-forwarding-context
  projects/common/src/main/java/org/batfish/datamodel/BgpActivePeerConfig.java
  projects/common/src/main/java/org/batfish/datamodel/BgpPassivePeerConfig.java
  projects/common/src/main/java/org/batfish/datamodel/BgpPeerConfig.java
  projects/common/src/main/java/org/batfish/datamodel/BgpUnnumberedPeerConfig.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/BgpTopologyUtils.java
  projects/common/src/main/java/org/batfish/datamodel/questions/BgpPeerPropertySpecifier.java
  projects/common/src/test/java/org/batfish/datamodel/BgpUnnumberedPeerConfigTest.java
  projects/common/src/test/java/org/batfish/datamodel/bgp/BgpTopologyUtilsTest.java
  projects/question/src/main/java/org/batfish/question/bgpproperties/BgpPeerConfigurationAnswerer.java
  projects/question/src/main/java/org/batfish/question/bgpsessionstatus/BgpSessionAnswererUtils.java
  projects/question/src/main/java/org/batfish/question/bgpsessionstatus/BgpSessionCompatibilityAnswerer.java
  projects/question/src/main/java/org/batfish/question/bgpsessionstatus/BgpSessionStatusAnswerer.java
  projects/question/src/test/java/org/batfish/question/bgpproperties/BgpPeerConfigurationAnswererTest.java
  projects/question/src/test/java/org/batfish/question/bgpsessionstatus/BgpSessionAnswererUtilsTest.java
  projects/question/src/test/java/org/batfish/question/bgpsessionstatus/BgpSessionCompatibilityAnswererTest.java
  projects/question/src/test/java/org/batfish/question/bgpsessionstatus/BgpSessionStatusAnswererTest.java
  tests/basic/bgpSessionStatus.ref
Due: java-format, validate-grammar-rules

Juniper: support `forwarding-context` for BGP sessions (#9874)
  docs/question_development/bgpSessionStatus.md
  projects/allinone/src/test/java/org/batfish/e2e/bgp/forwardingcontext/BUILD.bazel
  projects/allinone/src/test/java/org/batfish/e2e/bgp/forwardingcontext/BgpForwardingContextTest.java
  projects/allinone/src/test/resources/org/batfish/e2e/bgp/forwardingcontext/BUILD.bazel
  projects/allinone/src/test/resources/org/batfish/e2e/bgp/forwardingcontext/configs/r1
  projects/allinone/src/test/resources/org/batfish/e2e/bgp/forwardingcontext/configs/r2
  projects/batfish/src/main/antlr4/org/batfish/grammar/flatjuniper/FlatJuniper_bgp.g4
  projects/batfish/src/main/java/org/batfish/grammar/flatjuniper/ConfigurationBuilder.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/BgpGroup.java
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/FlatJuniperGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/bgp-forwarding-context
  projects/common/src/main/java/org/batfish/datamodel/BgpActivePeerConfig.java
  projects/common/src/main/java/org/batfish/datamodel/BgpPassivePeerConfig.java
  projects/common/src/main/java/org/batfish/datamodel/BgpPeerConfig.java
  projects/common/src/main/java/org/batfish/datamodel/BgpUnnumberedPeerConfig.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/BgpTopologyUtils.java
  projects/common/src/main/java/org/batfish/datamodel/questions/BgpPeerPropertySpecifier.java
  projects/common/src/test/java/org/batfish/datamodel/BgpUnnumberedPeerConfigTest.java
  projects/common/src/test/java/org/batfish/datamodel/bgp/BgpTopologyUtilsTest.java
  projects/question/src/main/java/org/batfish/question/bgpproperties/BgpPeerConfigurationAnswerer.java
  projects/question/src/main/java/org/batfish/question/bgpsessionstatus/BgpSessionAnswererUtils.java
  projects/question/src/main/java/org/batfish/question/bgpsessionstatus/BgpSessionCompatibilityAnswerer.java
  projects/question/src/main/java/org/batfish/question/bgpsessionstatus/BgpSessionStatusAnswerer.java
  projects/question/src/test/java/org/batfish/question/bgpproperties/BgpPeerConfigurationAnswererTest.java
  projects/question/src/test/java/org/batfish/question/bgpsessionstatus/BgpSessionAnswererUtilsTest.java
  projects/question/src/test/java/org/batfish/question/bgpsessionstatus/BgpSessionCompatibilityAnswererTest.java
  projects/question/src/test/java/org/batfish/question/bgpsessionstatus/BgpSessionStatusAnswererTest.java
  tests/basic/bgpSessionStatus.ref
Due: java-format, validate-grammar-rules

BgpTopologyUtils: fix session with external peer whose AS matches a confederation member-AS
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BUILD.bazel
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BgpConfederationExternalMemberAsTest.java
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-confederation-external-member-as/BUILD.bazel
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-confederation-external-member-as/configs/r1
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-confederation-external-member-as/configs/r2
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-confederation-external-member-as/configs/r3
  projects/common/src/main/java/org/batfish/datamodel/BgpSessionProperties.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/BgpTopologyUtils.java
  projects/common/src/test/java/org/batfish/datamodel/bgp/BgpTopologyUtilsTest.java
Due: java-format

BgpTopologyUtils: fix session with external peer whose AS matches a confederation member-AS (#9878)
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BUILD.bazel
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/BgpConfederationExternalMemberAsTest.java
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-confederation-external-member-as/BUILD.bazel
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-confederation-external-member-as/configs/r1
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-confederation-external-member-as/configs/r2
  projects/batfish/src/test/resources/org/batfish/dataplane/ibdp/bgp-confederation-external-member-as/configs/r3
  projects/common/src/main/java/org/batfish/datamodel/BgpSessionProperties.java
  projects/common/src/main/java/org/batfish/datamodel/bgp/BgpTopologyUtils.java
  projects/common/src/test/java/org/batfish/datamodel/bgp/BgpTopologyUtilsTest.java
Due: java-format

AWS IPSec: fix VPN connection parsing when TunnelOptions is incomplete
  projects/batfish/src/main/java/org/batfish/representation/aws/IpsecTunnel.java
  projects/batfish/src/main/java/org/batfish/representation/aws/VpnConnection.java
Due: java-format

AWS IPSec: fix VPN connection parsing when TunnelOptions is incomplete (#9891)
  projects/batfish/src/main/java/org/batfish/representation/aws/IpsecTunnel.java
  projects/batfish/src/main/java/org/batfish/representation/aws/VpnConnection.java
Due: java-format

Upgrade Bazel pin to 9.1.0 (#9893)
  .bazelversion
Due: none

Arista: support BGP interface neighbors (unnumbered peering)
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/AristaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Arista_bgp.g4
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConversions.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaStructureUsage.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpInterfaceNeighbor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpVrf.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpVrfAddressFamily.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_bgp_neighbor_interface
Due: java-format, validate-grammar-rules

Update MODULE.bazel.lock
  MODULE.bazel.lock
Due: none

HeaderConstraintsToFlows: generalize TracerouteAnswererHelper to question-independent utility
  docs/question_development/traceroute.md
  projects/allinone/src/test/java/org/batfish/question/HeaderConstraintsToFlowsTest.java
  projects/question/src/main/java/org/batfish/question/HeaderConstraintsToFlows.java
  projects/question/src/main/java/org/batfish/question/traceroute/BidirectionalTracerouteAnswerer.java
  projects/question/src/main/java/org/batfish/question/traceroute/TracerouteAnswerer.java
  projects/question/src/test/java/org/batfish/question/HeaderConstraintsToFlowsTest.java
Due: java-format

Update MODULE.bazel.lock (#9895)
  MODULE.bazel.lock
Due: none

HeaderConstraintsToFlows: generalize TracerouteAnswererHelper to question-independent utility (#9896)
  docs/question_development/traceroute.md
  projects/allinone/src/test/java/org/batfish/question/HeaderConstraintsToFlowsTest.java
  projects/question/src/main/java/org/batfish/question/HeaderConstraintsToFlows.java
  projects/question/src/main/java/org/batfish/question/traceroute/BidirectionalTracerouteAnswerer.java
  projects/question/src/main/java/org/batfish/question/traceroute/TracerouteAnswerer.java
  projects/question/src/test/java/org/batfish/question/HeaderConstraintsToFlowsTest.java
Due: java-format

comparePeerGroupPolicies: fix package names
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesAnswerer.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesPlugin.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesQuestion.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesUtils.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/RoutingPolicyContextDiff.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/SyntacticCompare.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/SyntacticDifference.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesAnswererTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/question/comparepeergrouppolicies/RoutingPolicyContextDiffTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/question/comparepeergrouppolicies/SyntacticCompareTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/question/comparepeergrouppolicies/SyntacticDifferenceTest.java
Due: java-format

comparePeerGroupPolicies: fix package names (#9897)
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesAnswerer.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesPlugin.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesQuestion.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesUtils.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/RoutingPolicyContextDiff.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/SyntacticCompare.java
  projects/minesweeper/src/main/java/org/batfish/minesweeper/question/comparepeergrouppolicies/SyntacticDifference.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/question/comparepeergrouppolicies/ComparePeerGroupPoliciesAnswererTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/question/comparepeergrouppolicies/RoutingPolicyContextDiffTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/question/comparepeergrouppolicies/SyntacticCompareTest.java
  projects/minesweeper/src/test/java/org/batfish/minesweeper/question/comparepeergrouppolicies/SyntacticDifferenceTest.java
Due: java-format

Junos: apply autostate to VNI-backed VLANs
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JuniperIrbTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/irb-vxlan-autostate
Due: java-format

Junos: apply autostate to VNI-backed VLANs (#9898)
  projects/batfish/src/main/java/org/batfish/representation/juniper/JuniperConfiguration.java
  projects/batfish/src/test/java/org/batfish/grammar/flatjuniper/JuniperIrbTest.java
  projects/batfish/src/test/resources/org/batfish/grammar/juniper/testconfigs/irb-vxlan-autostate
Due: java-format

VXLAN-aware autostate: activate IRBs when L2 VNI tunnels come up
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalBdpEngine.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosConfiguration.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/EvpnTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/IncrementalBdpEngineTest.java
  projects/batfish/src/test/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosGrammarTest.java
  projects/common/src/main/java/org/batfish/datamodel/Interface.java
  projects/common/src/test/java/org/batfish/datamodel/InterfaceTest.java
Due: java-format

VXLAN-aware autostate: activate IRBs when L2 VNI tunnels come up (#9900)
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/IncrementalBdpEngine.java
  projects/batfish/src/main/java/org/batfish/dataplane/ibdp/VirtualRouter.java
  projects/batfish/src/main/java/org/batfish/vendor/cisco_nxos/representation/CiscoNxosConfiguration.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/EvpnTest.java
  projects/batfish/src/test/java/org/batfish/dataplane/ibdp/IncrementalBdpEngineTest.java
  projects/batfish/src/test/java/org/batfish/vendor/cisco_nxos/grammar/CiscoNxosGrammarTest.java
  projects/common/src/main/java/org/batfish/datamodel/Interface.java
  projects/common/src/test/java/org/batfish/datamodel/InterfaceTest.java
Due: java-format

Group async-profiler packages in bazel-steward config
  .bazel-steward.yaml
Due: none

Group async-profiler packages in bazel-steward config (#9904)
  .bazel-steward.yaml
Due: none

BOMInputStream: migrate from deprecated constructor to builder API
  projects/batfish/src/main/java/org/batfish/main/StreamDecoder.java
  tools/benchmarks/BenchmarkStreamDecoder.java
Due: java-format

BOMInputStream: migrate from deprecated constructor to builder API (#9905)
  projects/batfish/src/main/java/org/batfish/main/StreamDecoder.java
  tools/benchmarks/BenchmarkStreamDecoder.java
Due: java-format

async-profiler: upgrade to 4.4
  MODULE.bazel
  maven_install.json
Due: none

async-profiler: upgrade to 4.4 (#9907)
  MODULE.bazel
  maven_install.json
Due: none

Arista: set origin type to incomplete for BGP aggregate routes
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
Due: java-format

Arista: set origin type to incomplete for BGP aggregate routes (#9908)
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConversions.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
Due: java-format

MODULE.bazel.lock: rebuild after dependency upgrade
  MODULE.bazel.lock
Due: none

MODULE.bazel.lock: rebuild after dependency upgrade (#9911)
  MODULE.bazel.lock
Due: none

Arista: support BGP interface neighbors (unnumbered peering) (#9894)
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/AristaLexer.g4
  projects/batfish/src/main/antlr4/org/batfish/vendor/arista/grammar/Arista_bgp.g4
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConfiguration.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConversions.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaStructureUsage.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpInterfaceNeighbor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpVrf.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpVrfAddressFamily.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_bgp_neighbor_interface
Due: java-format, validate-grammar-rules

Arista: consolidate concrete BGP neighbors into a shared base class
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConversions.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpConcreteNeighbor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpInterfaceNeighbor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpV4DynamicNeighbor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpV4Neighbor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpV6Neighbor.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_bgp_neighbor_interface
Due: java-format

Arista: consolidate concrete BGP neighbors into a shared base class (#9912)
  projects/batfish/src/main/java/org/batfish/vendor/arista/grammar/AristaControlPlaneExtractor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/AristaConversions.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpConcreteNeighbor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpInterfaceNeighbor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpV4DynamicNeighbor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpV4Neighbor.java
  projects/batfish/src/main/java/org/batfish/vendor/arista/representation/eos/AristaBgpV6Neighbor.java
  projects/batfish/src/test/java/org/batfish/vendor/arista/grammar/AristaGrammarTest.java
  projects/batfish/src/test/resources/org/batfish/vendor/arista/grammar/testconfigs/arista_bgp_neighbor_interface
Due: java-format
